{% extends 'gestion/message/layoutMessage.html.twig' %}

{% block title %}Messagerie : message

{% endblock %}

{% block tableau %}

	<div class="section">
		<div class="row">
			<div class="col-12">

				<h2>{{message.titre}}</h2>
				<p>Message de :
					{{message.destinataire.nom ~ ' ' ~ message.destinataire.prenom}}</p>
				<p>{{message.createdat|date("d/m/Y à H : i", "Europe/Paris")}}</p>

				<div>{{message.message|raw}}</div>

			</div>


		</div>
	</div>


{% endblock %}
