{% extends 'gestion/message/layoutMessage.html.twig' %}

{% block title %}Messagerie : Boite d'envoi'

{% endblock %}

{% block tableau %}
	<h5>Boite d'envoi</h5>

	<div class="table-responsive mb-4">
		<div id="toolbar" class="text-center">
			<button id="message" class="btn btn-secondary">Message</button>
		</div>
		<table id="envoi" data-toolbar="#toolbar" data-addrbar="true" data-cookie="true" data-cookie-id-table="envoi" data-toggle="table" data-show-fullscreen="true" data-show-export="true" data-page-size="15" data-page-list="[15,50, 100, all]" data-filter-control="true" data-show-search-clear-button="true" data-search="true" data-show-columns="true" data-pagination="true" data-click-to-select="true" data-show-columns-toggle-all="true" data-buttons="buttons" data-show-toggle="true" data-id-field="id" data-reorderable-columns="true">
			<thead>
				<tr>
					<th data-field="state" data-checkbox="true" data-print-ignore="true"></th>
					<th data-field="id" data-visible="false" data-print-ignore="true" data-sortable="true">id</th>
					<th data-field="a" data-visible="true">A :</th>
					<th data-field="sujet" data-visible="true">Sujet</th>
					<th data-field="date" data-visible="true">date</th>
					<th data-field="lu" data-visible="false" data-sortable="true" data-filter-control="select">Lu</th>
				</tr>
			</thead>
			<tbody>
				{% for message in messages %}
					{% if message.isRead ==0 %}
						{% set bold = "background-color:##b87509" %}

					{% else %}
						{% set bold = "" %}
					{% endif %}
					<tr style="{{bold}}">
						<td></td>
						<td>{{message.destinataire.id}}</td>

						<td>{{message.destinataire.nom ~ ' ' ~ message.destinataire.prenom}}</td>
						<td>
							<a href="{{path('gestion_message_envoi_show',{id : message.id })}}">{{message.titre}}</td>
						</td>

						<td>{{message.createdat|date("d/m/Y à H : i", "Europe/Paris")}}</td>
						<td>{{ message.isRead ? 'oui' : 'non' }}</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>
	{# <script>
	var $table = $( '#envoi' );
	function getRowSelections() {
	return $.map( $table.bootstrapTable( 'getSelections' ), function( row ) {
	return row;
	} )
	}
	
	
	$( '#message' ).click( function() {
	var selectedRows = getRowSelections();
	var selectedItems = '\n';
	let ids = [];
	$.each( selectedRows, function( index, value ) {
	ids.push( value.id );
	} );
	if ( ids.length ) {
	window.location.href = "/gestion/correspondance/message/" + ids.toString();
	} else {
	alert( 'Vous devez d\'abord selectionner une ligne' );
	}
	} );</script> #}
{% endblock %}
{# {% block javascripts %}{{parent()}}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script><script src="https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.js"></script><script src="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/jquery.dragtable.js"></script><script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script><script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script><script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/addrbar/bootstrap-table-addrbar.min.js"></script><script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script><script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-fr-FR.min.js"></script><script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script><script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.min.js"></script>{% endblock %} #}