{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block contenu %}
	<div class="paquet p-2">
		<div class="paquet-header">
			Messagerie
		</div>
		<div class="paquet-contenu">
			<div class="row">
				{% include "gestion/message/_navbarMessage.html.twig" %}</div>
			<div class="row">
				{% block tableau %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}