{% extends 'gestion/message/layoutMessage.html.twig' %}


{% block title %}Messagerie : Nouveau message

{% endblock %}

{% block tableau %}
	<h1>Nouveau message</h1>
	
	
	{{form_start(formMessage)}}
	{{form_end(formMessage)}}


{% endblock %}
