{% extends 'gestion/message/layoutMessage.html.twig' %}

{% block title %}Messagerie : message

{% endblock %}

{% block tableau %}

	<div class="section">
		<div class="row">
			<div class="col-12">

				<h2>{{message.titre}}</h2>
				<div>
					<label class="form-switch mt-2">
						<input class="form-check-input marque" type="checkbox" {{ message.marque ? ' checked' : ' ' }} data-id="{{message.id}}">
						<span class="slider"></span>
					</label>
				</div>
				<p>Message de :
					{{message.expediteur.nom ~ ' ' ~ message.expediteur.prenom}}

					{% if dossier %}
						: <a href="{{ path('gestion_dossier_edit', {'id': dossier.id,'ancre': 'detail_none_none'}) }}">
							dossier en cours
						</a>
					{% endif %}

				</p>

				<p>{{message.createdat|date("d/m/Y à H : i", "Europe/Paris")}}</p>

				<div>{{message.message|raw}}</div>
				<a href="{{ path('gestion_message_repondre', {'id_destinaire': message.expediteur.id, 'titre': message.titre}) }}" class="btn btn-primary">Repondre</a>
			</div>

		</div>
	</div>


{% endblock %}
{% block javascripts %}
	{{parent()}}<script src="{{asset('assets/js/messageIndex.js')}}"></script>
{% endblock %}
