{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.tiny.cloud/1/uaxlngil0rdxs0you251wqib79lg7mpwj2yf7p9f0vvi88di/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({
selector: 'textarea.tinymce', // Ajustez le sélecteur selon votre cas
    plugins: 'link lists image code table',
    toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright | bullist numlist | link image | code',
    menubar: false,
    language: 'fr_FR',

    // Configuration pour URLs absolues
    relative_urls: false,
    remove_script_host: false,
    document_base_url: '{{ urlEspace }}',

    // Options de lien
    link_default_target: '_blank',
    link_assume_external_targets: true,
    link_context_toolbar: true,

    // Taille de l'éditeur
    height: 400 // Ajustez la hauteur selon vos besoins
});
	</script>
	<script>
	document.querySelector('form').addEventListener('submit', function (e) {
    const tinyMCEContent = tinymce.get('email_utilisateur_message').getContent();
    if (!tinyMCEContent.trim()) {
        alert("Le champ message est requis.");
        e.preventDefault(); // Empêche la soumission du formulaire
        tinymce.get('email_utilisateur_message').focus();
    }
});
	</script

{% endblock %}

{% block title %}Messagerie : Nouveau Email
{% endblock %}

{% block body %}
	<div class="paquet reduire">
		<div class="paquet-header">Nouveau Email aux utilisateurs sélectionnés</div>
		<div class="paquet-contenu">
			{{ form_start(formMessage) }}
			{{ form_widget(formMessage) }}
			{{ form_end(formMessage) }}
		</div>
	</div>
{% endblock %}
