{% extends 'gestion/layoutGestion.html.twig' %}


{% block title %}Messagerie : Nouveau message

{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">Nouveau message de groupe</div>
		<div class="paquet-contenu">

			{{form_start(formMessage)}}
			{{form_end(formMessage)}}
		</div>


	</div>
{% endblock %}
