{% extends 'gestion/layoutGestionBoutique.html.twig' %}

{% block title %}Boutique
{% endblock %}

{% block sousElement %}

	<div class="row">
		<div class="indicateurs">
			<div class="indiquateur-1">
				<h5>Nombre de commande :</h5>
				<div>{{purchases|length}}</div>
			</div>
			<div class="indiquateur-2">
				<h5>Montant commandé :</h5>
				<div>{{total| format_currency('EUR', locale='fr')}}</div>
			</div>
			<div class="indiquateur-3">
				<h5>Total des paiements :</h5>
				<div>{{totalPaiement| format_currency('EUR', locale='fr')}}</div>
			</div>
		</div>
		<div class="row text-center">
			<h3>Détail des produits commandés</h3>
			{{ render_chart(chartProduit) }}
		</div>
	</div>
{% endblock %}
