{% extends 'gestion/layoutGestionEvenement.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}


{% block title %}Options commandées
{% endblock %}

{% block sousElement %}

	<h3>Les options commandées de l'évenement :
		{{evenement.nom}}</h3>
	<div id="toolbar" class="action-contenaire">
		<div class="action">
			<div class="p-1">
				<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
					FILTRER
				</button>

				<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row">{{form_row(form.livre)}}</div>
						<div class="row">{{form_row(form.nb)}}</div>
						<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						{{form_end(form)}}
					</div>
				</div>
			</div>
			<div class="p-1">
				<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1">
				<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
			</div>
			<div class="p-1">
				<button id="LivraisonOption" class="btn btn-secondary">Livré</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1" id="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-layout-three-columns"></i>
				</button>
				<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
			</div>
			<div class="p-1">
				<button id="CSV" class="btn btn-secondary">CSV</button>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-hover" id="optionPurchase">
			<thead>
				<tr>
					<th class="colonne cache ">utilisateur id</th>
					<th class="colonne cache notSelected"></th>
					<th class="colonne">Utilisateur</th>
					<th class="colonne cache">mail</th>
					<th class="colonne">Produit</th>
					<th class="colonne">Livrée</th>
				</tr>
			</thead>
			<tbody>
				{% for p in option_purchases %}
					<tr>
						<td class="cache">{{p.utilisateur.id}}</td>
						<td class="cache">{{p.id}}</td>
						<td class="">{{p.utilisateur.nom}}
							{{p.utilisateur.prenom}}</td>
						<td class="cache">{{p.utilisateur.email}}</td>
						<td>
							{{p.optionEvenement.name}}
						</td>

						<td class="livre">{{p.Delivery ? 'Oui':'Non'}}</td>
					</tr>


				{% endfor %}
			</tbody>

		</table>
		<div class="row">
			<div class="col">
				<div class="navigation">
					{{ knp_pagination_render(option_purchases) }}
				</div>
			</div>
			<div class="col">
				<div class="count">
					Nb d'enregistrement :
					{{ option_purchases.getTotalItemCount }}</td>
			</tr>
		</div>

	{% endblock %}
