{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Vos categories d'âge
				<a href="{{ path('gestion_categorie_new') }}">
					<button class="btn btn-primary">Ajouter une nouvelle catégorie d'âge</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Catégorie</th>
							<th></th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{% for categorie_activite in categorie_activites %}
							<tr>
								<td>{{ categorie_activite.designation }}</td>
								<td>
									<a href="{{ path('gestion_categorie_edit', {'id': categorie_activite.id}) }}">
										<button class="btn btn-primary">
											<i class="bi bi-pencil-square"></i>
										</button>
									</a>

								</td>
								<td>
									<form method="post" action="{{ path('gestion_categorie_delete', {'id': categorie_activite.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette catégorie?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_activite.id) }}">
										<button class="btn btn-danger">
											<i class="bi bi-trash"></i>
										</button>
									</form>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Pas de catégorie d'âge</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}