{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouvelle categorie</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(formCategorie)}}
				{{form_row(formCategorie.designation)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_categorie_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formCategorie)}}
		</div>
	</div>
{% endblock %}