<section class="actualite" id="actualite">
	<div class="titre">
<div class="titre">
	<h2 class="titre-texte">
		<span>T</span>oute l' <span>A</span>ctualité</h2>
</div>
	</div>
	<div class="contenu">
		{% for actualite in actualites %}
			<a href="{{path('article', {'id': actualite.id} )}}">
				<div class="box">
					<div class="imbox">
						{% if vich_uploader_asset(actualite,'imageFile') %}
							<img src="{{asset(vich_uploader_asset(actualite,'imageFile'))}}" alt="">
						{% endif %}
					</div>
					<div class="text">
						<h3>{{actualite.titre}}</h3>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</section>