<section class="actualite" id="actualite">
	<div class="titre">
		<h2 class="titre-texte">
			<span>A</span>ctualité</h2>
	</div>
	<div class="contenu">
		{% for actualite in actualites %}
			<a href="{{path('article', {'id': actualite.id} )}}">
				<div class="box">
					<div class="imbox">
						{% if vich_uploader_asset(actualite,'imageFile') %}
							<img src="{{asset(vich_uploader_asset(actualite,'imageFile'))}}" alt=" ">
						{% endif %}
					</div>
					<div class="text">
						<h3>{{actualite.titre}}</h3>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
<div class="contenu">
		<a href="{{path('actualite')}}" class="btn1 actu" >Toute l'actualité</a>
	</div>
</section>