<section class="apropos" id="apropos">
	<div class="ligne text-center">
		<div class="titre">
			<h2 class="titre-texte">
				<span>A</span>
				Propos</h2>
		</div>
		<div class="description">
			<p>{{site.description|raw}}</p>
		</div>
	</div>
</section>