<section class="banniere" id="banniere" {% if vich_uploader_asset(site,'imageFile') %} style="background-image: url({{asset(vich_uploader_asset(site,'imageFile'))}});" {% endif %}>
	<div class="contenu">
		<h2>{{site.slogan}}</h2>
		<a href="#activite" class="btn1">Nos activités</a>
		<a href="{{espace}}" class="btn2">Inscription</a>
	</div>

</section>