<section class="contact" id="contact">
	<div class="titre noir">
		<h2 class="titre-text">
			<span>C</span>ontact</h2>

	</div>
	<div class="contactform">
		<h3>Envoyer un message</h3>
		{{form_start(form)}}
		<div class="inputboite">
			{{form_row(form.nom)}}
		</div>
		<div class="inputboite">
			{{form_row(form.email)}}
		</div>
		<div class="inputboite">
			{{form_row(form.message)}}
		</div>
		<div class="inputboite">
			<input type="submit" value="envoyer">
		</div>
		{{form_end(form)}}
	</div>
</section>