<section class="activite" id="activite">
	<div class="titre">
		<h2 class="titre-texte">
			{{menu.nom}}</h2>
	</div>
	<div class="contenu">
		{% for activite in activites %}
			<a href="{{path('article', {'id': activite.id} )}}">
				<div class="box">
					<div class="imbox">
						{% if vich_uploader_asset(activite,'imageFile') %}
							<img src="{{asset(vich_uploader_asset(activite,'imageFile'))}}" alt="">
						{% endif %}
					</div>
					<div class="text">
						<h3>{{activite.titre}}</h3>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</section>