<header>
	<a href="{{path('accueil')}}" class="logo">
		{{nomStructure}}
	</a>
	<div class="menuToggle" onclick="toggleMenu();"></div>
	<ul class="navbar">
		<li>
			<a href="{{path('accueil')}}" onclick="toggleMenu();">Accueil</a>
		</li>
		{% for menu in menus %}
			<li>
				<a href="{{path('menu', {'id': menu.id})}}">{{menu.nom}}</a>
			</li>
		{% endfor %}
		<li>
			<a href="#contact" onclick="toggleMenu();">Contact</a>
		</li>
		<li>
			<a href="{{espace}}" class="btn-connexion">Connexion</a>
		</li>
	</ul>
</header>