{% extends 'site/layoutSite.html.twig' %}
{% block title %}accueil
{% endblock %}

{% block body %}	
{% include "site/_bandeau.html.twig" %}
{% include "site/_apropos.html.twig" %}
{% include "site/_activite.html.twig" %}
{% include "site/_actualite.html.twig" %}
{% include "site/_contact.html.twig" %}
{% endblock %}