{% extends 'site/layoutSite.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('menu') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('menu') }}
{% endblock %}
{% block title %}accueil
{% endblock %}

{% block body %}
	<div class="menu">
		{% include "site/_actualites.html.twig" %}
	</div>
{% endblock %}