{% extends 'site/layoutSite.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('article') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('article') }}
{% endblock %}
{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="article">
		<div class="photo">
			{% if vich_uploader_asset(article,'imageFile') %}
				<img src="{{asset(vich_uploader_asset(article,'imageFile')|imagine_filter('article'))}}" alt=" ">
			{% endif %}
		</div>

		<div class="titre-texte">
			{{article.titre}}</div>
		<div class="corps">
			{{article.contenu|raw}}
		</div>
	</div>
{% endblock %}