<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Gestion
			{% endblock %}
		</title>

		{% block stylesheets %}

			{{ encore_entry_link_tags('site') }}
		{% endblock %}

		{% block javascripts %}

			{{ encore_entry_script_tags('site') }}
		{% endblock %}
	</head>
	<body>
		{% if siteActive %}
			{% block navbar %}
				{% include "site/_navbar.html.twig" %}
			{% endblock %}

			{% block body %}{% endblock %}
			{% block footer %}
				{% include "site/_footer.html.twig" %}
			{% endblock %}
		{% else %}
			<div class="default">


				<div style="margin:10px"><img src="{{asset('logo.png')}}" alt="logo" class="rounded mx-auto d-block" style="height:200px"></div>
				<div>

					<button class="btn btn-primary">
						<a class="navbar-brand" href="{{espace}}">Accéder à votre Espace Adhérent</a>
					</button>
				</div>

			</div>
		{% endif %}
		<script type="text/javascript">
			window.addEventListener( 'scroll', function() {
const header = document.querySelector( 'header' );
header.classList.toggle( "sticky", window.scrollY > 0 );
} );

function toggleMenu() {
const tmenuToggle = document.querySelector( '.menuToggle' );
const navbar = document.querySelector( '.navbar' );
navbar.classList.toggle( 'active' );
menuToggle.classList.toggle( 'active' );
}
		</script>
	</body>
</html>