{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Liste des cours
{% endblock %}

{% block element %}

	<div class="paquet">
		<div class="paquet-header">
			<div class="card-header">Tous les cours de la saison :
				{{saison.saison}}
				{% if saison.id==saisonEnCours.id %}
					<a href="{{ path('gestion_cours_new') }}">
						<button class="btn btn-primary">Ajouter un nouveau cours</button>
					</a>
				{% endif %}
			</div>
		</div>
		<div class="paquet-contenu">
			<div id="toolbar" class="action-contenaire">
				<div class="action">
					<div class="p-1">
						<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
					</div>
				</div>
				<div class="action">
					<div class="p-1" id="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-layout-three-columns"></i>
						</button>
						<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
					</div>
					<div class="p-1">
						<button id="CSV" class="btn btn-secondary">CSV</button>
					</div>
				</div>
			</div>
			<div class="table-responsive">
<table class="table table-bordered" width="100%" cellspacing="0" id="cours">
					<thead>
						<tr>

							<th class="colonne cache">id</th>
							<th class="colonne">Nom</th>
							<th class="colonne">Activité</th>
							<th class="colonne">Intervenant</th>
							{% if saisonEnCours.id == saison.id %}
								<th class="colonne"></th>
								<th class="colonne"></th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for cours in cours %}
							<tr>

								<td class="cache">{{cours.id}}</td>
								<td>{{ cours.nom }}</td>
								<td>{{ cours.activite.nom }}</td>
								<td>{{ cours.intervenant.nom }}
									{{ cours.intervenant.prenom }}</td>
								{% if saisonEnCours.id== saison.id %}
									<td>
										<a href="{{ path('gestion_cours_edit', {'id': cours.id}) }}">
											<button class="btn btn-primary">
												<i class="bi bi-pencil-square"></i>
											</button>
										</a>
									</td>
									<td>
										<form method="post" action="{{ path('gestion_cours_delete', {'id': cours.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce cours?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cours.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>
											</button>
										</form>
									</td>
								{% endif %}
							</tr>
						{% else %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row">
					<div class="col">
						<div class="navigation">{{ knp_pagination_render(cours) }}</div>
					</div>
					<div class="col">
						<div class="count">Nb d'enregistrement :{{ cours.getTotalItemCount }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}