{% extends 'gestion/layoutGestion.html.twig' %}


{% block title %}Cours
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouveau cours</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formCours)}}
			{{form_row(formCours.nom)}}
			{{form_row(formCours.intervenant)}}
			{{form_row(formCours.Activite)}}
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_cours_index', {'id_saison': saisonEnCours.id}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formCours)}}
		</div>
	</div>
{% endblock %}