{% extends 'utilisateur/layoutUtilisateur.html.twig' %}
{% block title %}Connexion
{% endblock %}

{% block contenu %}
	{{parent()}}
	<div class="paquet  reduireL">
		<div class="paquet-header">
			<h4>Accés interdit</h4>
		</div>
		<div class="paquet-body">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4"><img src="{{asset('logo.png')}}" alt="logo" class="rounded mx-auto d-block" style="height:200px"></h1>
				<p>VOUS N'AVEZ PAS LE DROIT D'ACCEDER A CETTE PAGE !!</p>
			</div>
		</div>
	</div>

{% endblock %}