{% extends 'utilisateur/layoutUtilisateur.html.twig' %}

{% block title %}Connexion
{% endblock %}
{% block navbar %}{% endblock %}

{% block contenu %}
	<div class="paquet-connexion">
		<div class="connexion">
			<div class="d-flex flex-column align-items-center ">


				<div class="login-form">
					<a href="{{vitrine}}">
						<h1 class="h4 text-gray-900 mb-4"><img src="{{asset('logo.png')}}" alt="logo" class="rounded mx-auto d-block pt-4" style="height:200px"></h1>
					</a>
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						{% if app.user %}
							<div class="mb-3">
								Vous etes connecté en tant que
								{{ app.user.username }}
								<a href="{{ path('logout') }}">
									<i class="bi bi-box-arrow-right"></i>
								</a>
							</div>
						{% endif %}
						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
						<label for="inputPassword">Mot de passe</label>
						<div class="input-group mb-3">
							<input
							type="password" name="password" id="inputPassword" class="form-control" required>
						{# <span class="input-group-text">																																																	<i class="far fa-eye" id="togglePassword" style="cursor: pointer"></i>
																																																																																				</span> #}
						</div>
						<label>
							<input type="checkbox" name="_remember_me">
							Se souvenir de moi
						</label>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="d-flex justify-content-around">
							<div class="p-1">
								<button class="btn btn-lg btn-primary" type="submit">
									Se connecter
								</button>
							</div>
							<div class="p-1">
								<a href="{{ path('app_register')}}">
									<button class="btn btn-lg btn-secondary" type="button">Créer un compte</button>
								</a>
							</div>
						</div>
					</form>
					<div>
						<a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié ?
						</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>

{# <script>
	const togglePassword = document.querySelector( "#togglePassword" );
const password = document.querySelector( "#inputPassword" );


togglePassword.addEventListener( "click", function() { // toggle the type attribute
const type = password.getAttribute( "type" ) === "password" ? "text" : "password";
password.setAttribute( "type", type );
// toggle the eye icon
this.classList.toggle( 'fa-eye' );
this.classList.toggle( 'fa-eye-slash' );
} );
</script> #}{% endblock %}