{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Modifier une taille
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Modification Taille
			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(form)}}
				{{form_row(form.taille)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_saison_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}