{% extends 'gestion/layoutGestionDossier.html.twig' %}

{% block title %}Mensurations
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Les tailles
				<a href="{{path('gestion_mensuration_new') }}">
					<button class="btn btn-primary">Ajouter une taille</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Taille</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for mensuration in mensurations %}
							<tr>

								<td>{{ mensuration.taille }}</td>
								<td>
									<a href="{{ path('gestion_mensuration_edit', {'id': mensuration.id}) }}">
										<button class="btn btn-primary">
											<i class="bi bi-pencil-square"></i>
										</button>
									</a>
								</td>
								<td>
									<form method="post" action="{{ path('gestion_mensuration_delete', {'id': mensuration.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette taille?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mensuration.id) }}">
										<button class="btn btn-danger">
											<i class="bi bi-trash"></i>
										</button>
									</form>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Pas de taille enregistrée</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}