{% extends 'utilisateur/layoutUtilisateur.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('showChat') }}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('showChat') }}


{% endblock %}
{% block title %}Chat
{% endblock %}

{% block contenu %}

	<div class="paquet reduireL pt-2">
		<div class="paquet-header">
			Chat du cours de
			{{cours.nom}}
		</div>
		<div class="paquet-contenu">
			{% for chat in chats %}
				{% if chat.expediteur == app.user %}
					<div class="chat-user">
						<p class="message-user">{{chat.message}}</p>
						<div>
							<form method="post" action="{{ path('utilisateur_chat_delete', {'id': chat.id, 'id_cours': cours.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce message?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chat.id) }}">
								<button>
									<i class="bi bi-x-circle" style="color:red;margin-right:5px"></i>
								</button>

							</form>
						</div>
					</div>
				{% else %}
					<div class="chat">
						{% if is_granted('ROLE_GESTION') %}
							<div>
								<form method="post" action="{{ path('gestion_chat_delete', {'id': chat.id, 'id_cours': cours.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce message?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chat.id) }}">
									<button>
										<i class="bi bi-x-circle" style="color:red;margin-right:5px"></i>
									</button>

								</form>
							</div>
						{% endif %}
						<div class="message">

							<u>{{chat.expediteur}}({{chat.createdat|date("d/m/Y à H : i", "Europe/Paris") }}) :
							</u>
							<p>{{chat.message}}</p>
						</div>
					</div>
				{% endif %}
			{% endfor %}
			{{form_start(formChat)}}
			<div class="formulaire" id="formulaire">
				<div class="champ">{{ form_row(formChat.message) }}</div>
				<div>
					<button type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-send" viewbox="0 0 16 16">
							<path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
						</svg>
					</button>
				</div>
			</div>
			{{form_end(formChat)}}
		</div>
	</div>
{% endblock %}