{% extends 'gestion/layoutGestionDossier.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}
{% block title %}Liste des inscriptions
{% endblock %}

{% block sousElement %}
	<div>
		<h3>Liste des inscriptions</h3>
		<div id="toolbar" class="action-contenaire">
			<div class="action">
				<div class="p-1">
					<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
						FILTRER
					</button>
				</div>
				<div class="offcanvas offcanvas-start filtre" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">
						{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.section) }}</div>
							<div class="col">{{form_widget(form.section)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.refAssureur) }}</div>
							<div class="col">{{form_widget(form.refAssureur)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.activite) }}</div>
							<div class="col">{{form_widget(form.activite)}}</div>
						</div>

						<div class="row p-2">
							<div class="col">{{ form_label(form.cours) }}</div>
							<div class="col">{{form_widget(form.cours)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.intervenant) }}</div>
							<div class="col">{{form_widget(form.intervenant)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.certificatObligatoire) }}</div>
							<div class="col">{{form_widget(form.certificatObligatoire)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.certificatPresent) }}</div>
							<div class="col">{{form_widget(form.certificatPresent)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.certificatValide) }}</div>
							<div class="col">{{form_widget(form.certificatValide)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.transmisAssureur) }}</div>
							<div class="col">{{form_widget(form.transmisAssureur)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.dossierComplet) }}</div>
							<div class="col">{{form_widget(form.dossierComplet)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.canceled) }}</div>
							<div class="col">{{form_widget(form.canceled)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.Nbpresence) }}</div>
							<div class="col">{{form_widget(form.Nbpresence)}}</div>
						</div>
						<div class="row p-2">
							<div class="col">{{ form_label(form.statut) }}</div>
							<div class="col">{{form_widget(form.statut)}}</div>
						</div>

						<div class="row p-2">
							<div class="col">{{ form_label(form.nb,'Nombre de lignes affichées') }}</div>
							<div class="col">{{form_widget(form.nb)}}</div>
						</div>
						<div class="row p-2">
							<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						</div>
						{{form_end(form)}}
					</div>
				</div>
				<div class="p-1">
					<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
				</div>
			</div>
			<div class="action">
				<div class="p-1">
					<button id="messagePratiquant" class="btn btn-secondary">Message</button>
				</div>
				<div class="p-1">
					<button id="email" class="btn btn-secondary">Email</button>
				</div>
				<div class="p-1">
					<button id="valider" class="btn btn-secondary">Certificat(s) validé(s)</button>
				</div>
				<div class="p-1">
					<button id="assureur" class="btn btn-secondary">Transmis à l'assureur</button>
				</div>
				<div class="p-1">
					<button id="canceledbuttom" class="btn btn-secondary">Annulation(s)</button>
				</div>
			</div>
			<div class="action">
				<div class="p-1" id="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-layout-three-columns"></i>
					</button>
					<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
				</div>
				<div class="p-1">
					<button id="CSV" class="btn btn-secondary">CSV</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row p-2">
		<div class="table-responsive">
			<table id="inscription" class="table table-hover">
				<thead>
					<tr>
						<th class="colonne cache notSelected">utilisateur</th>
						<th class="colonne cache notSelected">idInscription</th>
						<th class="colonne"></th>
						<th class="colonne cache sorted" {% if inscriptions.isSorted('cs.nom') %} {% endif %}>
							{{ knp_pagination_sortable(inscriptions, 'Section', 'cs.nom') }}
						</th>
						<th class="colonne cache sorted" {% if inscriptions.isSorted('cs.libelle') %} {% endif %}>{{ knp_pagination_sortable(inscriptions, 'Réf assureur', 's.libelle') }}
						</th>

						<th class="colonne cache sorted" {% if inscriptions.isSorted('a.nom') %} {% endif %}>
							{{ knp_pagination_sortable(inscriptions, 'Activité', 'a.nom') }}
						</th>
						<th class="colonne cache sorted">Nombre de présences</th>
						<th class="colonne cache">Demande particuliere</th>
						<th class="colonne sorted" {% if inscriptions.isSorted('c.nom') %} {% endif %}>
							{{ knp_pagination_sortable(inscriptions, 'Cours', 'c.nom') }}
						</th>
						<th class="colonne cache">Modif Cours</th>
						<th class="colonne sorted" {% if inscriptions.isSorted('int.nom') %} {% endif %}>
							{{ knp_pagination_sortable(inscriptions, 'Intervenant', 'int.nom') }}
						</th>
						<th class="colonne cache">Sexe</th>
						<th class="colonne sorted " {% if inscriptions.isSorted('p.nom') %} {% endif %}>
							{{ knp_pagination_sortable(inscriptions, 'Nom', 'p.nom') }}
						</th>
						<th class="colonne sorted" {% if inscriptions.isSorted('p.prenom') %} {% endif %}>
							{{ knp_pagination_sortable(inscriptions, 'Prénom', 'p.prenom') }}
						</th>
						<th class="colonne">Portable</th>
						<th class="colonne cache">Email</th>
						<th class="colonne cache">Date de naissance</th>
						{% if mensurationPratiquant %}
							<th class="colonne cache sorted" {% if inscriptions.isSorted('th.taille') %} {% endif %}>
								{{ knp_pagination_sortable(inscriptions, 'Taille haut', 'th.taille') }}
							</th>
							<th class="colonne cache sorted" {% if inscriptions.isSorted('tb.taille') %} {% endif %}>
								{{ knp_pagination_sortable(inscriptions, 'Taille Bas', 'tb.taille') }}</th>
						{% endif %}
						<th class="colonne cache">adresse</th>
						<th class="colonne cache">CP</th>
						<th class="colonne cache">Ville</th>
						<th class="colonne cache">Date du Certificat</th>
						<th class="colonne cache">Certificat Obligatoire</th>
						<th class="colonne cache">Certificat présent</th>
						<th class="colonne cache">Certificat médical</th>
						<th class="colonne cache">Certificat Validé</th>
						<th class="colonne cache">Transmis assureur</th>
						<th class="colonne cache">Dossier complet</th>
						<th class="colonne cache">Statut</th>
						<th class="colonne cache" {% if inscriptions.isSorted('i.dateChangementStatut') %} class="sorted" {% endif %}>
							{{ knp_pagination_sortable(inscriptions, 'Date Changement Statut', 'i.dateChangementStatut') }}
						</th>
						<th class="colonne cache">Annulé</th>
						<th class="colonne cache">Date date d'Annulation</th>
					</tr>
				</thead>
				<tbody>
					{% for inscription in inscriptions %}

						{% if inscription.dossier.dossierVerrouille == 0 %}
							{% set bold = "incomplet" %}
						{% else %}
							{% set bold = "" %}
						{% endif %}
						{% if inscription.canceled ==1 %}
							{% set bold = "locked" %}
						{% endif %}

						<tr class="{{bold}}">
							<td class="cache notSelected">{{inscription.dossier.adherent.id}}</td>
							<td class="cache notSelected">{{inscription.id}}</td>
							<td class="text-center">
								<a href="{{ path('gestion_dossier_edit', {'id': inscription.dossier.id,'ancre': 'pratiquant_'~ inscription.pratiquant.id ~'_inscription'}) }}" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Dossier">
									<i class="bi bi-folder"></i>
								</a>
							</td>
							<td class="cache">{{inscription.activite.section.categorieSection.nom}}</td>
							<td class="cache">{{inscription.activite.section.libelle}}</td>
							<td class="cache">{{ inscription.activite.nom }}</td>
							<td class="cache">{{ inscription.presenceCours }}</td>
							<td class="cache">{{inscription.demandeParticuliere}}</td>
							<td class="cours">
								{% if inscription.cours.nom is defined %}
									{{inscription.cours.nom}}
								{% endif %}
							</td>

							<td class="cache coursModif">
								<select class="form-select cours" aria-label="cours" data-id="{{inscription.id}}">
									<option {{inscription.cours ? '': 'selected'}}>Choisir un cours</option>
									{% for cours in inscription.activite.cours %}
										<option {% if inscription.cours.nom is defined %} {{inscription.cours.id == cours.id ? 'selected': ''}} {% endif %} value="{{cours.id}}">{{cours.nom}}
										</option>

									{% endfor %}
								</select>
							</td>
							<td>
								{% if inscription.cours.nom is defined %}
									{{ inscription.cours.intervenant.nom ~ ' '~ inscription.cours.intervenant.prenom}}
								{% endif %}
							</td>
							<td class="cache">{{inscription.pratiquant.sexe}}</td>
							<td>
								{{ inscription.pratiquant.nom}}</td>
							<td>{{inscription.pratiquant.prenom}}</td>
							<td>
								{{inscription.pratiquant.utilisateur.nom}}
								{{inscription.pratiquant.utilisateur.prenom}}:
								<a href="tel://{{inscription.pratiquant.utilisateur.portable}}">{{inscription.pratiquant.utilisateur.portable}},</a>

								{% if inscription.pratiquant.contactPratiquants %}
									{% for contact in inscription.pratiquant.contactPratiquants %}
										{{contact.nom}}
										{{contact.prenom}}:
										<a href="tel://{{contact.portable}}">
											{{contact.portable}},</a>
									{% endfor %}
								{% endif %}
							</td>
							<td class="cache">{{inscription.pratiquant.utilisateur.email}}</td>
							<td class="cache">{{inscription.pratiquant.naissance|date("d/m/Y", "Europe/Paris")}}</td>
							{% if mensurationPratiquant %}
								<td class="cache">
									{% if inscription.pratiquant.tailleHaut %}
										{{inscription.pratiquant.tailleHaut.taille}}
									{% endif %}
								</td>
								<td class="cache">
									{% if inscription.pratiquant.tailleBas %}
										{{inscription.pratiquant.tailleBas.taille}}
									{% endif %}
								</td>
							{% endif %}
							<td class="cache">{{inscription.pratiquant.utilisateur.adresse}}</td>
							<td class="cache">{{inscription.pratiquant.utilisateur.CP.code}}</td>
							<td class="cache">{{inscription.pratiquant.utilisateur.town.nomMaj}}</td>
							<td class="cache">
								{% if inscription.document %}
									{{inscription.document.dateCertificat|date('d-m-y') }}
								{% endif %}
							</td>
							<td class="cache text-center">{{ inscription.CertificatObligatoire ? 'oui' : 'non' }}</td>
							<td class="cache text-center">{{ inscription.document ? 'oui' : 'non' }}</td>
							<td class="cache text-center">
								{% if inscription.document %}
									{%include "gestion/dossier/_pratiquantModalDocumentInscription.html.twig" %}
								{% endif %}
							</td>
							<td class="cache certificat text-center">
								{% if inscription.CertificatObligatoire %}
									{{ inscription.CertificatValide ? 'oui' : 'non' }}
								{% endif %}
							</td>
							<td class="cache assureur text-center">{{ inscription.transmisAssureur ? 'oui' : 'non' }}</td>
							<td class="cache text-center">{{ inscription.dossier.dossierVerrouille ? 'oui' : 'non' }}</td>
							<td class="cache">{{ inscription.statut }}</td>
							<td class="cache">{{ inscription.datechangementstatut ? inscription.datechangementstatut|date('d-m-y') : ' ' }}</td>
							<td class="cache canceled">{{ inscription.canceled ? 'oui' : 'non' }}</td>
							<td class="cache canceledDate">
								{% if inscription.canceledDate %}
									{{ inscription.canceledDate|date('d-m-y') }}</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="row">
				<div class="col">
					<div class="navigation">{{ knp_pagination_render(inscriptions) }}</div>
				</div>
				<div class="col">
					<div class="count">Nb d'enregistrement :{{ inscriptions.getTotalItemCount }}</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
