{#<img src="{{email.image('@logo/logo.png')}}" alt="Logo">#}
<div class="paquet reduireL">
	<div class="paquet-header">
		<h1 class="text-center">Veuillez confirmer votre email!</h1>
	</div>
	<div class="paquet-contenu">
		<p>
			Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant:
			<br><br>
			<a href="{{ urlEspace ~ 'verify/' ~ contenu.utilisateurID ~ '/' ~ contenu.registrationToken }}">Confirmer mon e-mail</a>.
						
											Ce lien expirera dans
			{{ contenu.tokenLifeTime}}.

		</p>
	</div>
</div>

