{% extends 'utilisateur/layoutUtilisateur.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('formUtilisateur') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('formUtilisateur') }}
{% endblock %}

{% block title %}Créer un compte utilisateur
{% endblock %}

{% block contenu %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="paquet reduireL">
		<div class="paquet-header">
			<h1 class="text-center">Création d'un compte</h1>
		</div>
		<div class="paquet-contenu">

			<div style="margin:10px"><img src="{{asset('logo.png')}}" alt="logo" class="rounded mx-auto d-block" style="height:200px"></div>
			{{ form_start(formUtilisateur) }}
			<div class="row">
				<div class="col">{{form_row(formUtilisateur.nom)}}</div>
				<div class="col">{{form_row(formUtilisateur.prenom)}}</div>
			</div>
			<div class="row">{{form_row(formUtilisateur.adresse)}}</div>

			<div class="row">
				<div class="col">{{form_row(formUtilisateur.CP)}}</div>
				<div class="col">{{form_row(formUtilisateur.town)}}</div>
			</div>
			<div class="row">
				<div class="col">{{form_row(formUtilisateur.portable)}}</div>
				<div class="col">{{form_row(formUtilisateur.email)}}</div>
			</div>
			<div class="row">{{form_row(formUtilisateur.password)}}</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_regle_index', {'id_saison': saisonEnCours.id }) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>

			{{ form_end(formUtilisateur) }}


		</div>
	</div>


{% endblock %}