<!-- Topbar -->
<nav
	class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

	<!-- Sidebar Toggle (Topbar) -->
	<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
		<i class="fa fa-bars"></i>
	</button>


	<!-- Topbar Navbar -->
	<ul
		class="navbar-nav ml-auto">		

		<!-- Nav Item - Messages -->
		<li class="nav-item dropdown no-arrow">
			<a class="nav-link dropdown-toggle" href="{{path('utilisateur_message_reception')}}">
				<i class="fas fa-envelope"></i>
				<!-- Counter - Messages -->
				{% if nonlu >0 %}
					<span class="badge badge-danger badge-counter">{{nonlu}}</span>
				{% endif %}
			</a>

		</li>

		<div class="topbar-divider d-none d-sm-block"></div>

		<!-- Nav Item - User Information -->
		<li class="nav-item dropdown no-arrow">
			<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="mr-2 d-none d-lg-inline text-gray-600 small">
					{% if app.user %}
						{{ app.user.nom ~ ' ' ~ app.user.prenom}}
					{% endif %}
				</span>

				<img class="img-profile rounded-circle" src="{{asset('img/undraw_profile.svg')}}">
			</a>
			<!-- Dropdown - User Information -->
			<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="#">
					<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
					Profile
				</a>
				<a class="dropdown-item" href="#">
					<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
					Parametre
				</a>

				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{path('logout')}}">
					<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					Deconnexion
				</a>
			</div>
		</li>
	</ul>
</nav>
<!-- End of Topbar -->
