* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root {
    --step-color-active: black;
    --step-color-disabled: #e0e0e0;
    --step-ok: green;
    --step-fail: red;
}
.alert {
    cursor: pointer;
}
.progress-steps {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    padding: 15px;
}
.progress-steps .step-number {
    width: 30px;
    height: 30px;
    border: 3 px solid var(--step-color-disabled);
    border-radius: 50%;
    font: 16px consolas;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: border 0.4s ease-in;
    cursor: pointer;
}
.step-number.active {
    border: 3px solid var(--step-color-active);
    color: var(--step-color-active);
}

.ok {
    background: var(--step-ok);
}
.fail {
    background: var(--step-fail);
}
