{% extends 'gestion/layoutGestionBoutique.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Boutique
{% endblock %}

{% block sousElement %}

	<div class="p-2">
		<a href="{{ path('gestion_boutique_product_new') }}">
			<button class="btn btn-primary">Ajouter un nouveau produit</button>
		</a>
		<div id="toolbar" class="action-contenaire">
			<div class="action">

				<div class="p-1">
					<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
				</div>
			</div>
			<div class="action"></div>
			<div class="action">
				<div class="p-1" id="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-layout-three-columns"></i>
					</button>
					<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
				</div>
				<div class="p-1">
					<button id="CSV" class="btn btn-secondary">CSV</button>
				</div>
			</div>

		</div>
		<div class="table-responsive">
			<table class="table table-hover" id="dossier">
				<thead class="text-center">
					<tr>

						<th class="colonne cache">id</th>
						<th class="colonne">Image</th>
						<th class="colonne">Nom</th>
						<th class="colonne">Catégorie</th>
						<th class="colonne">actif</th>
						<th class="colonne">A la une</th>
						<thclass="colonne">Taille(s)</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}

						{% if product.actif ==0 %}
							{% set bold = "background-color:#EAE7E6" %}
						{% else %}
							{% set bold = "" %}
						{% endif %}
						<tr style="{{bold}}">

							<td class="cache">{{product.id}}</td>
							<td>
								<p class="text-center"><img src="{{vich_uploader_asset(product,'imageFile')|imagine_filter('vignette')}}"></p>

							</td>
							<td>
								{{ product.name}}
							</td>

							<td>
								{{ product.category.name}}
							</td>
							<td class="text-center">
								{{ product.actif ? 'oui' : 'non' }}
							</td>
							<td class="text-center">
								{{ product.enAvant ? 'oui' : 'non' }}
							</td>

							<td class="text-center">
								<a href="{{ path('gestion_boutique_taille_index', {'id': product.id}) }}">
									<button class="btn btn-success">
										<i class="bi bi-scissors"></i>
									</button>
								</a>
							</td>

							<td class="text-center">
								<a href="{{ path('gestion_boutique_product_edit', {'id': product.id}) }}">
									<button class="btn btn-primary">
										<i class="bi bi-pencil-square"></i>
									</button>
								</a>
							</td>
							<td>
								<form method="post" action="{{ path('gestion_boutique_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce produit?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
									<button class="btn btn-danger">
										<i class="bi bi-trash"></i>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}