{% extends 'gestion/layoutGestionBoutique.html.twig' %}


{% block title %}Nouveau produit
{% endblock %}

{% block sousElement %}

	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Nouveau produit

			</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formProduct)}}
			<div class="row">
				<div class="row">
					<div class="col-12 col-md-6">{{form_row(formProduct.name)}}</div>
					<div class="col-12 col-md-6">{{form_row(formProduct.category)}}</div>

				</div>
				<div class="row">
					{{form_row(formProduct.shortDescription)}}
					{{form_row(formProduct.imageFile)}}
					{{form_row(formProduct.enAvant)}}
					{{form_row(formProduct.actif)}}
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_boutique_product_index', {'id_saison': saisonEnCours.id}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formProduct)}}
		</div>
	</div>
{% endblock %}