{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Section
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Modification
			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(formSection)}}
				{{form_row(formSection.libelle)}}
				{{form_row(formSection.categorieSection)}}
				{{form_row(formSection.refAssureur)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_section_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formSection)}}
		</div>
	</div>


{% endblock %}