{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Sections
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Vos libellés
				<a href="{{ path('gestion_section_new') }}">
					<button class="btn btn-primary">Ajouter un nouveau libellé</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Libellé</th>
							<th>Ref assureur</th>
							<th>Categorie</th>
							<th></th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{% for section in sections %}
							<tr>
								<td>{{ section.libelle }}</td>

								<td>{{ section.refAssureur }}</td>
								<td>{{ section.categorieSection }}</td>
								<td>
									<a href="{{ path('gestion_section_edit', {'id': section.id}) }}">
										<button class="btn btn-primary">
											<i class="bi bi-pencil-square"></i>
										</button>
									</a>

								</td>
								<td>
									<form method="post" action="{{ path('gestion_section_delete', {'id': section.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet section?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
										<button class="btn btn-danger">
											<i class="bi bi-trash"></i>
										</button>
									</form>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Pas d'enregistrement</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>{% endblock %}