{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Sections
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Modification</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(formCategoriesection)}}
				{{form_row(formCategoriesection.nom)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_categoriesection_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formCategoriesection)}}
		</div>
	</div>
{% endblock %}