{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Sections
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Vos sections
				<a href="{{ path('gestion_categoriesection_new') }}">
					<button class="btn btn-primary">Ajouter une nouvelle section</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Designation de la section</th>
							<th></th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{% for categoriesection in categoriesections %}
							<tr>
								<td>{{ categoriesection.nom }}</td>
								<td>
									<a href="{{ path('gestion_categoriesection_edit', {'id': categoriesection.id}) }}">
										<button class="btn btn-primary">
											<i class="bi bi-pencil-square"></i>
										</button>
									</a>

								</td>
								<td>
									<form method="post" action="{{ path('gestion_categoriesection_delete', {'id': categoriesection.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette catégorie?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoriesection.id) }}">
										<button class="btn btn-danger">
											<i class="bi bi-trash"></i>
										</button>
									</form>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Pas de section enregistrée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}