{% extends 'intervenant/layoutIntervenant.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pratiquant-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .pratiquant-card {
            flex: 0 0 calc(33.333% - 10px);
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }
        .pratiquant-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .present {
            background-color: #d4edda;
        }
        @media (max-width: 768px) {
            .pratiquant-card {
                flex: 0 0 calc(50% - 10px);
            }
        }
        @media (max-width: 576px) {
            .pratiquant-card {
                flex: 0 0 100%;
            }
        }
        .legend {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
        .legend-item {
            display: flex;
            align-items: center;
            margin-left: 15px;
        }
        .legend-color {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border: 1px solid #ddd;
        }
        .legend-color.present { background-color: #d4edda; }
        .legend-color.absent { background-color: #f8f9fa; }
        .help-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #007bff;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 2px 10px rgba(0,0,0,0.2);
            transition: all 0.3s ease;
            z-index: 1000;
        }
        .help-icon:hover {
            transform: scale(1.1);
            box-shadow: 0 4px 20px rgba(0,0,0,0.3);
        }
        .help-icon i {
            font-size: 24px;
        }
        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.05); }
            100% { transform: scale(1); }
        }
        .help-icon.pulse {
            animation: pulse 2s infinite;
        }
    </style>
{% endblock %}

{% block contenu %}
    <div class="paquet reduireL">
        <div class="paquet-header">
            <h3>Gestion des présences</h3>
        </div>

        <div class="paquet-contenu">
            <div class="row mb-3">
                <div class="col">
                    <select id="coursActuel" class="form-select" data-bs-toggle="tooltip" data-bs-placement="top" title="Sélectionnez un cours pour filtrer les pratiquants">
                        <option value="tous">Tous les cours</option>
                        {% for cour in cours %}
                            <option value="{{ cour.id }}">{{ cour.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="legend">
                <div class="legend-item">
                    <div class="legend-color present"></div> Présent
                </div>
                <div class="legend-item">
                    <div class="legend-color absent"></div> Absent
                </div>
            </div>

            <div id="pratiquant-container" class="pratiquant-container">
                {% for inscription in inscriptions %}
                    {% set presenceKey = inscription.pratiquant.id ~ '-' ~ inscription.cours.id %}
                    <div class="pratiquant-card {% if presenceKey in presenceMap|keys %}present{% endif %}" 
                         data-pratiquant-id="{{ inscription.pratiquant.id }}" 
                         data-cours-id="{{ inscription.cours.id }}"
                         data-nom="{{ inscription.pratiquant.nom }}"
                         data-prenom="{{ inscription.pratiquant.prenom }}"
                         data-bs-toggle="tooltip"
                         data-bs-placement="top"
                         title="Cliquez pour marquer {% if presenceKey in presenceMap|keys %}absent{% else %}présent{% endif %}">
                        <h5>{{ inscription.pratiquant.nom }} {{ inscription.pratiquant.prenom }}</h5>
                        <p>Cours: {{ inscription.cours.nom }}</p>
                    </div>
                {% else %}
                    <p>Aucune inscription trouvée.</p>
                {% endfor %}
            </div>

            <div class="row mt-4">
                <div class="col">
                    <h4>Signaler une présence non enregistrée</h4>
                    <form id="messageAdminForm">
                        <input type="hidden" name="_token" value="{{ csrf_token('message_admin') }}">
                        <input type="hidden" id="selectedCourseId" name="cours_id" value="">
                        <div class="mb-3">
                            <textarea id="messageContent" name="content" class="form-control" rows="3" placeholder="Décrivez la situation..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer à l'administrateur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Icône d'aide flottante -->
    <div class="help-icon pulse" data-bs-toggle="modal" data-bs-target="#helpModal">
        <i class="fas fa-question"></i>
    </div>

    <!-- Modal d'aide -->
    <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Guide d'utilisation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Filtrer les pratiquants</h6>
                    <p>Utilisez le menu déroulant en haut pour filtrer les pratiquants par cours.</p>

                    <h6>Marquer les présences</h6>
                    <p>Cliquez sur une carte pour marquer un pratiquant comme présent. En cas d'erreur, recliquez sur la carte. Les cartes vertes indiquent une présence.</p>

                    <h6>Signaler un problème</h6>
                    <p>Utilisez le formulaire en bas de page pour signaler une présence non enregistrée à l'administrateur</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const pratiquantCards = document.querySelectorAll('.pratiquant-card');
            const coursSelect = document.getElementById('coursActuel');
            const pratiquantContainer = document.getElementById('pratiquant-container');
            const selectedCourseIdInput = document.getElementById('selectedCourseId');

            function sortCards(cards) {
                return Array.from(cards).sort((a, b) => {
                    const nomA = a.dataset.nom + ' ' + a.dataset.prenom;
                    const nomB = b.dataset.nom + ' ' + b.dataset.prenom;
                    return nomA.localeCompare(nomB);
                });
            }

            function filterAndRepositionPratiquants() {
                const selectedCoursId = coursSelect.value;
                const visibleCards = [];

                pratiquantCards.forEach(card => {
                    if (selectedCoursId === 'tous' || card.dataset.coursId === selectedCoursId) {
                        visibleCards.push(card);
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });

                // Trier et réorganiser les cartes visibles
                const sortedCards = sortCards(visibleCards);
                sortedCards.forEach(card => pratiquantContainer.appendChild(card));
            }

            coursSelect.addEventListener('change', function() {
                filterAndRepositionPratiquants();
                selectedCourseIdInput.value = this.value;
            });

            pratiquantCards.forEach(card => {
                card.addEventListener('click', function () {
                    const pratiquantId = this.dataset.pratiquantId;
                    const coursId = this.dataset.coursId;

                    fetch('{{ path('intervenant_presence_toggle_presence') }}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': '{{ csrf_token('toggle_presence') }}'
                        },
                        body: JSON.stringify({pratiquant: pratiquantId, cours: coursId})
                    }).then(response => response.json()).then(data => {
                        if (data.success) {
                            this.classList.toggle('present', data.present);
                            // Mettre à jour le tooltip
                            const tooltip = bootstrap.Tooltip.getInstance(this);
                            if (tooltip) {
                                this.setAttribute('title', `Cliquez pour marquer ${data.present ? 'absent' : 'présent'}`);
                                tooltip.dispose();
                                new bootstrap.Tooltip(this);
                            }
                        } else {
                            alert('Une erreur est survenue: ' + data.message);
                        }
                    }).catch(error => {
                        console.error('Erreur:', error);
                    });
                });
            });

            document.getElementById('messageAdminForm').addEventListener('submit', function (e) {
                e.preventDefault();
                const form = e.target;
                const formData = new FormData(form);

                fetch('{{ path('intervenant_presence_message_admin') }}', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json()).then(data => {
                    if (data.success) {
                        alert('Message envoyé à l\'administrateur');
                        form.reset();
                    } else {
                        alert('Une erreur est survenue lors de l\'envoi du message: ' + data.message);
                    }
                }).catch(error => {
                    console.error('Erreur:', error);
                });
            });

            // Initialiser les tooltips Bootstrap
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })

            // Gestion de l'icône d'aide
            const helpIcon = document.querySelector('.help-icon');
            helpIcon.addEventListener('click', function() {
                this.classList.remove('pulse');
            });

            // Afficher le guide au premier chargement
            if (!localStorage.getItem('guideShown')) {
                var helpModal = new bootstrap.Modal(document.getElementById('helpModal'));
                helpModal.show();
                localStorage.setItem('guideShown', 'true');
            } else {
                // Si le guide a déjà été montré, on arrête l'animation après quelques secondes
                setTimeout(() => {
                    helpIcon.classList.remove('pulse');
                }, 5000);
            }

            // Initial filter, sort and positioning
            filterAndRepositionPratiquants();
        });
    </script>
{% endblock %}