{% extends 'gestion/layoutGestionBoutique.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}


{% block title %}Catégorie
{% endblock %}

{% block sousElement %}
	<h3>Détail des commandes</h3>
	<div
		id="toolbar" class="action-contenaire">
		{#<<div class="action">
									<div class="p-1">
										button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
											FILTRER
										</button>
						
										<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">
						
											<div class="offcanvas-header">
												<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
											</div>
											<div class="offcanvas-body p-2">
											}	{{form_start(form)}}
												<div class="row">{{form_row(form.q)}}</div>
												<div class="row">{{form_row(form.livre)}}</div>
												<div class="row">{{form_row(form.paye)}}</div>
												<div class="row">{{form_row(form.nb)}}</div>
												<button type="submit" class="btn btn-primary w-100">FILTRER</button>
												{{form_end(form)}}
											</div>
										</div>
									</div>
						
								</div>#}

		<div class="action">
			<div class="p-1" id="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-layout-three-columns"></i>
				</button>
				<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
			</div>
			<div class="p-1">
				<button id="CSV" class="btn btn-secondary">CSV</button>
			</div>
		</div>
	</div>

<div class="table-responsive" >
		<table class="table table-hover" id="items">
			<thead class="text-center">
				<tr>
					<th class="colonne cache notSelected">Utilisateur</th>
					<th class="colonne">Réference la commande</th>
					<th class="colonne">Livré</th>
					<th class="colonne">Quantité</th>
					<th class="colonne">Produit</th>
				</tr>
			</thead>
			<tbody>
				{% for p in purchases %}
					{% for i in p.purchaseItems %}

						<tr>
							<td class="cache">{{i.purchase.utilisateur.id}}</td>
							<td class="text-center">{{i.purchase.id}}</td>
							<td class="text-center">
								{{i.purchase.utilisateur.nom}}
								{{i.purchase.utilisateur.prenom}}
							</td>
							<td class="text-center">{{i.livraison }}</td>

							<td class="text-center">{{i.quantity }}</td>
							<td>{{i.productName}}</td>

						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>

		</table>
	</div>
{% endblock %}