
<nav>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="{{path("utilisateur_message_reception")}}">
				<i class="fas fa-envelope"></i>
				Boite de réception
				{% if messagesRepository.nonLu(app.user) > 0 %}

					<span class="badge rounded-pill bg-danger">{{messagesRepository.nonLu(app.user)}}</span>

				{% endif %}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{path("utilisateur_message_envoi")}}">
				<i class="fas fa-paper-plane"></i>
				Messages envoyés
				{% if messagesRepository.nonouvert(app.user) > 0 %}
					<span class="badge rounded-pill bg-danger">{{messagesRepository.nonouvert(app.user)}}</span>
				{% endif %}
			</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link active" aria-current="page" href="{{path("utilisateur_message_new")}}">
				<button class="btn btn-primary">
					<i class="fas fa-plus"></i>
					Nouveau message</button>
			</a>
		</li>
		
		
	</ul>
</nav>
