{% extends 'utilisateur/message/layoutMessage.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Messagerie :Boite d'envoi

{% endblock %}

{% block element %}

	<h5>Boite d'envoi</h5>
	<div id="toolbar" class="action-contenaire">
		<div class="action">
			<div class="p-1">
				<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
					FILTRER
				</button>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">
						{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row">{{form_row(form.lu)}}</div>
						<div class="row">{{form_row(form.nb)}}</div>
						<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						{{form_end(form)}}
					</div>
				</div>
			</div>
			<div class="p-1">
				<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1">
				{% if is_granted('ROLE_GESTION') %}
					<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
					<a href="{{ path('utilisateur_message_mark_all_sent_as_read') }}" class="btn btn-secondary">Marquer tous comme lus</a>
				{% endif %}
			</div>
		</div>
		<div class="action">
			<div class="p-1" id="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-layout-three-columns"></i>
				</button>
				<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
			</div>

		</div>
	</div>

	<div class="table-responsive">

		<table class="table table-hover" id="messageEnvoi">
			<thead>
				<tr>
					<th class="colonne cache notSelected">utilisateur</th>
					<th class="colonne cache notSelected">id</th>
					<th class="colonne sorted" {% if messages.isSorted('u.nom') %} {% endif %}>
						{{ knp_pagination_sortable(messages, 'A :', 'u.nom') }}</th>
					<th class="colonne">Sujet</th>
					<th class="colonne">date</th>
					<th class="colonne cache" {% if messages.isSorted('m.is_read') %} {% endif %}>
						{{ knp_pagination_sortable(messages, 'Lu', 'm.is_read') }}
					</th>
				</tr>
			</thead>
			<tbody>
				{% for message in messages %}
					{% if message.isRead ==0 %}
						{% set bold = "nonLu" %}
					{% else %}
						{% set bold = "" %}
					{% endif %}
					<tr class="{{bold}}">

						<td class="cache">{{message.destinataire.id}}</td>
						<td class="cache">{{message.id}}</td>
						<td>{{message.destinataire.nom ~ ' ' ~ message.destinataire.prenom}}</td>
						<td>
							<a href="{{path('utilisateur_message_envoi_show',{id : message.id })}}">{{message.titre}}</td>
						</td>

						<td>{{message.createdat|date("d/m/Y à H : i", "Europe/Paris")}}</td>
						<td class="cache">{{ message.isRead ? 'oui' : 'non' }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col">
			<div class="navigation">
				{{ knp_pagination_render(messages) }}
			</div>
		</div>
		<div class="col">
			<div class="count">
				Nb d'enregistrement :
				{{ messages.getTotalItemCount }}
			</div>
		</div>
	</div>
{% endblock %}
