{% extends 'utilisateur/message/layoutMessage.html.twig' %}

{% block title %}Messagerie : message

{% endblock %}

{% block element %}
<div class="row border border-secondary rounded-3">
	<h3>{{message.titre}}</h3>
	<p>Message de :
		{{message.destinataire.nom ~ ' ' ~ message.destinataire.prenom}}</p>
	<p>{{message.createdat|date("d/m/Y à H : i", "Europe/Paris")}}</p>
	<div>{{message.message|raw}}</div>
</div>
{% endblock %}
