{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block contenu %}
	<div class="paquet reduireL pt-2">
		<div class="paquet-header">
			Messagerie
		</div>
		<div class="paquet-contenu">
			{% include "utilisateur/message/_navbarMessage.html.twig" %}
			{% block element %}{% endblock %}
		</div>
	</div>
{% endblock %}
