{% extends 'utilisateur/message/layoutMessage.html.twig' %}
{% block javascripts %}

	{{parent()}}
	{{ encore_entry_script_tags('newMessage') }}

{% endblock %}

{% block title %}Messagerie : Nouveau message

{% endblock %}

{% block element %}
	<h1>Nouveau message</h1>
	{{form_start(formMessage)}}
	{{form_end(formMessage)}}
	<div class="text-center">
		<a href="{{path('utilisateur_message_reception')}}">
			<button class="btn btn-secondary" type="button">Annuler</button>
		</a>
	</div>
{% endblock %}