{% extends 'utilisateur/message/layoutMessage.html.twig' %}

{% block title %}Messagerie : message

{% endblock %}

{% block element %}
<div class="row border border-secondary rounded-3">
		<h3>Sujet :
			{{message.titre}}</h3>
		{# {% if is_granted('ROLE_GESTION') %}
									<div>
										<label class="form-switch mt-2">
											<input class="form-check-input marque" type="checkbox" {{ message.marque ? ' checked' : ' ' }} data-id="{{message.id}}">
											<span class="slider"></span>
										</label>
									</div>
								{% endif %} #}

		<p>Message de :
			{{message.expediteur.nom ~ ' ' ~ message.expediteur.prenom}}
			{% if is_granted('ROLE_GESTION') %}
				{% if dossier %}
					:
					<a href="{{ path('gestion_dossier_edit', {'id': dossier.id,'ancre': 'detail_none_none'}) }}">
						dossier en cours
					</a>
				{% endif %}
			{% endif %}
		</p>
		<p>{{message.createdat|date("d/m/Y à H : i", "Europe/Paris")}}</p>
		<div class="row my-5 p-2">{{message.message|raw}}</div>


	</div>
	<div class="row text-center mt-2 m-auto w-50 ">
		<a href="{{ path('utilisateur_message_repondre', {'id_destinaire': message.expediteur.id, 'titre': message.titre}) }}" class="btn btn-primary">Repondre</a>
	</div>
{% endblock %}