:root {
    --color1: #fb911f;
    --color2: grey;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
.swiper {
    width: 600px;
    height: 600px;
}
p {
    font-weight: 300;
    color: #111;
}
.default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background: var(--color2);
    // opacity: 0.66;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.navbar {
    display: flex;
    position: relative;
}
.navbar li {
    list-style: none;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-connexion {
    // padding: 10px 20px;
    // background: var(--color1);
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-reserve:hover {
    background: #d87710;
    transition: ease-out;
}

header .navbar li a:hover {
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

.banniere {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.banniere .contenu {
    max-width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banniere .contenu h2 {
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.contenu p:nth-child(2) {
    color: #ffff;
    font-size: 1.2em;
}

.btn1 {
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    width: 250px;
}
.btn1.actu{
     width: 300px;
     text-align: center;
}
.btn2 {
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    width: 250px;
}


.btn1:hover {
    letter-spacing: 4px;
}
section {
    padding: 100px;
}
.ligne {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ligne h2 {
    margin-bottom: 20px;
}
.description {
    text-align: justify;
}
.titre-texte {
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span {
    color: var(--color1);
    font-size: 1.5em;
    font-weight: 700px;
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.activite {
    margin-top: -100px;
}

.activite .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.activite .contenu .box {
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
}

.activite .contenu .box .imbox {
    position: relative;
    width: 100%;
    height: 300px;
}

.activite .contenu .box .imbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.activite .contenu .box .text {
    text-align: center;
    font-weight: 300px;
    color: #111;
}

.activite .contenu .box .text h3 {
    font-weight: 400;
}

.actualite {
    margin-top: -100px;
}

.actualite .contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.actualite .contenu .box {
    width: 250px;
    margin: 15px;
}
.actualite .contenu .box img {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.actualite .contenu .box h3 {
    color: #111;
    font-weight: 400;
    text-align: center;
}

.blanc .titre-texte {
    color: #fff;
}

.blanc .titre-texte,
.blanc p {
    color: #fff;
}

.contact {
    // // background-image: url(./assets/images/img-form.jpg);
    // background-size: cover;
    // box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    // width: 100vw;
    // background-position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 25px;
}

.contactform {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    width: 80vw;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    // margin-left: 38%;
}


.contactform .inputboite {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contactform .inputboite input,
.contactform .inputboite textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputboite input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}

.copyright {
    padding: 20px 40px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(228, 222, 222);
    text-align: center;
}

.copyright p:nth-child(1) {
    color: #333;
}

.copyright a {
    color: #fb911f;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

.contact .titre-text span {
    color: #fb911f;
    font-size: 2em;
}

header.sticky {
    background: var(--color2);
    opacity: 1;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover {
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navbar li {
        margin-left: 0px;
        padding: 5px;
    }

    header .navbar li a {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }

    .navbar {
        display: none;
    }
    section {
        padding: 20px;
    }

    header .navbar.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #ffff;
        align-items: center;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url("../../../../public//assets/images/menu.png");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }

    .menuToggle.active {
        background-image: url("../../../../public/assets/images/close.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-origin: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    .banniere{
        background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    }

    .banniere .contenu h2 {
        font-size: 2em;
    }

    .row .col50 img {
        margin-left: 18%;
    }

    .contenu p:nth-child(2) {
        font-size: 1.2em;
    }
    .activite {
        margin-top: 0px;
    }
    .actualite {
        margin-top: 0px;
    }

    .menu {
        margin-top: 0px;
    }

    .ligne {
        display: flex;
        flex-direction: column;
    }

   

    .ligne {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .ligne {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .banniere .contenu h2 {
        font-size: 2.2em;
        color: #fff;
    }

    .titre-text {
        color: #000;
        font-size: 2rem;
        font-weight: 300;
        text-transform: capitalize;
    }

    .activite {
        margin-top: 0px;
    }
}
