.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    transform: translateY(100px);
    
}
.corps{
    padding: 20px;
}
.copyright{
    transform: translateY(125px);
}