{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block title %}E-mail de réinitialisation du mot de passe envoyé
{% endblock %}


{% block body %}
	<div class="paquet  reduireL">
		<div class="paquet-contenu">
			<p>
				S'il existe un compte correspondant à votre e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
																																									         Ce lien expirera dans
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
			</p>
			<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
				<a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
			<p class="p-3">
				<a href="#">
					<button class="btn btn-primary">Accueil</button>
				</a>
			</p>
		</div>
	</div>
{% endblock %}