<div class="paquet reduireL">
	<div class="paquet-header">
		<h4>réinitialisez votre mot de passe</h4>
	</div>
	<div class="paquet-body">
		<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>


		<a href="{{ urlEspace ~'reset-password/reset/'~ contenu.resetToken.token }}">CHANGER VOTRE MOT DE PASSE</a>


		<p>Ce lien expirera dans
			{{ contenu.resetToken.expirationMessageKey|trans(contenu.resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
	</div>
</div>