{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block title %}réinitialisez votre mot de passe
{% endblock %}


{% block contenu %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="paquet reduireL">
		<div class="paquet-header">
			<h4>Réinitialisez votre mot de passe</h4>
		</div>
		<div class="paquet-contenu">


			{{ form_start(requestForm) }}
			{{ form_row(requestForm.email) }}

			<small>
				Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
			</small>

			<button class="btn btn-primary">Envoyer un e-mail de réinitialisation de mot de passe</button>
			{{ form_end(requestForm) }}
			<p class="p-3">
				<a href="#">
					<button class="btn btn-primary">Accueil</button>
				</a>
			</p>


		</div>
	</div>
{% endblock %}