{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block title %}réinitialisez votre mot de passe
{% endblock %}


{% block contenu %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<h4>réinitialisez votre mot de passe</h4>
		</div>
		<div class="paquet-contenu">
			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}
			<button class="btn btn-primary">Réinitialiser le mot de passe</button>
			{{ form_end(resetForm) }}</div>
	</div>


{% endblock %}