{% extends 'gestion/layoutGestionSite.html.twig' %}

{% block title %}Liste des menus{% endblock %}

{% block sousElement %}
<h3>Liste de vos menus</h3>
<div id="toolbar" class="action-contenaire">
<div class="p-1">
	<a href="{{path('gestion_site_menu_new') }}">
		<button class="btn btn-primary">Ajouter un nouveau menu</button>
	</a>
</div>
</div>
<div class="row p-2">
	<div class="table-responsive">
		<table id="menu" class="table table-hover">
			<thead>
				<tr>

					<th>Menu</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for menu in menus %}
					<tr>

						<td>{{ menu.nom }}</td>
						<td>
							<a href="{{ path('gestion_site_menu_edit', {'id': menu.id}) }}">
								<button class="btn btn-primary">
									<i class="bi bi-pencil-square"></i>
								</button>
							</a>
						</td>
						<td>
							<form method="post" action="{{ path('gestion_site_menu_delete', {'id': menu.id} ) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce menu?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.id) }}">
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

 
{% endblock %}
