{% extends 'gestion/layoutGestionSite.html.twig' %}

{% block title %}nouveau menu{% endblock %}

{% block sousElement %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouveau menu

			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(form)}}
				{{form_row(form.nom)}}
				{{form_row(form.description)}}			

				<div class="text-center">
					<button class="btn btn-primary btn" type="submit">Enregistrer</button>
					<a href="{{ path('gestion_site_menu_index') }}">
						<button class="btn btn-secondary" type="button">Annuler</button>
					</a>
				</div>
				{{form_end(form)}}
			</div>


		</div>
	</div>


{% endblock %}
