{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Container
{% endblock %}

{% block element %}
	<div class="row p-3 justify-content-evenly">
		<div class="col-md-3"></div>
		<div class="col-12 col-md-6 ">

			<div class="card">
				<div class="card-header">Modification</div>
				<div class="card-body">{{form_start(formContainer)}}
					{{form_end(formContainer)}}</div>

			</div>


		</div>
		<div class="col-md-3"></div>

	</div>


{% endblock %}
