{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Container
{% endblock %}

{% block element %}
	<div class="row p-3 justify-content-evenly">
		<div class="col-md-3"></div>
		<div class="col-12 col-md-6 ">
			<div class="card">
				<div class="card-header">Container
					<a href="{{ path('gestion_container_new') }}">
						<button class="btn btn-primary">Ajouter un nouveau container</button>
					</a>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>

								<th>Nom</th>
								
								<th colspan="2">actions</th>
							</tr>
						</thead>
						<tbody>
							{% for container in containers %}
								<tr>
									<td>{{ container.nom }}</td>
									
									<td>
										<a href="{{ path('gestion_evenement_edit', {'id': container.id,'ancre':'container'}) }}">
											<button class="btn btn-primary">
												<i class="bi bi-pencil-square"></i>

											</button>
										</a>
									</td>
									<td>
										<form method="post" action="{{ path('gestion_evenement_delete', {'id': container.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce container?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ container.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>

											</button>
										</form>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="3">Pas de container enregistré</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>

		</div>
		<div class="col-md-3"></div>
	</div>
</div></div>{% endblock %}

