{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Nouveau
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouveau container</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formContainer)}}
			{{form_row(formContainer.nom)}}
			{{form_row(formContainer.nbPlace)}}
			{{form_row(formContainer.nbLigne)}}

			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_evenement_edit',{'id': id_evenement,'ancre':'container'}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formContainer)}}</div>
	</div>


{% endblock %}