{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Toutes vos saisons
{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Les saisons
				<a href="{{path('gestion_saison_new') }}">
					<button class="btn btn-primary">Ajouter une nouvelle saison</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
<table class="table table-bordered" width="100%" cellspacing="0" id="saison">
					<thead>
						<tr>
							<th class="text-center">Saison</th>
							<th class="text-center">Début</th>
							<th class="text-center">Fin</th>
							<th colspan="3" class="text-center">Détails</th>
							<th class="text-center">action</th>
						</tr>
					</thead>
					<tbody>
						{% for saison in saisons %}
							<tr>
								<td>{{ saison.saison }}</td>
								<td>{{saison.debut|date('d m y')}}</td>
								<td>{{saison.fin|date('d m y')}}</td>
								<td>
									<a href="{{ path('gestion_activite_index', {'id_saison': saison.id}) }}">
										<button class="btn btn-secondary">Activités</button>
									</a>

								</td>
								<td>
									<a href="{{ path('gestion_cours_index', {'id_saison': saison.id}) }}">
										<button class="btn btn-secondary">Cours</button>
									</a>
								</td>
								<td>
									<a href="{{ path('gestion_regle_index', {'id_saison': saison.id}) }}">
										<button class="btn btn-secondary">Regles tarifaires</button>
									</a>
								</td>
								{% if saisonEnCours.id == saison.id %}
									<td>
										<a class="btn btn-primary" href="{{path("gestion_saison_edit", {'id': saison.id})}}">
											<i class="bi bi-pencil-square"></i>
										</a>
									</td>
								{% else %}
									<td></td>
								{% endif %}

							</tr>
						{% else %}
							<tr>
								<td colspan="2">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endblock %}