{% extends 'gestion/layoutGestion.html.twig' %}


{% block title %}Nouvelle saison
{% endblock %}

{% block element %}

	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouvel saison</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(form)}}
				{{form_row(form.saison)}}
				{{form_row(form.debut)}}
				{{form_row(form.fin)}}
				{{form_row(form.dupliquer)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_saison_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}