{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Type de document
{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Type de document
				<a href="{{ path('gestion_type_document_new') }}">
					<button class="btn btn-primary">Ajouter un nouveau type de document</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Type</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for type_de_document in type_de_documents %}
							<tr>
								<td>{{ type_de_document.type }}</td>

								{% if type_de_document.verrouille == false %}
									<td>
										<a href="{{ path('gestion_type_document_edit', {'id': type_de_document.id}) }}">
											<button class="btn btn-primary">
												<i class="bi bi-pencil-square"></i>
											</button>
										</a>
									</td>
									<td>
										<form method="post" action="{{ path('gestion_type_document_delete', {'id': type_de_document.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce type de document?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_de_document.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>

											</button>
										</form>
									</td>
								{% else %}
									<td colspan="3"></td>
								{% endif %}
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Pas de type de document</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}