{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Type De Document
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouveau type de document</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(formTypeDeDocument)}}
				{{form_row(formTypeDeDocument.type)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_type_document_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formTypeDeDocument)}}
		</div>
	</div>
{% endblock %}