{% extends 'gestion/layoutGestion.html.twig' %}


{% block title %}Localisation

{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	<style type="text/css">
		#map {
			/* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
			height: 400px;
		}
	</style>


{% endblock %}

{% block element %}
	<div class="row p-3">
		
		<div class="col">
			<div class="card">
				<div class="card-header">
					{{titre}}
				</div>
				<div class="card-body">
					<div class="card shadow mb-4">
						<div class="card-body">
							<div id="map"></div>
						</script>
					</div>

				</div>
			</div>

		</div>
		
	</div>
	<!-- Fichiers Javascript -->
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
	<script type="text/javascript">
		// On initialise la latitude et la longitude de Paris (centre de la carte)
var lat = {{ coordonneeAsso.latitude }};
var lon = {{ coordonneeAsso.longitude }};
var macarte = null;
var markerClusters;
// Servira à stocker les groupes de marqueurs
// Nous initialisons une liste de marqueurs
var villes = {
{% for ville in villes %}
"{{ ville.ref }}" : {
"lat": {{ ville.latitude }},
"lon": {{ ville.longitude }}
},{% endfor %}
};

// Fonction d'initialisation de la carte
function initMap() { // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
macarte = L.map('map').setView([
lat, lon
], 11);
// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
minZoom: 1,
maxZoom: 20
}).addTo(macarte);
}
window.onload = function () { // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
initMap();
for (ville in villes) {
var marker = L.marker([
villes[ville].lat,
villes[ville].lon
]).addTo(macarte);
// Nous ajoutons la popup. A noter que son contenu (ici la variable ville) peut être du HTML
marker.bindPopup(ville);
}
}
	</script>


{% endblock %}
{% block javascripts %}
	{{ parent() }}


{% endblock %}
