{% extends 'gestion/layoutGestionEvenement.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}
{% block title %}Paiement Evénement
{% endblock %}

{% block sousElement %}

	<h3 class="card-header">Liste des paiements de l'événement :
		{{evenement.nom}}
		<a href="{{ path('gestion_evenement_paiement_evenement_new', {'id_evenement': evenement.id}) }}" class="btn btn-primary">Ajouter un paiement</a>
	</h3>
	<div id="toolbar" class="row">
		<div class="action">
			<div class="p-1">
				<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
					FILTRER
				</button>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">
						{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row">{{form_row(form.typeDePaiement)}}</div>
						<div class="row">{{form_row(form.banque)}}</div>
						<div class="row">{{form_row(form.encaissement)}}</div>
						<div class="row">{{form_row(form.encaisse)}}</div>
						<div class="row">{{form_row(form.nb)}}</div>
						<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						{{form_end(form)}}
					</div>
				</div>
			</div>
			<div class="p-1">
				<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
			</div>
		</div>
		<div class="col-sm-4  d-flex justify-content-center">
			<div class="p-1">
				<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
			</div>
		</div>
		<div class="col-sm-4  d-flex justify-content-center">
			<div class="p-1" id="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-layout-three-columns"></i>
				</button>
				<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
			</div>
			<div class="p-1">
				<button id="CSV" class="btn btn-secondary">CSV</button>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover" id="paiementEvenement">
			<thead>
				<tr>
					<th class="colonne cache notSelected">utilisateur</th>
					<th class="colonne cache notSelected">id</th>
					<th class="colonne sorted text-center">
						{{ knp_pagination_sortable(paiementEvenements, 'Nom', 'u.nom') }}</th>
					<th class="colonne sorted text-center">
						{{ knp_pagination_sortable(paiementEvenements, 'Prénom', 'u.prenom') }}</th>
					<th class="colonne sorted text-center">
						{{ knp_pagination_sortable(paiementEvenements, 'Type', 't.nom') }}</th>
					<th class="colonne text-center">Encaissement</th>
					<th class="text-center colonne sorted">
						{{ knp_pagination_sortable(paiementEvenements, 'Montant', 'p.montant') }}</th>
					<th class="colonne sorted text-center">
						{{ knp_pagination_sortable(paiementEvenements, 'Banque', 'b.nom') }}</th>
					<th class="colonne text-center">Réference</th>
					<th class="colonne text-center">Encaissé</th>
					<th class="colonne text-center">Remarque</th>
					<th class="colonne text-center"></th>
					<th class="colonne text-center"></th>
				</tr>
			</thead>
			<tbody>

				{% for paiement in paiementEvenements %}
					<tr>
						<td class="cache">{{paiement.utilisateur.id}}</td>
						<td class="cache">{{paiement.id}}</td>
						<td class="text-center">
							{{paiement.utilisateur.nom}}
						</td>
						<td class="text-center">
							{{paiement.utilisateur.prenom}}
						</td>
						<td class="text-center">
							{{paiement.typeDePaiement}}
						</td>
						<td class="text-center">
							{{paiement.encaissement}}
						</td>
						<td class="text-center">
							{{paiement.montant| format_currency('EUR', locale='fr') }}

						</td>
						<td class="text-center">
							{{paiement.banque}}
						</td>
						<td class="text-center">
							{{paiement.reference}}
						</td>
						<td class="text-center">
							{{paiement.encaisse}}
						</td>
						<td class="text-center">
							{{paiement.remarque}}
						</td>
						<td class="text-center">
							<a href="{{ path('gestion_evenement_paiement_evenement_edit', {'id': paiement.id}) }}">
								<button class="btn btn-primary">
									<i class="bi bi-pencil-square"></i>
								</button>
							</a>
						</td>
						<td class="text-center">
							<form method="post" action="{{ path('gestion_evenement_paiement_evenement_delete', {'id': paiement.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce paiement?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paiement.id) }}">
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col">
			<div class="navigation">{{ knp_pagination_render(paiementEvenements) }}</div>
		</div>
		<div class="col">
			<div class="count">Nb d'enregistrement :{{ paiementEvenements.getTotalItemCount }}</div>
		</div>
	</div>
{% endblock %}