{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Modifier la banque
{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Modification banque</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formBanque)}}
			<div>{{form_row(formBanque.nom)}}</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_banque_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formBanque)}}
		</div>
	</div>
{% endblock %}