{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Banque
{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Banque
				<a href="{{ path('gestion_banque_new') }}">
					<button class="btn btn-primary">Ajouter une nouvelle banque</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" id="activiteTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Nom</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for banque in banques %}
							<tr>
								<td>{{ banque.nom }}</td>
								{% if banque.verrouille == false %}

									<td>
										<a href="{{ path('gestion_banque_edit', {'id': banque.id}) }}">
											<button class="btn btn-primary">
												<i class="bi bi-pencil-square"></i>

											</button>
										</a>
									</td>
									<td>
										<form method="post" action="{{ path('gestion_banque_delete', {'id': banque.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette banque?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ banque.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>

											</button>
										</form>

									</td>
									{% endif %}
								</tr>
							{% else %}
								<tr>
									<td colspan="3">Pas de banque enregistrée</td>
								</tr>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% endblock %}