{% extends 'gestion/layoutGestionSite.html.twig' %}
{% block stylesheets %}

	{{parent()}}
	{{ encore_entry_link_tags('tableauFree') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}
{% block title %}Liste des articles du site
{% endblock %}

{% block sousElement %}
	<h3>Liste de vos articles et activités</h3>
	<div id="toolbar" class="row">
		<div class="col">
			
				<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
					FILTRER
				</button>
				<div class="offcanvas offcanvas-start lateral" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">
					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">
						{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row">{{form_row(form.categorie)}}</div>
						<div class="row">{{form_row(form.menu)}}</div>

						<div class="row">{{form_row(form.nb)}}</div>
						<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						{{form_end(form)}}
					</div>
				</div>
			
				<a href="{{path('gestion_site_article_new') }}">
					<button class="btn btn-primary">Ajouter un nouvel article</button>
				</a>
			
		</div>
		<div class="col">
			<div class="p-1">
				<button id="enLigne" class="btn btn-secondary">En ligne</button>
			</div>
		</div>
	</div>
	<div class="row p-2">
		<div class="table-responsive">
			<table id="article" class="table table-hover">
				<thead>
					<tr>
						<th class="cache"></th>
						<th class="cache">id</th>
						<th>{{ knp_pagination_sortable(articles, 'Titre', 'a.titre') }}</th>
						<th>Image</th>
						<th>{{ knp_pagination_sortable(articles, 'Catégorie', 'c.nom') }}</th>
						<th>{{ knp_pagination_sortable(articles, 'Menu', 'm.nom') }}</th>
						<th>{{ knp_pagination_sortable(articles, 'crée le', 'a.createdAt') }}</th>
						<th>{{ knp_pagination_sortable(articles, 'modifié le', 'a.updateAt') }}</th>
						<th>{{ knp_pagination_sortable(articles, 'En ligne', 'a.enLigne') }}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td class="cache"></td>
							<td class="cache">{{article.id}}</td>
							<td>{{ article.titre }}</td>
							<td>
								<p><img src="{{vich_uploader_asset(article,'imageFile')|imagine_filter('vignette')}}"></p>
							</td>
							<td>{{article.categorie}}</td>
							<td>{{article.menu}}</td>
							<td>{{ article.createdAt ? article.createdAt|date("d/m/Y à H : i", "Europe/Paris")}}</td>
							<td>{{ article.createdAt ? article.updatedAt|date("d/m/Y à H : i", "Europe/Paris")}}</td>
							<td class="enLigne">
								{{ article.enLigne ? 'Oui' : 'Non' }}

							</td>
							<td>
								<a href="{{ path('gestion_site_article_edit', {'id': article.id}) }}">
									<button class="btn btn-primary">
										<i class="bi bi-pencil-square"></i>
									</button>
								</a>
							</td>
							<td>
								<form method="post" action="{{ path('gestion_site_article_delete', {'id': article.id} ) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet article?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
									<button class="btn btn-danger">
										<i class="bi bi-trash"></i>
									</button>
								</form>
							</td>

						</tr>
					{% else %}
						<tr>
							<td colspan="5">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}