{% extends 'gestion/layoutGestionSite.html.twig' %}

{% block title %}Nouvel article
{% endblock %}

{% block sousElement %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Nouvel article

			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(form)}}
				<div class="row">
					<div class="col-12 col-md-6">{{form_row(form.titre)}}</div>
					<div class="col-12 col-md-6">{{form_row(form.enLigne)}}</div>
				</div>
				{{form_row(form.contenu)}}
				{{form_row(form.imageFile)}}
				<div class="row">
					<div class="col">
						{{form_row(form.categorie)}}</div>
					<div class="col">{{form_row(form.menu)}}</div>
				</div>


				<div class="text-center">
					<button class="btn btn-primary btn" type="submit">Enregistrer</button>
					<a href="{{ path('gestion_site_article_index', {'id_saison': saisonEnCours.id }) }}">
						<button class="btn btn-secondary" type="button">Annuler</button>
					</a>
				</div>
				{{form_end(form)}}
			</div>


		</div>
	</div>


{% endblock %}