{% extends 'utilisateur/layoutUtilisateur.html.twig' %}
{% block javascripts %}
	{{parent()}}

	{{ encore_entry_script_tags('formUtilisateur') }}

	{#{{ encore_entry_script_tags('form') }}
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
						<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
						<script src="{{asset('assets/js/inscriptionGestionType.js')}}"></script>
							<script src="{{asset('assets/js/inscriptionDossier.js')}}"></script>#}


{% endblock %}

{% block title %}Utilisateur
{% endblock %}
{% block contenu %}
	<div class="paquet">
		<div class="paquet-header">
			Creation d'un compte
		</div>
		<div class="paquet-contenu">
			{{form_start(formUtilisateur)}}
			{{form_widget(formUtilisateur)}}

			<button class="btn btn-primary btn" type="submit">

				Enregistrer</button>
			{{form_end(formUtilisateur)}}

		</div>
	</div>

{% endblock %}
