{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Sujet
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Modification
			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{% if sujet.verrouille %}
					<p>Attention, il sagit d'un sujet verrouillé. Seule le destinataire peut être modifié!</p>
				{% endif %}
				{{form_start(formSujet)}}
				{{form_row(formSujet.sujet)}}
				{{form_row(formSujet.destinataire)}}
				{{form_row(formSujet.categorie)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_sujet_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formSujet)}}
		</div>
	</div>
{% endblock %}