{% extends 'gestion/layoutGestion.html.twig' %}


{% block title %}Sujet
{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Sujet
				<a href="{{ path('gestion_sujet_new') }}">
					<button class="btn btn-primary">Ajouter un sujet</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Sujet</th>
							<th>destinataire</th>
							<th>Categorie</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for sujet in sujets %}
							<tr>

								<td>{{ sujet.sujet }}</td>
								<td>{{sujet.destinataire}}</td>
								<td>{{sujet.categorie}}</td>
								<td>
									<a href="{{ path('gestion_sujet_edit', {'id': sujet.id}) }}">
										<button class="btn btn-primary">
											<i class="bi bi-pencil-square"></i>
										</button>
									</a>
								</td>
								<td>
									<form method="post" action="{{ path('gestion_sujet_delete', {'id': sujet.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce type de document?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sujet.id) }}">
										<button class="btn btn-danger">
											<i class="bi bi-trash"></i>
										</button>
									</form>
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="3">Pas de sujet</td>
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}