<a href="{{path('espace')}}">
	<i class="bi bi-house-door-fill" style="font-size: 2rem"></i>
</a>
{% if is_granted('ROLE_GESTION') %}
	<a class="nav-link" href="{{path('gestion')}}">
		<i class="bi bi-speedometer2" style="font-size: 2rem"></i>
	</a>
{% endif %}

<a href="{{path('utilisateur_message_reception')}}">
	<div class="tag">
		{% if messagesRepository.nonLu(app.user) >0 %}
			<span class="badge rounded-pill bg-danger">{{messagesRepository.nonLu(app.user)}}</span>
		{% endif %}
	</div>
	<i class="bi bi-envelope" style="font-size: 2rem"></i>
</a>
{% set informations = '' %}
{% for information in informationRepostory.infos() %}
	{% set informations = information %}
{% endfor %}
{% if informations.coursVisible %}
	<a class="dropdown-toggle" href="" id="chat" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		<div class="tag">
			{% if chatService.nbPostNonLuParUtilisateur(app.user) >0 %}
				<span class="badge rounded-pill bg-danger">{{chatService.nbPostNonLuParUtilisateur(app.user)}}</span>
			{% endif %}
		</div>
		<i class="bi bi-chat-dots" style="font-size: 2rem"></i>
	</a>
	<ul class="dropdown-menu" aria-labelledby="chat">
		{% for cour in chatService.coursChatParUtilisateurConnected() %}

			{% if cour is defined %}
				<li>
					<a class="dropdown-item" href="{{path('utilisateur_chat_show', {'id_cours': cour.id})}}">
						{{cour.nom}}
						{% if chatService.nbPostNonLuParUtilisateurParCours(cour,app.user) >0 %}
							<span class="badge rounded-pill bg-danger">{{chatService.nbPostNonLuParUtilisateurParCours(cour,app.user)}}</span>
						{% endif %}
					</a>
				</li>
			{% endif %}
		{% endfor %}

	</ul>
{% endif %}

<a class="dropdown-toggle" href="" id="profil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	<i class="bi bi-person" style="font-size: 2rem"></i>
</a>
<ul class="dropdown-menu" aria-labelledby="profil">
	<li>
		<a class="dropdown-item" href="{{path('utilisateur_profile_edit')}}">
			<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
			Profile
		</a>
	</li>
	<li>
		<a class="dropdown-item" href="{{path('app_forgot_password_request')}}">
			<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
			Changer votre mot de passe
		</a>
	</li>
	<li>
		<a class="dropdown-item" href="{{path('logout')}}">
			<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
			Deconnexion
		</a>
	</li>
</ul>
