<div class="container-fluid">
	<a class="navbar-brand" href="{{vitrine}}">{{nomStructure}}</a>
	{# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button> #}
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ms-auto flex-nowrap">
			{% if app.user %}
				{% if is_granted('ROLE_GESTION') %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('gestion')}}">
							Tableau de bord
						</a>
					</li>
				{% endif %}


				<li class="nav-item">
					<a class="nav-link" href="{{path('espace')}}">
						Votre espace
					</a>
				</li>

				{% set informations = '' %}
				{% for information in informationRepostory.infos() %}
					{% set informations = information %}
				{% endfor %}
				{% if informations.coursVisible %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="chatDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-chat-dots"></i>
							{% if chatService.nbPostNonLuParUtilisateur(app.user) >0 %}
								<span class="badge rounded-pill bg-danger">{{chatService.nbPostNonLuParUtilisateur(app.user)}}</span>
							{% endif %}
						</a>
						<ul class="dropdown-menu" aria-labelledby="chatDropdown">


							{% for cour in chatService.coursChatParUtilisateurConnected() %}

								{% if cour is defined %}
									<li>
										<a class="dropdown-item" href="{{path('utilisateur_chat_show', {'id_cours': cour.id})}}">
											{{cour.nom}}
											{% if chatService.nbPostNonLuParUtilisateurParCours(cour,app.user) >0 %}
												<span class="badge rounded-pill bg-danger">{{chatService.nbPostNonLuParUtilisateurParCours(cour,app.user)}}</span>
											{% endif %}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('utilisateur_message_reception')}}">
						<i class="bi bi-envelope"></i>
						{% if messagesRepository.nonLu(app.user) >0 %}
							<span class="badge rounded-pill bg-danger">{{messagesRepository.nonLu(app.user)}}</span>
						{% endif %}
					</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="mr-2 d-none d-lg-inline text-gray-600 small">
							{% if app.user %}
								{{ app.user.nom ~ ' ' ~ app.user.prenom}}
							{% endif %}
						</span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{path('utilisateur_profile_edit')}}">

								<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								Profil
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_forgot_password_request')}}">
								<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
								Changer votre <br> mot de passe
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('logout')}}">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
								Déconnexion
							</a>
						</li>
					</ul>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('security_login')}}">
						Connexion
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
