{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('formUtilisateur') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('formUtilisateur') }}

{% endblock %}


{% block title %}Intervenant
{% endblock %}

{% block element %}

	<div class="paquet reduire">

		<div class="paquet-header">Modification</div>
		<div class="paquet-contenu">
			{{form_start(formUtilisateur)}}
			{{form_widget(formUtilisateur)}}

			<button class="btn btn-primary btn" type="submit">

				Enregistrer</button>
			{{form_end(formUtilisateur)}}


		</div>
	</div>


{% endblock %}
