{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}
{% block element %}

	<div class="paquet">
		<div class="paquet-header">
			<h3>Liste des intervenants
			</h3>
		</div>
		<div class="paquet-contenu">
			<div class="action-contenaire">
				<div class="action">
					<div class="p-1">
						<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
							FILTRER
						</button>
					</div>
					<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

						<div class="offcanvas-header">
							<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body p-2">
							{{form_start(form)}}
							<div class="row">{{form_row(form.q)}}</div>

							<div class="row">{{form_row(form.nb)}}</div>
							<button type="submit" class="btn btn-primary w-100">FILTRER</button>
							{{form_end(form)}}
						</div>
					</div>
					<div class="p-1">
						<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
					</div>
				</div>
				<div class="action">
					<div class="p-1">
						<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
					</div>
					<div class="p-1">
						<button id="email" class="btn btn-secondary">Email</button>
					</div>

				</div>
				<div class="action">
					<div class="p-1" id="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-layout-three-columns"></i>
						</button>
						<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
					</div>
					<div class="p-1">
						<button id="CSV" class="btn btn-secondary">CSV</button>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="table-responsive">
					<table class="table table-hover" id="intervenant">
						<thead>
							<tr>

								<th class="colonne cache notSelected">id</th>
								<th class="colonne"></th>
								<th class="colonne" {% if intervenants.isSorted('u.nom') %} {% endif %}>{{ knp_pagination_sortable(intervenants, 'Nom', 'u.nom') }}</th>
								<th class="colonne" {% if intervenants.isSorted('u.prenom') %} {% endif %}>{{ knp_pagination_sortable(intervenants, 'Prénom', 'u.prenom') }}</th>
								<th class="colonne">Portable</th>
								<th class="colonne">Email</th>
								<th class="colonne">Remarque</th>
								<th class="colonne cache">Derniere connexion</th>
								<th class="colonne"></th>
							</tr>
						</thead>
						<tbody>
							{% for intervenant in intervenants %}
								<tr>
									<td class="cache">{{ intervenant.id }}</td>
									<td class="text-center">
										<a href="{{ path('espace', {'_switch_user': intervenant.email}) }}">

											<i class="bi bi-person-bounding-box"></i>
										</a>
									</td>
									<td>{{ intervenant.nom }}</td>
									<td>{{ intervenant.prenom }}</td>
									<td>{{ intervenant.portable }}</td>
									<td>{{ intervenant.email }}</td>
									<td>{{intervenant.remarque}}</td>
									<td class="cache">
										{% if intervenant.derniereConnexion %}
											{{ intervenant.derniereConnexion|date("Y/m/d à H : i", "Europe/Paris") }}
										{% endif %}
									</td>
									<td>
										<a href="{{ path('gestion_intervenant_edit', {'id': intervenant.id}) }}">
											<button class="btn btn-primary">
												<i class="bi bi-pencil-square"></i>
											</button>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col">
						<div class="navigation">
							{{ knp_pagination_render(intervenants) }}
						</div>
					</div>
					<div class="col">
						<div class="count">
							Nb d'enregistrement :
							{{ intervenants.getTotalItemCount }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}