{% extends 'utilisateur/layoutUtilisateur.html.twig' %}
{% block javascripts %}
	{{parent()}}
{{ encore_entry_script_tags('formInscription') }}	
{% endblock %}


{% block title %}Inscription
{% endblock %}

{% block contenu %}
<div class="paquet reduire">
	<div class="paquet-header">
		<div class="card-header">Modifier l'inscription

		</div>
	</div>
	<div class="paquet-contenu p-2">
		{{form_start(formInscription)}}
		{{form_start(formInscription)}}
		{{ form_row(formInscription.categorie) }}
		{{ form_row(formInscription.activite) }}
		{% if  is_granted('ROLE_GESTION')%}
			{{ form_row(formInscription.cours) }}
		{% endif %}
		{{ form_row(formInscription.document) }}
		{% if formInscription.ajouter is defined %}
			{{ form_row(formInscription.ajouter) }}
		{% endif %}
		{{ form_row(formInscription.demandeParticuliere) }}
		<div class="row text-center">
			<div class="col">{{ form_row(formInscription.envoyer) }}</div>
			<div class="col">
				<a href="{{ path('utilisateur_dossier_edit', {'ancre': 'pratiquant_none_none'}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
		</div>
		{{form_end(formInscription)}}
	</div>
</div>
{% endblock %}

