{% extends 'utilisateur/layoutUtilisateur.html.twig' %}



{% block title %}Liste des inscriptions
{% endblock %}

{% block contenu %}

	<h1 class="h3 mb-2 text-gray-800">Liste des inscriptions</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">

		<div class="card-body">
			<div class="table-responsive mb-4">
				<input type="checkbox" class="selectAll" name="selectAll" value="all">Tout selectionner
				<button id="mail" class="btn btn-secondary">Mail</button>
				<table class="table table-bordered display nowrap" id="inscriptionTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th></th>
							<th>id</th>
							<th>Nom</th>
							<th>Activite</th>
							<th>Cours</th>
							<th>Intervenant</th>
							<th>Certificat Obligatoire</th>
							<th>Certificat médical</th>
							<th>Certificat Validé</th>
							<th>Transmis assureur</th>
							<th>Statut</th>
							<th>DateChangementStatut</th>

						</tr>
					</thead>
					<tbody>
						{% for inscription in inscriptions %}
							<tr>
								<td></td>
								<td>{{inscription.id}}</td>
								<td>{{ inscription.pratiquant.nom ~ ' ' ~ inscription.pratiquant.prenom }}</td>
								<td>{{ inscription.activite.nom }}</td>
								<td>
									{% if inscription.cours.nom is defined %}
										{{ inscription.cours.nom}}
									{% endif %}
								</td>
								<td>
									{% if inscription.cours.nom is defined %}
										{{ inscription.cours.intervenant.nom ~ ' '~ inscription.cours.intervenant.prenom}}
									{% endif %}
								</td>
								<td class="text-center">
									{{ inscription.CertificatObligatoire ? 'oui' : 'non' }}
								</td>
								<td class="text-center">
									{% if inscription.CertificatObligatoire %}
										{%include "gestion/dossier/_pratiquantModalDocumentInscription.html.twig" %}
									{% endif %}
								</td>
								<td class="text-center">
									{% if inscription.CertificatObligatoire %}
									<label class="form-switch mt-2">
										<input class="form-check-input valider" type="checkbox" {{ inscription.CertificatValide ? ' checked' : ' ' }} data-id="{{inscription.id}}">
										<span class="slider"></span>
									</label>
									{% endif %}
								</td>
								<td class="text-center">
									<label class="form-switch mt-2">
										<input class="form-check-input transmis" type="checkbox" {{ inscription.transmisassureur ? ' checked' : ' ' }} data-id="{{inscription.id}}">
										<span class="slider"></span>
									</label>
								</td>
								<td>{{ inscription.statut }}</td>
								<td>{{ inscription.datechangementstatut ? inscription.datechangementstatut|date('d-m-y') : ' ' }}</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="9">Pas d' inscription</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="{{asset('assets/js/inscriptionIndex.js')}}"></script>

{% endblock %}
