{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{asset('assets/css/utilisateur/utilisateur.css')}}"/>
{% endblock %}

{% block title %}Présence
{% endblock %}
{% block navbar %}
	{{parent()}}
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top  d-none d-xs-none d-sm-none d-md-none d-lg-none d-xl-block">
		{% include "element/_navbar.html.twig" %}
	</nav>
<div class="navBottom d-xl-none d-xxl-none">
	{% include "element/_navbarbottom.html.twig" %}
</div>

{% endblock %}


