{% extends 'gestion/layoutGestionDossier.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Presence
{% endblock %}

{% block sousElement %}
	<h3>Liste des présents de la saison :
		{{saison.saison}}</h3>
	{{form_start(formSelection)}}
	{{form_end(formSelection)}}
	{% if chart is defined%}
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				{{ render_chart(chart) }}
			</div>
			<div class="col-2"></div>
		</div>
	{% endif %}

	<div class="accordion accordion-flush" id="accordion">
		<div class="accordion-item p-3">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					<h1 class="h3 mb-2 text-gray-800">Liste des presents</h1>
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordion">
				<div class="p-3">
					<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
						FILTRER
					</button>
					<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">
						<div class="offcanvas-header">
							<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body p-2">
							{{form_start(form)}}
							<div class="row">{{form_row(form.q)}}</div>
							<div class="row">{{form_row(form.nb)}}</div>
							<button type="submit" class="btn btn-primary w-100">FILTRER</button>
							{{form_end(form)}}
						</div>
					</div>
				</div>
				<div class="accordion-body">
					<div class="table-responsive">
						<table class="table table-hover" id="presence">
							<thead>
								<tr>
									<th class="colonne sorted" {% if presences.isSorted('pra.nom') %} class="sorted" {% endif %}>
										{{ knp_pagination_sortable(presences, 'Nom', 'pra.nom') }}</th>
									<th class="colonne sorted" {% if presences.isSorted('p.nom') %} class="sorted" {% endif %}>
										{{ knp_pagination_sortable(presences, 'Nom', 'pra.nom') }}</th>
									<th class="colonne sorted" {% if presences.isSorted('p.create_at') %} class="sorted" {% endif %}>
										{{ knp_pagination_sortable(presences, 'Date', 'p.create_at') }}
									</th>
									<th>actions</th>
								</tr>
							</thead>
							<tbody>
								{% for presence in presences %}
									<tr>
										<td>{{presence.pratiquant.nom}}</td>
										<td>{{ presence.pratiquant.prenom }}</td>
										<td>{{ presence.createAt|date('d/m/y') }}</td>

										<td>
											<form method="post" action="{{ path('gestion_presence_delete', {'id': presence.id}) }}" onsubmit="Etes vous sur de vouloir supprimer cette presence au cours?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presence.id) }}">
												<button class="btn btn-danger">SUPPRIMER</button>
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}