{% extends 'gestion/layoutGestionDossier.html.twig' %}


{% block title %}New Presence{% endblock %}

{% block sousElement %}

    <h1>Create new Presence</h1>

   
    <a href="{{ path('gestion_presence_index') }}">back to list</a>
{% endblock %}
