{% extends 'gestion/layoutGestionDossier.html.twig' %}


{% block title %}Chat index
{% endblock %}

{% block element %}
	<div class="container">
		<div class="row p-3">
			<div class="col">
				<div class="card">
					<div class="card-header">
						Chat du cours de
						{{cours.nom}}
						({{saison.saison}})
					</div>
					<div class="card-body">
						{{form_start(formChat)}}
						<div class="formulaire" id="formulaire">
							<div class="champ">{{ form_row(formChat.message) }}</div>
							<div>
								<button type="submit" style="font-size: 2rem">
									<i class="far fa-paper-plane"></i>
								</button>
							</div>
						</div>

						{{form_end(formChat)}}
						{% for chat in chats %}
							{% if chat.expediteur == app.user %}
								<div class="row m-3 justify-content-end align-items-center">
									<div class="col-sm-10  bg-success  text-light" style="border-radius: 10px">
										<span class="align-middle">{{chat.message}}</span>
									</div>
									<div class="col-sm-2 text-center">
										<form method="post" action="{{ path('gestion_chat_delete', {'id': chat.id, 'id_cours': cours.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce message?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chat.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>
											</button>
										</form>
									</div>
								</div>
							{% else %}

								<div class="row m-3 justify-content-start align-items-center">
									<div class="col-sm-2 text-center">
										{{chat.expediteur}}
										({{ chat.createdat|date("d/m/Y à H : i", "Europe/Paris") }})
									</div>
									<div class="col-sm-8 bg-primary  text-light" style="border-radius: 10px">
										<span class="align-middle">{{chat.message}}</span>
									</div>
									<div class="col-sm-2 text-center">
										<form method="post" action="{{ path('gestion_chat_delete', {'id': chat.id, 'id_cours': cours.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce message?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chat.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>
											</button>
										</form>
									</div>

								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
