{% extends 'gestion/layoutGestionDossier.html.twig' %}

{% block title %}Chats
{% endblock %}

{% block sousElement %}

	<div class="row p-3 justify-content-evenly">
		<div class="col-md-3"></div>

		<div class="col-12 col-md-6 ">

			<div class="card">
				<div class="card-header">Tous les chats de la saison :
					{{saison.saison}}</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>Cours</th>
							</tr>
						</thead>
						<tbody>
							{% for cour in cours %}
								<tr>
									<td>
										<a href="{{ path('utilisateur_chat_show', {'id_cours': cour.id}) }}">
											<button class="btn btn-primary">
												{{ cour.nom }}
											</button>
										</a>
										{% if chatService.nbPostNonLuParUtilisateurParCours(cour, app.user) >0 %}
											<span class="badge rounded-pill bg-danger">{{chatService.nbPostNonLuParUtilisateurParCours(cour, app.user)}}</span>
										{% endif %}

									</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>


		</div>
		<div class="col-md-3"></div>
	</div>


{% endblock %}
