{% extends 'gestion/layoutGestionSite.html.twig' %}

{% block title %}Edit Site
{% endblock %}

{% block sousElement %}
	<div class="p-2">
		{{form_start(form)}}
		{{form_row(form.slogan)}}
		<div class="row">
			<div class="col">{{form_row(form.imageFile)}}</div>
			<div class="col">
				<p><img src="{{vich_uploader_asset(site,'imageFile')|imagine_filter('vignette')}}"></p>
			</div>
		</div>

		{{form_row(form.description)}}
		<button class="btn btn-primary btn" type="submit">Enregistrer</button>
		{{form_end(form)}}
	</div>
{% endblock %}