<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
	<li class="nav-item">
		<a class="nav-link" href="{{path('gestion')}}">
			<i class="bi bi-speedometer2"></i>
			Tableau de bord
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('gestion_utilisateur_index')}}">
			<i class="bi bi-people"></i>
			Utilisateur
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('gestion_dossier_index', {'id_saison': saisonEnCours.id is defined ? saisonEnCours.id : saisonEnCours })}}">
			<i class="bi bi-folder"></i>
			Saison en cours
		</a>
	</li>

	{% if siteActive %}
		<li class="nav-item">
			<a class="nav-link" href="{{path('gestion_site_article_index')}}">
				<i class="bi bi-shop"></i>
				Site vitrine
			</a>
		</li>
	{% endif %}
	{% if reservationActive %}
		<li class="nav-item">
			<a class="nav-link" href="{{path('gestion_evenement_index', {'id_saison': saisonEnCours.id is defined ? saisonEnCours.id : saisonEnCours })}}">
				<i class="bi bi-calendar-week"></i>
				Evénement/Réservations
			</a>
		</li>
	{% endif %}

	{% if boutiqueActive %}
		<li>
			<a class="nav-link" href="{{path('gestion_boutique')}}">
				<i class="bi bi-shop"></i>
				Boutique
			</a>
		</li>
	{% endif %}
	<li>
		<a class="nav-link" href="{{path('gestion_evenement_add_user_to_video')}}">
			<i class="bi bi-camera-reels"></i>
			video
		</a>
	</li>

	<li>
		<a class="nav-link" href="{{path('gestion_gestionnaire_index')}}">
			<i class="bi bi-people"></i>
			Gestionnaire
		</a>
	</li>
	<li>
		<a class="nav-link" href="{{path('gestion_intervenant_index')}}">
			<i class="bi bi-people"></i>
			Intervenant
		</a>
	</li>
	<li>
		<a class="nav-link" href="{{path('gestion_saison_index')}}">
			<i class="bi bi-calendar-week"></i>
			Saisons</a>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" id="menu1" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
			<i class="bi bi-gear"></i>
			Paramètre
		</a>
		<ul class="dropdown-menu ms-1" aria-labelledby="menu1">
			<li>
				<a class="dropdown-item px-5" href="{{path('gestion_categorie_index')}}">Catégories d'âges</a>
			</li>
			<hr class="w-50 mx-auto">
			<li>
				<a class="dropdown-item px-5" href="{{path('gestion_section_index')}}">Libellés assureur</a>
			</li>
			<li>
				<a class="dropdown-item px-5" href="{{path('gestion_categoriesection_index')}}">Sections</a>
			</li>

			<hr class="w-50 mx-auto">
			<li>
				<a class="dropdown-item px-5" href="{{path('gestion_type_document_index')}}">Type de document</a>
			</li>

			<li>
				<a class="dropdown-item px-5" href="{{path('gestion_sujet_index')}}">Type de sujet</a>
			</li>

			<hr class="w-50 mx-auto">
			<li>
				<a class="dropdown-item px-5" href="{{path('gestion_type_paiement_index')}}">Type de paiements</a>
			</li>
			<li>
				<a class="dropdown-item px-5" href="{{path('gestion_banque_index')}}">Banques</a>
			</li>
			<hr class="w-50 mx-auto">
			<li>
				<a class="dropdown-item px-5" href="{{path('gestion_mensuration_index')}}">Mensuration</a>
			</li>
		</ul>
	</li>
	<hr class="w-100 mx-auto">
	<li>
		<a class="nav-link" href="{{path('gestion_information_edit')}}">
			Réglages</a>
	</li>
</ul>
