

.row1{
    display: grid;
    grid-template-columns: 60% 40%;
}
@media (max-width: 1100px) {
    .row1{
        display: block;
    }
}
.indicateurs {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.indicateurs>div {
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    flex-basis: 60px;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.indiquateur-1 {
    background-color: rgb(130, 130, 175);
}

.indiquateur-2 {
    background-color:grey;
}

.indiquateur-3 {
    background-color: green;
}

.indiquateur-4 {
    background-color: rgb(238, 76, 76);
}

.indiquateur-5 {
    background-color: rgb(107, 107, 243);
}