body {
  background-color: rgb(189, 227, 238);
}
.contenu {
  width: 100%;
  padding: 0 5px 0 5px;
}
.menu-lateral {
  display: flex;
  justify-content: space-between;
 
}
.lateral{
  z-index: 2000;
}


