.incomplet{
background-color:chocolate ;
text-align: center;
}
.locked{
background-color:rgb(145, 145, 145) ;
text-align: center;
}
.complet{
    text-align: center;
}
.cache{
    display: none;
}
.nonLu{
    background-color: darkgoldenrod;
}
.selection{
    background-color: darkcyan;
    text-align: center;
}

#toolbar .offcanvas{
    z-index: 5000;
}
