.indicateur {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.graph {
    flex-grow: 1;

}

.indicateurs {
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.indicateurs>div {
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    flex-basis: 60px;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.indiquateur-1 {
    background-color: rgb(130, 130, 175);
}

.indiquateur-2 {
    background-color:grey;
}

.indiquateur-3 {
    background-color: green;
}

.indiquateur-4 {
    background-color: rgb(238, 76, 76);
}

.indiquateur-5 {
    background-color: rgb(107, 107, 243);
}