{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block title %}Votre espace
{% endblock %}


{% block contenu %}
	<div class="reduireL">
		<div style="text-center">
			<h3>Espace personnel de
				{{utilisateur.prenom}}
				{{utilisateur.nom}}</h3>
		</div>
		{% if is_granted('ROLE_GESTION') %}

			<div class="carte">
				<div class="picto">
					<i class="bi bi-speedometer2"></i>
				</div>
				<div class="lien">
					<a href="{{ path( 'gestion')}}">
						<h3>Tableau de bord</h3>
					</a>
				</div>
				<div class="info">
					<a href="#">
						<i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#Tableau"></i>
					</a>
				</div>
			</div><!-- Modal --><div class="modal fade" id="Tableau" tabindex="-1" aria-labelledby="TableauLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Tableau de bord</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Accéder à la gestion de votre association</p>
							<ul>
								<li>Vos utilisateurs</li>
								<li>Vos dossiers d'inscription</li>
								<li>Gestion du site vitrine</li>
								<li>Gestion des événements et des réservations</li>
								<li>Gestion de la boutique</li>
								<li>Paramètres</li>
								<li>Réglages</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="carte">
				<div class="picto">
					<i class="bi bi-people"></i>
				</div>
				<div class="lien">
					<a href="{{ path( 'gestion_inscription_index')}}">
						<h3>Inscriptions</h3>
					</a>
				</div>
				<div class="info">
					<a href="#">
						<i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#Inscriptions"></i>
					</a>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="Inscriptions" tabindex="-1" aria-labelledby="presenceLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Inscriptions</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Raccourcis vers la gestion des activités</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if is_granted('ROLE_INTERVENANT') and not is_granted('ROLE_GESTION') %}

			<div class="carte">
				<div class="picto">
					<i class="bi bi-card-checklist"></i>
				</div>
				<div class="lien">
					<a href="{{ path( 'intervenant_presence_index')}}">
						<h3>Vos pratiquants</h3>
					</a>
				</div>
				<div class="info">
					<a href="#">
						<i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#presence"></i>
					</a>
				</div>

			</div>
			<!-- Modal -->
			<div class="modal fade" id="presence" tabindex="-1" aria-labelledby="presenceLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Présence</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Accéder à la gestion de votre association</p>
						</div>
					</div>
				</div>
			</div>

		{% endif %}

		<div class="carte">
			<div class="picto items">
				<i class="bi bi-folder"></i>
			</div>
			<div class="lien items">
				{% if dossier %}
					<a href="{{ path( 'utilisateur_dossier_edit', {'ancre': 'information_none_none'})}}">
						<h3>Votre dossier d'inscription</h3>
					</a>
				{% else %}
					{% if creationDossier==true %}
						<a href="{{ path( 'utilisateur_dossier_new')}}">
							<h3>Créer un dossier d'inscription</h3>
						</a>
					{% else %}
						<h3>Les inscriptions ne sont pas ouvertes</h3>
					{% endif %}
				{% endif %}
			</div>
			<div class="info items">
				<a href="#">
					<i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#dossier"></i>
				</a>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="dossier" tabindex="-1" aria-labelledby="dossierLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Dossier d'inscription</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>{{information.descriptionDossier|raw}}</p>
					</div>
				</div>
			</div>
		</div>


		{% if information.reservationActive %}

			<div class="carte">
				<div class="picto">
					<i class="bi bi-calendar-week"></i>
				</div>
				<div class="lien">
					<a href="{{ path( 'utilisateur_evenement_index')}}">
						<h3>Les événements</h3>
					</a>
				</div>
				<div class="info">
					<a href="#">
						<i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#reservation"></i>
					</a>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="reservation" tabindex="-1" aria-labelledby="reservationLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Réservation</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>{{information.reservationPresentation|raw}}</p>
						</div>
					</div>
				</div>
			</div>

		{% endif %}
		{% if information.boutiqueActive %}

			<div class="carte">

				<div class="picto">
					<i class="bi bi-shop"></i>
				</div>
				<div class="lien">
					<a href="{{ path( 'utilisateur_boutique')}}">
						<h3>Boutique
						</h3>
					</a>
				</div>
				<div class="info">
					<a href="#">
						<i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#boutique"></i>
					</a>
				</div>

			</div>
			<!-- Modal -->
			<div class="modal fade" id="boutique" tabindex="-1" aria-labelledby="boutiqueLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Boutique</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>{{information.boutiquePresentation|raw}}</p>
						</div>
					</div>
				</div>
			</div>


		{% endif %}
		{% if information.live %}

			<div class="carte">

				<div class="picto">
					<i class="bi bi-camera-reels"></i>
				</div>

				<div class="lien">
					<a href="{{ path( 'live')}}">
						<h3>En direct
						</h3>
					</a>
				</div>
				<div class="info">
					<a href="#">
						<i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#live"></i>
					</a>
				</div>

			</div>
			<!-- Modal -->
			<div class="modal fade" id="live" tabindex="-1" aria-labelledby="liveLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Le direct</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Accéder au direct de la structure</p>
						</div>
					</div>
				</div>
			</div>


		{% endif %}
		<div class="carte">

				<div class="picto">
					<i class="bi bi-camera-reels"></i>
				</div>

				<div class="lien">
					<a href="{{ path( 'utilisateur_evenement_liste')}}">
						<h3>Les vidéos du Chantou
						</h3>
					</a>
				</div>
				

			</div>
	</div>
{% endblock %}