{% extends 'utilisateur/boutique/layoutBoutique.html.twig' %}


{% block element %}
	<div class="d-flex justify-content-around align-items-center">

		<div class="dropdown p-2">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				Catégorie
			</button>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				{% for category in categories %}
					<li>
						<a class="dropdown-item" href="{{path('utilisateur_boutique_category',{'slug':category.slug})}}">{{category.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		{% if boutiqueOuverte == true %}
			<a class="nav-link" href="{{path('utilisateur_boutique_cart_show')}}">
				<i class="bi bi-cart2"></i>Panier ({{cart.total| format_currency('EUR', locale='fr')}})
			</a>
		{% endif %}
	</div>
	<div class="catalogue">
		{% for product in category.products %}
			{% if product.actif %}
				<div class="produits">
					<img src="{{vich_uploader_asset(product,'imageFile')|imagine_filter('category')}}" alt="Image du produit">
					<h4 class="card-title">{{product.name}}</h4>
					<span class="info">{{product.category.name}}</span>
					<a href="{{path('utilisateur_boutique_product_show',{'category_slug':product.category.slug, 'slug': product.slug})}}" class="btn btn-primary btn-sm">Détails</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
