{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('boutique') }}
{% endblock %}


{% block title %}Boutique
{% endblock %}

{% block contenu %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="row">
				<div class="col">
					<a href="{{path('utilisateur_boutique')}}">Boutique</a>
				</div>
				<div class="col">
					<a href="{{path('utilisateur_boutique_purchase_index')}}">
						Vos commandes
					</a>
				</div>
			</div>

		</div>
		<div class="paquet-contenu">
			{% if boutiqueOuverte == false %}
				<i class="bi bi-exclamation-triangle text-danger">
					La boutique est fermée aux commandes</i>
			{% endif %}
			{% block element %}{% endblock %}
		</div>


	</div>
{% endblock %}