{% extends 'utilisateur/boutique/layoutBoutique.html.twig' %}


{% block element %}
	<div class="contenu">
		<div class="d-flex justify-content-around align-items-center">

			<div class="dropdown p-2">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					Catégorie
				</button>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					{% for category in categories %}
						<li>
							<a class="dropdown-item" href="{{path('utilisateur_boutique_category',{'slug':category.slug})}}">{{category.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div>
				{% if boutiqueOuverte == true %}
					<a class="nav-link" href="{{path('utilisateur_boutique_cart_show')}}">
						<i class="bi bi-cart2"></i>Panier ({{cart.total| format_currency('EUR', locale='fr')}})
					</a>
				{% endif %}
			</div>

		</div>
		<div class="produit m-3">
			<div class="mt-3">
				<img src="{{vich_uploader_asset(product,'imageFile')|imagine_filter('product')}}" class="img-fluid" alt="Image du produit">
			</div>
			<div class="contenu">
				<h3>{{product.name}}</h3>
				<span class="badge badge-primary">{{product.category.name}}</span>
				<p>{{product.shortDescription|raw}}</p>
				{% if boutiqueOuverte==true %}
					<div class="contenu">
						<div>
							{{form_start(form)}}
							{{form_row(form.taille)}}
						</div>
						<div class="text-center">
							<button class="btn btn-success btn-lg">
								<i class="bi bi-cart"></i>
								Ajouter au panier</button>
							{{form_end(form)}}
						</div>
					</div>
					<div class="contenu">
						<p class="text-center">La validation de la commande se fait à partir du panier</p>
					</div>
				{% else %}
					<div class="contenu">
						<i class="bi bi-exclamation-triangle text-danger">
							La boutique est fermée aux commandes</i>
					</div>
				{% endif %}
			</div>
		</div>

	{% endblock %}
