{% extends 'gestion/layoutGestion.html.twig' %}

{% block body %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Ajouter un utilisateur à une vidéoe</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(form)}}
				{{ form_widget(form) }}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}
