.container{
    display: flex;
    justify-content: space-around;
}
.place {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    border: solid;
    border-color: black;
    padding: 5px;
}
