{{form_start(formUtilisateur)}}
<div class="row">
	<div class="col-12 col-md-6">{{form_row(formUtilisateur.nom)}}</div>
	<div class="col-12 col-md-6">{{form_row(formUtilisateur.prenom)}}</div>
</div>
<div class="row">
	<div class="col-12 col-md-6">{{form_row(formUtilisateur.email)}}</div>
	<div class="col-12 col-md-6">{{form_row(formUtilisateur.portable)}}</div>
</div>
<div class="row">{{form_row(formUtilisateur.adresse)}}</div>
<div class="row">
	<div class="col-12 col-md-6">{{form_row(formUtilisateur.CP)}}</div>
	<div class="col-12 col-md-6">{{form_row(formUtilisateur.town)}}</div>
</div>
<div class="row">{{form_row(formUtilisateur.remarque)}}</div>
<div class="row">
	<div class="col-12 col-md-6">{{form_row(formUtilisateur.quotaSms)}}</div>
	<div class="col-12 col-md-6">{{form_row(formUtilisateur.roles)}}</div>
</div>
<button class="btn btn-primary" type="submit">
	Enregistrer</button>
{{form_end(formUtilisateur)}}