<div class="row">
	<div class="col p-3">
		<div class="card">
			<div class="card-header">
				Cotisations
			</div>
			<div class="card-body">
				<table>
					<thead>
						<tr>
							<th>Designation</th>
							<th class="text-right">Montant</th>

						</tr>
					</thead>
					<tbody>
						{% for tarifs in cotisation.detailTarif %}
							{% for key, tarif in tarifs %}
								<tr>
									<td>{{key}}</td>
									<td class="text-right">{{tarif| format_currency('EUR', locale='fr') }}</td>
								</tr>
							{% endfor %}
						{% endfor %}
						<tr>
							<td>
								Total des activites
							</td>
							<td class="text-right">{{cotisation.totalActivite| format_currency('EUR', locale='fr') }}</td>
						</tr>
						<tr>
							<td>
								Ajustement tarifaire
							</td>
							<td class="text-right">{{cotisation.totalReduction| format_currency('EUR', locale='fr') }}</td>
						</tr>
						<tr>
							<td>
								<h5>Total</h5>
							</td>
							<td class="text-right">{{cotisation.total| format_currency('EUR', locale='fr') }}</td>
						</tr>


						<tr>
							<td>
								<h5>Total des paiements</h5>
							</td>
							<td class="text-right">{{paiement.total| format_currency('EUR', locale='fr') }}</td>

						</tr>
						<tr>
							<td>Non encaissé</td>
							<td class="text-right">{{paiement.nonencaisse| format_currency('EUR', locale='fr') }}</td>
						</tr>
						<tr>
							<td>encaissé</td>
							<td class="text-right">{{paiement.encaisse| format_currency('EUR', locale='fr') }}</td>
						</tr>
						<tr>
							<td>
								<h5>Solde</h5>
							</td>
							<td class="text-right">{{solde| format_currency('EUR', locale='fr') }}</td>

						</tr>


					</tbody>
				</table>
			</div>
			<div class="text-center p-2">
				<a href="{{ path('utilisateur_pdf_facture', {'id_dossier': dossier.id}) }}" class="btn btn-primary">
					<i class="bi bi-upload"></i>
					Facture
				</a>
			</div>
		</div>
	</div>
	<div class="col p-3">
		<div class="card">
			<div class="card-header">
				Bulletin d'adhésion
			</div>
			<div class="card-body">
				<a href="{{ path('utilisateur_pdf_bulletin', {'id_dossier': dossier.id}) }}" class="btn btn-primary">Télécharger le bulletin d'inscription</a>
				<h5>Téléverser le après signature :</h5>
				{{form_start(formBulletin)}}
				{{form_end(formBulletin)}}

			</div>
			<div class="text-center p-2">
				{% if dossier.bulletinAdhesion %}
					{% include "gestion/dossier/_utilisateurModalBulletinDossier.html.twig"%}
				{% endif %}
			</div>
		</div>


	</div>
</div>
