<h3>
	Liste des documents
	<a href="{{ path('gestion_document_new', {'id_dossier': dossier.id, 'id_pratiquant': pratiquant.id}) }}" class="btn btn-primary">Ajouter un document</a>

</h3>
<div class="table-responsive">
<table class="table table-bordered bg-white mb-0">
	<thead>
		<tr>
			<th class="text-center">Type</th>
			<th class="text-center">Designation</th>
			<th class="text-center">date du certificat</th>
			<th class="text-center">document</th>
			<th class="text-center" colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for document in pratiquant.documents  %}
			<tr>
				<td class="text-center">
					{{document.type}}
				</td>
				<td class="text-center">
					{{document.designation}}
				</td>
				<td class="text-center">
					{{document.dateCertificat| date("d/m/Y")}}
				</td>
				<td class="text-center">
					{% include "gestion/dossier/_pratiquantModalDocument.html.twig"%}
				</td>
				<td class="text-center">
					<a class="btn btn-primary" href="{{path("gestion_document_edit", {'id': document.id, 'id_dossier': dossier.id})}}">
						<i class="bi bi-pencil-square"></i>
					</a>
				</td>
				<td class="text-center">
					<form method="post" action="{{ path('gestion_document_delete', {'id': document.id, 'id_dossier': dossier.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce document?');">

						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
						<button class="btn btn-danger">
							<i class="bi bi-trash"></i>
						</button>

					</form>
				</td>
			</tr>
		{% else %}
			<tr>
				<td class="text-center" colspan="5">Aucun document</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
