<div class="table-responsive">
<table class="table">
	<thead>
		<tr>
			<th class="text-center">Sexe</th>
			<th class="text-center">Nom</th>
			<th class="text-center">Prenom</th>
			<th class="text-center">date de naissance</th>
			<th class="text-center">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-center">{{ pratiquant.sexe }}</td>
			<td class="text-center">{{ pratiquant.nom }}</td>
			<td class="text-center">{{ pratiquant.prenom }}</td>
			<td class="text-center">{{ pratiquant.naissance|date("d/m/Y")  }}</td>

			<td class="text-center">
				<a class="btn btn-primary" href="{{ path('gestion_pratiquant_edit', {'id': pratiquant.id}) }}">
					<button class="btn btn-primary">
						<i class="bi bi-pencil-square"></i>
					</button>
				</a>

			</td>
		</tr>

	</tbody>
</table>
</div>
