<h3>
	Liste des contacts

	<a href="{{ path('gestion_contact_new', {'id_dossier': dossier.id, 'id_pratiquant': pratiquant.id}) }}" class="btn btn-primary">Ajouter un contact</a>

</h3>
<div class="table-responsive">
<table class="table table-bordered bg-white mb-0">
	<thead>
		<tr>
			<th class="text-center">Nom</th>
			<th class="text-center">Prenom</th>
			<th class="text-center">Email</th>
			<th class="text-center">Portable</th>
			<th class="text-center" colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for contact in pratiquant.contactPratiquants  %}
			<tr>
				<td class="text-center">
					{{contact.nom}}
				</td>
				<td class="text-center">
					{{contact.prenom}}
				</td>
				<td class="text-center">
					{{contact.Email}}
				</td>
				<td class="text-center">
					{{contact.portable}}
				</td>

				<td class="text-center">
					<a class="btn btn-primary" href="{{path("gestion_contact_edit", {'id': contact.id, 'id_dossier': dossier.id})}}">
						<i class="bi bi-pencil-square"></i>
					</a>
				</td>
				<td class="text-center">
					<form method="post" action="{{ path('gestion_contact_delete', {'id': contact.id, 'id_dossier': dossier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">

						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
						<button class="btn btn-danger">
							<i class="bi bi-trash"></i>
						</button>

					</form>
				</td>
			</tr>
		{% else %}
			<tr>
				<td class="text-center" colspan="2">Aucun contact</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
