<div class="row">
	<div class="p-2 m-3">
		<h2>LISTE DES PRATIQUANTS
			<a href="{{ path('gestion_pratiquant_new', {'id_dossier': dossier.id}) }}" class="btn btn-primary">Ajouter un pratiquant</a>
		</h2>

	</div>

	<nav>
		<div class="nav nav-tabs" id="myTab" role="tablist">
			{% for pratiquant in pratiquants %}
				<button class="nav-link {% if ancre.pratiquant == pratiquant.id %}active{% endif %}" id="pratiquant{{pratiquant.id}}-tab" data-bs-toggle="tab" data-bs-target="#pratiquant{{pratiquant.id}}" type="button" role="tab" aria-controls="pratiquant{{pratiquant.id}}" aria-selected="true">
					{{pratiquant.nom ~ ' '~ pratiquant.prenom}}
					<form method="post" action="{{ path('gestion_pratiquant_delete', {'id': pratiquant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pratiquant.id) }}">
						<button class="btn btn-danger">
							<i class="bi bi-trash"></i>
						</button>
					</form>

				</button>


			{% endfor %}
		</div>
	</nav>

	<div class="tab-content" id="myTabContent">
		{% for pratiquant in pratiquants %}
			<div class="tab-pane fade  {% if ancre.pratiquant == pratiquant.id %}show active{% endif %} " id="pratiquant{{pratiquant.id}}" role="tabpanel" aria-labelledby="pratiquant{{pratiquant.id}}-tab">
				<div class="row justify-content-md">
					<div class="accordion " id="accordionPratiquant{{loop.index}}">
						<div class="accordion-item ">
							<h2 class="accordion-header" id="headingDetail">
								<button class="accordion-button {{ ancre.pill_pratiquant == 'detail' and ancre.pratiquant == pratiquant.id  ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{loop.index}}" aria-expanded="{{ ancre.pill_pratiquant == 'detail' and ancre.pratiquant == pratiquant.id ? 'true' : 'false' }}" aria-controls="collapseOne{{loop.index}}">
									Détails
								</button>
							</h2>
							<div id="collapseOne{{loop.index}}" class="accordion-collapse collapse {{ ancre.pill_pratiquant == 'detail' and ancre.pratiquant == pratiquant.id ? 'show' : '' }}" aria-labelledby="headingDetail" data-bs-parent="#accordionPratiquant{{loop.index}}">
								<div class="accordion-body">
									{% include "gestion/dossier/_pratiquantdetail.html.twig"%}
								</div>
							</div>
						</div>
						{% set nb=pratiquant.contactPratiquants|length %}
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingContact">
								<button class="accordion-button {{ ancre.pill_pratiquant == 'contact' and ancre.pratiquant == pratiquant.id  ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{loop.index}}" aria-expanded="{{ ancre.pill_pratiquant == 'contact' and ancre.pratiquant == pratiquant.id ? 'true' : 'false' }}" aria-controls="collapseTwo{{loop.index}}">
									Liste des contacts ({{nb}})
								</button>
							</h2>
							<div id="collapseTwo{{loop.index}}" class="accordion-collapse collapse {{ ancre.pill_pratiquant == 'contact' and ancre.pratiquant == pratiquant.id ? 'show' : '' }}" aria-labelledby="headingContact" data-bs-parent="#accordionPratiquant{{loop.index}}">
								<div class="accordion-body">
									{% include "gestion/dossier/_pratiquantcontact.html.twig"%}
								</div>
							</div>
						</div>
						{% set nb=pratiquant.documents|length %}
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingDocument">
								<button class="accordion-button {{ ancre.pill_pratiquant == 'document' and ancre.pratiquant == pratiquant.id  ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree{{loop.index}}" aria-expanded="{{ ancre.pill_pratiquant == 'document' and ancre.pratiquant == pratiquant.id ? 'true' : 'false' }}" aria-controls="collapseThree{{loop.index}}">
									Listes des Documents ({{nb}})
								</button>
							</h2>
							<div id="collapseThree{{loop.index}}" class="accordion-collapse collapse {{ ancre.pill_pratiquant == 'document' and ancre.pratiquant == pratiquant.id ? 'show' : '' }}" aria-labelledby="headingDocument" data-bs-parent="#accordionPratiquant{{loop.index}}">
								<div class="accordion-body">
									{% include "gestion/dossier/_pratiquantdocument.html.twig"%}
								</div>
							</div>
						</div>
						{% set nb = 0 %}
						{% for inscription in inscriptions  %}
							{% if inscription.pratiquant == pratiquant %}
								{% set nb=nb +1 %}
							{% endif %}
						{% endfor %}
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingInscription">
								<button class="accordion-button {{ ancre.pill_pratiquant == 'inscription' and ancre.pratiquant == pratiquant.id  ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour{{loop.index}}" aria-expanded="{{ ancre.pill_pratiquant == 'inscription' and ancre.pratiquant == pratiquant.id ? 'true' : 'false' }}" aria-controls="collapseFour{{loop.index}}">
									Listes des activités ({{nb}})
								</button>
							</h2>
							<div id="collapsefour{{loop.index}}" class="accordion-collapse collapse {{ ancre.pill_pratiquant == 'inscription' and ancre.pratiquant == pratiquant.id ? 'show' : '' }}" aria-labelledby="headingInscription" data-bs-parent="#accordionPratiquant{{loop.index}}">
								<div class="accordion-body">
									{% include "gestion/dossier/_pratiquantinscription.html.twig"%}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
</div>