<h3>
	Liste des activites
	<a href="{{ path('gestion_inscription_new', {'id_dossier': dossier.id, 'id_pratiquant': pratiquant.id}) }}" class="btn btn-primary">Ajouter une inscription</a>

</h3>
<div class="table-responsive">

	<table class="table table-bordered bg-white mb-0">
		<thead>
			<tr>
				<th class="text-center">Activite</th>
				<th class="text-center">Cours</th>
				<th class="text-center">Certificat obligatoire</th>
				<th class="text-center">Certificat</th>
				<th class="text-center">visualisé</th>
				<th class="text-center">Certificat Validé</th>
				<th class="text-center">Transmis assureur</th>
				<th class="text-center">Statut</th>
				<th class="text-center" colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>

			{% for inscription in inscriptions  %}


				{% if inscription.pratiquant == pratiquant %}
					<tr>
						<td class="text-center">
							{{inscription.activite.nom}}
						</td>
						<td class="text-center">
							{% if inscription.cours.nom is defined %}
								{{inscription.cours.nom}}
							{% endif %}
						</td>
						<td class="text-center">

							{{inscription.CertificatObligatoire ? 'oui': 'non'}}
						</td>
						<td class="text-center">
							{% if inscription.CertificatObligatoire %}
								<select class="form-select doc" aria-label="document" data-id="{{inscription.id}}">
									<option {{inscription.cours ? '': 'selected'}}>Choisir un document</option>
									{% for document in  inscription.pratiquant.documents %}
										<option {% if inscription.document.id is defined %} {{inscription.document.id == document.id ? 'selected': ''}} {% endif %} value="{{document.id}}">{{document.designation}}
										</option>
									{% endfor %}
								</select>

							{% endif %}
						</td>
						<td class="text-center">
							{% if inscription.CertificatObligatoire %}
								{% include "gestion/dossier/_pratiquantModalDocumentInscription.html.twig" %}
							{% endif %}
						</td>

						<td class="text-center">
							{% if inscription.CertificatObligatoire %}
								<label class="form-switch mt-2">
									<input class="form-check-input valider" type="checkbox" {{ inscription.CertificatValide ? ' checked' : ' ' }} data-id="{{inscription.id}}">
									<span class="slider"></span>
								</label>
							{% endif %}
						</td>
						<td class="text-center">
							<label class="form-switch mt-2">
								<input class="form-check-input transmis" type="checkbox" {{ inscription.transmisassureur ? ' checked' : ' ' }} data-id="{{inscription.id}}">
								<span class="slider"></span>
							</label>

						</td>
						<td class="text-center">
							{{inscription.statut ~ ' (' ~ inscription.dateChangementStatut |date("d/m/Y H:i") ~ ')'}}
						</td>
						<td class="text-center">
							<a href="{{ path('gestion_inscription_edit', {'id': inscription.id, 'id_dossier': dossier.id}) }}">
								<button class="btn btn-primary">
									<i class="bi bi-pencil-square"></i>
								</button>
							</a>
						</td>
						<td>
							<form method="post" action="{{ path('gestion_inscription_delete', {'id': inscription.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette inscription?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription.id) }}">
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
