<div class="p-2 m-3">
	<h2>AJUSTEMENT TARIFAIRE
		<a href="{{ path('gestion_reduction_new', {'id_dossier': dossier.id}) }}" class="btn btn-primary">Ajouter une ligne</a>
	</h2>

</div>


<table class="table table-bordered bg-white mb-0">
	<thead>
		<tr>
			<th class="text-center">Description</th>
			<th class="text-center">Montant</th>
			<th class="text-center" colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for reduction in reductions %}
			<tr>
				<td class="text-center">
					{{reduction.description}}
				</td>
				<td class="text-center">
					{{reduction.montant| format_currency('EUR', locale='fr')}}
				</td>

				<td class="text-center">
					<a href="{{ path('gestion_reduction_edit', {'id': reduction.id}) }}">
						<button class="btn btn-primary">
							<i class="bi bi-pencil-square"></i>
						</button>
					</a>

				</td>
				<td class="text-center">
					<form method="post" action="{{ path('gestion_reduction_delete', {'id': reduction.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette réduction?');">

						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reduction.id) }}">
						<button class="btn btn-danger">
							<i class="bi bi-trash"></i>
						</button>

					</form>
				</td>
			</tr>
		{% else %}
			<tr>
				<td class="text-center" colspan="3">Aucune reduction</td>
			</tr>
		{% endfor %}
	</tbody>

</table>