<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dossier{{dossier.id}}">
	Ouvrir le document
</button>
<div class="modal fade" id="dossier{{dossier.id}}" tabindex="-1" aria-labelledby="dossier{{dossier.id}}Label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dossier{{dossier.id}}Label">
					Bulletin d'inscription
				</h5>

				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% if  dossier.bulletinAdhesion is defined %}
					<iframe src="{{asset('/assets/uploads/' ~ dossier.bulletinAdhesion)}}" width="100%" height="500px"></iframe>					
				{% endif %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FERMER</button>
			</div>
		</div>
	</div>
</div>
