{% extends 'gestion/layoutGestionDossier.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('formUtilisateur') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('editDossierGestion') }}
	{{ encore_entry_script_tags('formUtilisateur') }}

{% endblock %}

{% block title %}Dossier
{% endblock %}

{% block sousElement %}


	<h5 class="card-header">{{dossier.adherent.nom}}
		{{dossier.adherent.prenom}}
		: dossier n°{{dossier.id}}
		<a href="{{ path('gestion_dossier_delete', {'id': dossier.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer ce dossier?');">

			<button class="btn btn-danger">
				<i class="bi bi-trash"></i>
			</button>
		</a>
	</h5>


	<div class="row">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link {% if ancre.pill_dossier == 'detail' %}active{% endif %}" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="adherent" aria-selected="true">Détails</button>
				<button class="nav-link {% if ancre.pill_dossier == 'pratiquant' %}active{% endif %}" id="pratiquant-tab" data-bs-toggle="tab" data-bs-target="#pratiquant" type="button" role="tab" aria-controls="pratiquant" aria-selected="false">Pratiquant(s)</button>
				<button class="nav-link {% if ancre.pill_dossier == 'paiement' %}active{% endif %}" id="paiement-tab" data-bs-toggle="tab" data-bs-target="#paiement" type="button" role="tab" aria-controls="paiement" aria-selected="false">Paiement(s)</button>
				<button class="nav-link {% if ancre.pill_dossier == 'reduction' %}active{% endif %}" id="reduction-tab" data-bs-toggle="tab" data-bs-target="#reduction" type="button" role="tab" aria-controls="reduction" aria-selected="false">Ajustement tarifaire</button>

			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade {% if ancre.pill_dossier == 'detail' %}show active{% endif %} " id="detail" role="tabpanel" aria-labelledby="detail-tab">

				<div class="row g-0 g-md-1">
					<div class="col border ">
						<h2>COORDONNEES</h2>
						{% include "gestion/dossier/_adherent.html.twig"%}
					</div>
					<div class="col border">
						<h2>DETAILS</h2>
						{% include "gestion/dossier/_detail.html.twig"%}

					</div>
				</div>
			</div>
			<div class="tab-pane fade {% if ancre.pill_dossier == 'pratiquant' %}show active{% endif %}" id="pratiquant" role="tabpanel" aria-labelledby="pratiquant-tab">

				{% include "gestion/dossier/_pratiquant.html.twig"%}
			</div>

			<div class="tab-pane fade {% if ancre.pill_dossier == 'paiement' %}show active{% endif %}" id="paiement" role="tabpanel" aria-labelledby="paiement-tab">
				{% include "gestion/dossier/_paiement.html.twig"%}
			</div>
			<div class="tab-pane fade {% if ancre.pill_dossier == 'reduction' %}show active{% endif %}" id="reduction" role="tabpanel" aria-labelledby="reduction-tab">

				{% include "gestion/dossier/_reduction.html.twig"%}
			</div>
		</div>
	</div>


	<script></script>


{% endblock %}