{% extends 'gestion/layoutGestionDossier.html.twig' %}
{% block stylesheets %}

	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
const relanceButton = document.getElementById('relanceDossierIncomplet');
if (relanceButton) {
relanceButton.addEventListener('click', function () {
let ids = rowsSelectedTable();
if (ids.length) {
let r = confirm("Êtes-vous sûr de vouloir envoyer une relance pour les dossiers incomplets sélectionnés ?");
if (r == true) {
fetch("/gestion/dossier/relance-incomplet", {
method: 'POST',
headers: {
'Content-Type': 'application/json'
},
body: JSON.stringify(
{ids: ids}
)
}).then(response => response.json()).then(data => {
infoJs(data.message, data.status);
}).catch((error) => {
console.error('Error:', error);
infoJs("Une erreur est survenue lors de la relance.", 'error');
});
}
} else {
alert('Vous devez d\'abord sélectionner une ou plusieurs lignes');
}
});
} else {
console.error("L'élément 'relanceDossierIncomplet' n'a pas été trouvé dans le DOM");
}
});

function rowsSelectedTable() {
const rows = document.querySelectorAll('.selection');
let ids = [];
for (var i = 0; i < rows.length; i++) {
ids.push(rows[i].querySelectorAll('td')[1].innerText);
}
return ids;
}
	</script>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Dossiers
{% endblock %}
{% block sousElement %}
	<h3>Liste des dossiers en cours de la saison:
		{{saison.saison}}</h3>

	<div id="toolbar" class="action-contenaire">
		<div class="action">
			<div class="p-1">
				<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
					FILTRER
				</button>

				<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">
						{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row">{{form_row(form.cotisationAJour)}}</div>
						<div class="row">{{form_row(form.bulletinPresent)}}</div>
						<div class="row">{{form_row(form.bulletinValide)}}</div>
						<div class="row">{{form_row(form.nbCertificatManquant)}}</div>
						<div class="row">{{form_row(form.dossierVerrouille)}}</div>
						<div class="row">{{form_row(form.locked)}}</div>
						<div class="row">{{form_row(form.nb)}}</div>
						<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						{{form_end(form)}}
					</div>
				</div>
			</div>
			<div class="p-1">
				<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
			</div>
		</div>
		<div class="action">
			<div class="col p-1">
				<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
			</div>
			<div class="p-1">
				<button id="email" class="btn btn-secondary">Email</button>
			</div>
			<div class="col p-1">
				<button id="validationBulletin" class="btn btn-secondary">Bulletin(s) d'adhésion validé(s)</button>
			</div>
			<div class="col p-1">
				<button id="lockedFile" class="btn btn-secondary">Dossier(s) suspendu(s)</button>
			</div>
			<div class="col p-1">
				<button id="verrouilleDossier" class="btn btn-secondary">Dossier(s) complet(s)</button>
			</div>
			<div class="col p-1">
				<button id="suppressionDossier" class="btn btn-secondary">Suppression dossier(s)</button>
			</div>
			<div class="col p-1">
				<button id="relanceDossierIncomplet" class="btn btn-secondary">Relance dossier incomplet</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1" id="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-layout-three-columns"></i>
				</button>
				<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
			</div>
			<div class="p-1">
				<button id="CSV" class="btn btn-secondary">CSV</button>
			</div>
			<div class="p-1">
				<a href="{{ path('gestion_exportCsv_adherents') }}">
					<button class="btn btn-secondary" type="button">Contact</button>
				</a>

			</div>
		</div>

	</div>
	<div class="table-responsive">
		<table class="table table-hover" id="dossier">
			<thead>
				<tr class="complet">
					<th class="colonne cache notSelected">utilisateur</th>
					<th class="colonne cache notSelected">id</th>
					<th class="colonne"></th>
					<th class="colonne"></th>
					<th class="colonne" {% if dossiers.isSorted('adherent.nom') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(dossiers, 'Nom', 'adherent.nom') }}
					</th>
					<th class="colonne" {% if dossiers.isSorted('adherent.prenom') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(dossiers, 'Prénom', 'adherent.prenom') }}
					</th>
					<th class="colonne cache">Email</th>
					<th class="colonne cache">Portable</th>
					<th class="colonne">Nb d'inscription</th>
					<th class="colonne" {% if dossiers.isSorted('cotisationAJour') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(dossiers, 'Cotisation à jour', 'cotisationAJour') }}
					</th>
					<th class="colonne">Solde</th>
					<th class="colonne" {% if dossiers.isSorted('bulletinPresent') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(dossiers, 'Bulletin présent', 'bulletinPresent') }}</th>
					<th class="colonne validationBulletin">
						Bulletin d'adhésion validée
					</th>
					<th class="colonne cache">Bulletin d'adhesion</th>
					<th class="colonne cache">Bulletin supprimé</th>
					<th class="colonne" {% if dossiers.isSorted('nbCertificatManquant') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(dossiers, 'Nb de certificats manquants', 'nbCertificatManquant') }}
					</th>
					<th class="colonne" {% if dossiers.isSorted('nbCertificatAValider') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(dossiers, 'Nb de certificats à valider', 'nbCertificatAValider') }}
					</th>

					<th class="colonne" {% if dossiers.isSorted('nbTransmissionAssureur') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(dossiers, 'Nb de transmission assureur', 'nbTransmissionAssureur') }}
					</th>
					<th class="colonne cache" {% if dossiers.isSorted('locked') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(dossiers, 'Dossier suspendu', 'locked') }}</th>
					<th class="colonne cache" {% if dossiers.isSorted('dossierVerrouille') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(dossiers, 'Dossier complet', 'dossierVerrouille') }}
					</th>
					<th class="colonne cache">Remarque</th>

				</tr>
			</thead>
			<tbody>
				{% for dossier in dossiers %}
					{% if dossier.dossierVerrouille ==0 %}
						{% set bold = "incomplet" %}
					{% else %}
						{% set bold = "complet" %}
					{% endif %}
					{% if dossier.locked ==1 %}
						{% set bold = "locked" %}
					{% endif %}
					<tr class="{{bold}}">
						<td class="cache">{{dossier.adherent.id}}</td>
						<td class="cache">{{dossier.id}}</td>
						<td class="text-center">
							<a href="{{ path('espace', {'_switch_user': dossier.adherent.email}) }}" data-bs-toggle=" tooltip" data-bs-placement=" top" title="usurpation d'identité">
								<i class="bi bi-person-bounding-box"></i>
							</a>
						</td>
						<td class="text-center">
							<a href="{{ path('gestion_dossier_edit', {'id': dossier.id,'ancre': 'detail_none_none'}) }}">
								<i class="bi bi-folder"></i>
							</a>
						</td>
						<td class="">{{ dossier.adherent.nom}}</td>
						<td class="">{{ dossier.adherent.prenom }}</td>
						<td class="">{{ dossier.adherent.email }}</td>
						<td class="">{{ dossier.adherent.portable }}</td>
						<td>{{dossier.inscriptions|length}}</td>
						<td>{{dossier.cotisationAJour}}</td>
						<td>{{dossier.solde| format_currency('EUR', locale='fr')}}</td>
						<td>{{dossier.bulletinPresent}}</td>
						<td class="validationBulletin">{{dossier.bulletinValide ?"Oui":"Non"}}</td>
						<td class="cache text-center">
							{% if dossier.bulletinAdhesion is not null %}
								{% include "gestion/dossier/_utilisateurModalBulletin.html.twig"%}
							{% endif %}
						</td>
						<td class="cache text-center">
							{% if dossier.bulletinAdhesion is not null %}
								<a href="{{ path('gestion_dossier_bulletinSupprimer', {'id': dossier.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer ce document?');">
									<button class="btn btn-danger">
										<i class="bi bi-trash"></i>
									</button>
								</a>
							{% endif %}
						</td>
						<td>{{dossier.nbCertificatManquant}}</td>
						<td>{{dossier.nbCertificatAValider}}</td>
						<td>{{dossier.nbTransmissionAssureur}}</td>
						<td class="cache lockedFile">{{dossier.locked  ?"Oui":"Non"}}</td>
						<td class="cache verrouilleDossier">{{dossier.dossierVerrouille  ?"Oui":"Non"}}</td>

						<td class="cache">{{ dossier.remarque }}</td>

					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col">
		<div class="navigation">{{ knp_pagination_render(dossiers) }}</div>
	</div>
	<div class="col">
		<div class="count">Nb d'enregistrement :{{ dossiers.getTotalItemCount }}</div>
	</div>
</div>{#{{ encore_entry_script_tags('indexDossier') }}#}{% endblock %}
