{% extends 'gestion/layoutGestionBoutique.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Paiement Boutique
{% endblock %}

{% block sousElement %}

	<h3>Liste des paiements la boutique</h3>
	<div id="toolbar" class="action-contenaire">
		<div class="action">
			<div class="p-1">
				<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
					FILTRER
				</button>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">
						{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row">{{form_row(form.typeDePaiement)}}</div>
						<div class="row">{{form_row(form.banque)}}</div>
						<div class="row">{{form_row(form.encaissement)}}</div>
						<div class="row">{{form_row(form.encaisse)}}</div>
						<div class="row">{{form_row(form.nb)}}</div>
						<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						{{form_end(form)}}
					</div>
				</div>
			</div>
			<div class="p-1">
				<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1">
				<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
			</div>
			<div class="p-1">
				<button id="encaisserBoutique" class="btn btn-secondary">Encaissement</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1" id="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-layout-three-columns"></i>
				</button>
				<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
			</div>
			<div class="p-1">
				<button id="CSV" class="btn btn-secondary">CSV</button>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover" id="paiementBoutique">
			<thead>
				<tr>
					<th class="colonne cache notSelected"></th>
					<th class="colonne cache notSelected">id</th>
					<th class="colonne"></th>
					<th class="colonne sorted" {% if paiements.isSorted('u.nom') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(paiements, 'Nom', 'u.nom') }}
					</th>
					<th class="colonne sorted" {% if paiements.isSorted('u.prenom') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(paiements, 'Prénom', 'u.prenom') }}
					</th>
					<th class="colonne sorted" {% if paiements.isSorted('p.montant') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(paiements, 'Montant', 'p.montant') }}
					</th>
					<th class="colonne sorted" {% if paiements.isSorted('t.designation') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(paiements, 'Type de paiement', 't.designation') }}
					</th>
					<th class="colonne sorted" {% if paiements.isSorted('p.encaissement') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(paiements, 'Encaissement', 'p.encaissement') }}
					</th>
					<th class="colonne sorted" {% if paiements.isSorted('b.nom') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(paiements, 'Banque', 'b.nom') }}
					</th>
					<th class="colonne sorted">Réference</th>
					<th class="colonne sorted" {% if paiements.isSorted('p.encaisse') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(paiements, 'Encaissé', 'p.encaisse') }}
					</th>
					<th class="colonne cache">remarque</th>
				</tr>
			</thead>
			<tbody>
				{% for paiement in paiements %}
					<tr>
						<td class="cache">{{paiement.purchase.utilisateur.id}}</td>
						<td class="cache">{{paiement.id}}</td>
						<td class="text-center">
							<a href="{{ path('gestion_boutique_paiement_purchase_index', {'id_purchase': paiement.purchase.id,'ancre': 'paiement_none_none'}) }}" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Commande">
								<i class="bi bi-file-earmark-text"></i>
							</a>
						</td>
						<td>
							{{ paiement.purchase.utilisateur.nom}}
						</td>
						<td>{{ paiement.purchase.utilisateur.prenom }}</td>
						<td>{{ paiement.montant| format_currency('EUR', locale='fr') }}</td>
						<td>{{paiement.typeDePaiement}}</td>
						<td>{{paiement.encaissement}}</td>
						<td>{{paiement.banque}}</td>
						<td>{{paiement.reference}}</td>

						<td class="encaisse">{{ paiement.encaisse ? 'oui' : 'non' }}
						</td>

						<td class="cache">
							{{paiement.remarque}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col">
			<div class="navigation">{{ knp_pagination_render(paiements) }}</div>
		</div>
		<div class="col">
			<div class="count">Nb d'enregistrement :{{ paiements.getTotalItemCount }}</div>
		</div>
	</div>
{% endblock %}