.indicateurs {
    flex-grow: 2;

    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
}

.indicateurs>div {
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    flex-basis: 500px;
    padding: 5px;
    margin: 10px 0 20px 0;
}

.indiquateur-1 {
    background-color: rgb(130, 130, 175);
}

.indiquateur-2 {
    background-color:grey;
}

.indiquateur-3 {
    background-color: green;
}