{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Type de paiement

{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Vos types de paiement
				<a href="{{ path('gestion_type_paiement_new') }}">
					<button class="btn btn-primary">Ajouter un nouveau type de paiement</button>
				</a>
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" id="activiteTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Designation</th>
							<th></th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{% for type_de_paiement in type_de_paiements %}
							<tr>
								<td>{{ type_de_paiement.designation }}</td>
								{% if type_de_paiement.verrouille == false %}

									<td>
										<a href="{{ path('gestion_type_paiement_edit', {'id': type_de_paiement.id}) }}">
											<button class="btn btn-primary">
												<i class="bi bi-pencil-square"></i>

											</button>
										</a>
									</td>
									<td>
										<form method="post" action="{{ path('gestion_type_paiement_delete', {'id': type_de_paiement.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce type de paiement?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_de_paiement.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>
											</button>
										</form>
									</td>
								{% else %}
									<td colspan="2"></td>
								{% endif %}
							</tr>
						{% else %}
							<tr>
								<td colspan="2">Pas de type de paiement</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}