{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Nouveau
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouveau type de paiement
			</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formTypeDePaiement)}}
			<div>
				{{form_row(formTypeDePaiement.designation)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_type_paiement_index') }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formTypeDePaiement)}}
		</div>
	</div>
{% endblock %}