{% extends 'utilisateur/boutique/layoutBoutique.html.twig' %}


{% block element %}
	<h1 class="text-center">Panier</h1>
	{% if items | length>0 %}
		<div class="table-responsive">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Produit</th>
						<th>Prix</th>
						<th class="text-center">Quantité</th>
						<th>Total</th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>{{item.taille.product.name}}
								(
								{{item.taille.name}}
								)
							</td>
							<td>{{item.taille.price| format_currency('EUR', locale='fr')}}</td>

							<td class="text-center">

								<div class="d-flex justify-content-around align-items-center">

									<div>
										<a href="{{path("utilisateur_boutique_cart_decrement", {'id':item.taille.id})}}" class="btn btn-sm btn-primary">
											<i class="bi bi-dash-circle"></i>
										</a>
									</div>
									<div>{{item.qty}}</div>
									<div>
										<a href="{{path("utilisateur_boutique_cart_add", {'id':item.taille.id})}}" class="btn btn-sm btn-primary">
											<i class="bi bi-plus-circle"></i>
										</a>
									</div>
								</div>

							</td>


							<td>{{(item.qty * item.taille.price)| format_currency('EUR', locale='fr') }}</td>
							<td>
								<a href="{{path("utilisateur_boutique_cart_delete", {'id':item.taille.id})}}" class="btn btn-sm btn-danger">
									<i class="bi bi-trash-fill"></i>
								</a>
							</td>

						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							Total
						</td>
						<td colspan="2">{{total| format_currency('EUR', locale='fr')}}</td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div class="row text-center p-2">{{information.boutiquePaiement|raw}}</div>

		<div class="row text-center p-2">
			<a href="{{path("utilisateur_boutique_purchase_confirmation")}}">
				<button class="btn btn-primary">Valider ma commande</button>
			</a>
		</div>
	{% else %}
		<div class="row">
			<h2 class="text-center">Le panier est vide</h2>
		</div>

	{% endif %}


{% endblock %}
