.contenu {
    margin: auto;
    padding: 0 5px 30px 5px;
}

@media (max-width: 768px) {
    body {

        margin-block-end: 30px;
    }    
}

@media (min-width: 768px) and (max-width:1200px) {
    body {
        margin-block-end: 5px;
    }    
}

@media (min-width: 1200px) {
    body {
        margin-block-start: 60px;
    }
}
.navBottom {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: black;
}

.paquet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 50;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: rgb(233, 233, 233);
}


.paquet-header {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-size-adjust: auto;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    background-color: rgb(153, 152, 152);
    border-bottom: 2px solid;
}

.paquet-contenu {
    padding-left: 5px;
    padding-right: 5px;
}

.carte {
    display: flex;
    margin: 15px;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: rgb(233, 233, 233);
}

.reduire {
    max-width: 500px;
    margin: auto;
}