/*Chat*/

.chat-user {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
}

.message-user {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: seagreen;
    word-break: break-all;
}

.chat {
    display: flex;
    justify-content: start;
    align-items: center;
}

.message {
    display: inline-flex;
    flex-direction: column;
    vertical-align: auto;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(179, 164, 219);
    border-radius: 10px;
    word-break: break-all;
}

.formulaire {
    display: flex;
    margin: auto;
    justify-content: center;
    
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;

}

.champ {
    flex: auto;
}

button {
    border: none;
    background-color: rgb(233, 233, 233);
}