{% extends 'utilisateur/layoutUtilisateur.html.twig' %}

{% block title %}Document
{% endblock %}

{% block contenu %}

	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Ajouter un document</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formDocument)}}
			{{form_row(formDocument.type)}}
			{{form_row(formDocument.designation)}}
			{{form_row(formDocument.dateCertificat)}}
			<h6>Téléverser le document au format pdf</h6>
			{{form_row(formDocument.image)}}
			<div class="row align-items-end">
				<div class="col">{{form_row(formDocument.inscription)}}</div>
				<div class="col">{{form_row(formDocument.ajouter)}}</div>
			</div>
			<div class="row text-center">
				<div class="col">{{form_row(formDocument.envoyer)}}</div>
				<div class="col">
					<a href="{{ path('utilisateur_dossier_edit', {'ancre': 'pratiquant_none_none'}) }}">
						<button class="btn btn-secondary" type="button">Annuler</button>
					</a>
				</div>
			</div>
			{{form_end(formDocument)}}</div>
	</div>


{% endblock %}