{% extends 'gestion/layoutGestion.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{ parent() }}
	<style>
        tr.sous-condition {
    background-color: #303030;
    font-style: italic;
	color: white;
}
    </style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('tableauFree') }}
	
{% endblock %}

{% block title %}Activite
{% endblock %}

{% block element %}
	<div class="paquet">
		<div class="paquet-header">
			<h3>Toutes les Activités de la saison :
				{{ saison.saison }}
				{% if saison.id == saisonEnCours.id %}
					<a href="{{ path('gestion_activite_new') }}">
						<button class="btn btn-primary">Ajouter une nouvelle activité</button>
					</a>
				{% endif %}
			</h3>
		</div>
		<div class="paquet-contenu">
			<div class="action-contenaire">
				<div class="action">
					<div class="p-1">
						<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
							FILTRER
						</button>
						<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">
							<div class="offcanvas-header">
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body p-2">
								{{ form_start(form) }}
								<div class="mb-3">{{ form_row(form.q) }}</div>
								<div class="mb-3">{{ form_row(form.section) }}</div>
								<div class="mb-3">{{ form_row(form.categorieAge) }}</div>
								<div class="mb-3">{{ form_row(form.condition) }}</div>
								<div class="mb-3">{{ form_row(form.certificat) }}</div>
								<div class="mb-3">{{ form_row(form.nb) }}</div>
								<button type="submit" class="btn btn-primary w-100">APPLIQUER LES FILTRES</button>
								{{ form_end(form) }}
							</div>
						</div>
					</div>

					<div class="p-1">
						<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
					</div>
				</div>
				<div class="action">
					<div class="p-1" id="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-layout-three-columns"></i>
						</button>
						<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
					</div>
					<div class="p-1">
						<button id="CSV" class="btn btn-secondary">CSV</button>
					</div>
				</div>
			</div>

			<div class="row p-2">
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0" id="activite">
						<thead>
							<th>Status</th>
							<th class="colonne sorted">{{ knp_pagination_sortable(activites, 'Section', 'section.categoriesection.nom') }}</th>
							<th class="colonne sorted">{{ knp_pagination_sortable(activites, 'Categorie age', 'categorie.designation') }}</th>
							<th class="colonne sorted">{{ knp_pagination_sortable(activites, 'Désignation', 'nom') }}</th>
							<th class="colonne">Durée</th>
							<th class="colonne">Nb de place</th>
							<th class="colonne">Nb d'inscriptions</th>
							<th class="colonne">tarif</th>
							<th class="colonne">sousCondition</th>
							<th class="colonne">Certificat obligatoire</th>
							<th></th>
							<th></th>
						</thead>
						<tbody>
							{% set totalNbDePlace = 0 %}
							{% set totalNbInscriptions = 0 %}
							{% for activite in activites %}
								{% set totalNbDePlace = totalNbDePlace + activite.nbDePlace %}
								{% set totalNbInscriptions = totalNbInscriptions + activite.getInscriptions|length %}
								<tr class="{{ activite.sousCondition ? 'sous-condition' : '' }}">
									<td class="text-center">
										{% if activite.getInscriptions|length >= activite.nbDePlace %}
											<i class="bi bi-exclamation-circle-fill text-danger" title="Complet"></i>
										{% else %}
											<i class="bi bi-check-circle-fill text-success" title="Places disponibles"></i>
										{% endif %}
									</td>
									<td>{{ activite.section.categoriesection }}</td>
									<td>{{ activite.categorie.designation }}</td>
									<td>{{ activite.nom }}</td>
									<td>{{ activite.duree }}</td>
									<td>{{ activite.nbDePlace }}</td>
									<td>{{ activite.getInscriptions|length }}</td>
									<td>{{ activite.tarif | format_currency('EUR', locale='fr') }}</td>
									<td class="text-center">
										<label class="form-switch mt-2">
											<input class="form-check-input condition" type="checkbox" {{ activite.sousCondition ? ' checked' : '' }} data-id="{{ activite.id }}">
											<span class="slider"></span>
										</label>
									</td>
									<td class="text-center">
										<label class="form-switch mt-2">
											<input class="form-check-input certificat" type="checkbox" {{ activite.certificatObligatoire ? ' checked' : '' }} data-id="{{ activite.id }}">
											<span class="slider"></span>
										</label>
									</td>
									{% if saison.id == saisonEnCours.id %}
										<td class="text-center">
											<a href="{{ path('gestion_activite_edit', {'id': activite.id, 'id_saison': activite.saison.id}) }}">
												<button class="btn btn-primary">
													<i class="bi bi-pencil-square"></i>
												</button>
											</a>
										</td>
										<td>
											<form method="post" action="{{ path('gestion_activite_delete', {'id': activite.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette activité?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.id) }}">
												<button class="btn btn-danger">
													<i class="bi bi-trash"></i>
												</button>
											</form>
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" class="text-end">
									<strong>Totaux</strong>
								</td>
								<td>
									<strong>{{ totalNbDePlace }}</strong>
								</td>
								<td>
									<strong>{{ totalNbInscriptions }}</strong>
								</td>
								<td colspan="4"></td>
							</tr>
						</tfoot>
					</table>
					<div class="row">
						<div class="col">
							<div class="navigation">{{ knp_pagination_render(activites) }}</div>
						</div>
						<div class="col">
							<div class="count">Nb d'enregistrement :
								{{ activites.getTotalItemCount }}</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
