{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Nouvelle Activite
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouvelle activité</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formActivite)}}
			<div>
				{{form_row(formActivite.nom)}}
				<div class="row">
					<div class="col">{{form_row(formActivite.categorie)}}</div>
					<div class="col">{{form_row(formActivite.section)}}</div>
				</div>
				<div class="row">
					<div class="col">{{form_row(formActivite.duree)}}</div>
					<div class="col">{{form_row(formActivite.nbDePlace)}}</div>
					<div class="col">{{form_row(formActivite.tarif)}}</div>
				</div>
				<div class="row">
					<div class="col">{{form_row(formActivite.sousCondition)}}</div>
					<div class="col">{{form_row(formActivite.certificatObligatoire)}}</div>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_activite_index', {'id_saison': saisonEnCours.id}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formActivite)}}
		</div>
	</div>
{% endblock %}