{% extends 'utilisateur/boutique/layoutBoutique.html.twig' %}


{% block element %}


	<div class="row p-2">
		<h1 class="text-center">Vos commandes</h1>


		{% if purchases | length>0 %}

			<div class="table-responsive">
				<table class="table table-sm text-center">

					<thead>
						<tr>
							<th>Numéro</th>

							<th>Date de commande</th>
							<th>Produits</th>
							<th>Total commande</th>
							<th>Total des paiements</th>
							<th></th>
							<th></th>

						</tr>
					</thead>
					<tbody>
						{% for p in purchases %}
							<tr>
								<td>{{p.id}}</td>

								<td>{{p.purchaseAt|date("d/m/Y", "Europe/Paris")}}</td>
								<td>
									<ul>
										{% for item in p.purchaseItems %}
											<li>{{item.quantity}}
												x
												{{item.productName}}</li>
										{% endfor %}
									</ul>
								</td>

								<td>{{p.total| format_currency('EUR', locale='fr') }}</td>
								<td>
									{% set totalpaiement = 0 %}
									{% for paiement in p.paiementBoutiques %}
										{% set totalpaiement = totalpaiement + paiement.montant %}
									{% endfor %}
									{{totalpaiement| format_currency('EUR', locale='fr')}}
								</td>

								{% if (totalpaiement - p.total)==null %}
									<td>
										<a href="{{ path('utilisateur_boutique_purchase_paiement', {'id_purchase': p.id}) }}" class="btn btn-primary">
											Détail
										</a>
									</td>

									<td>
										<a href="{{ path('utilisateur_pdf_boutique_facture', {'id_purchase': p.id}) }}" class="btn btn-primary">
											<i class="bi bi-upload"></i>
											Votre facture
										</a>
									</td>
								{% else %}
									<td>
										<a href="{{ path('utilisateur_boutique_purchase_paiement', {'id_purchase': p.id}) }}" class="btn btn-danger">
											Payer
										</a>
									</td>
									<td></td>

								{% endif %}


							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<h2 class="text-center">Pas encore de commande</h2>
			{% endif %}
		</div>
	</div>

{% endblock %}
