{% extends 'utilisateur/boutique/layoutBoutique.html.twig' %}
{% block javascripts %}
	{{parent()}}

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

	<script src="https://js.stripe.com/v3/"></script>
	<script>
		const strikePublicCle = "{{ stripePublicCle }}";
	</script>
{{ encore_entry_script_tags('paiementBoutique') }}

	

{% endblock %}


{% block element %}	
		<h1 class="text-center">Paiement</h1>
		<div class="row p-2">
			<div class="row">
				<h4>Conditions de paiement</h4>
			</div>
			<div class="rox">{{paiement|raw}}</div>
		</div>

		<div class="row p-2">
			<div class="col">
				<div class="card">
					<div class="card-header">Récaputilatif de la commande : n°<span id="purchase">{{purchase.id}}</span>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-sm text-center">
								<thead>
									<tr class="text-center">
										<th colspan="4">Liste des produits</th>
									</tr>
									<tr>
										<th class="text-center">Produits</th>
										<th class="text-center">Prix unitaire</th>
										<th class="text-center">Quantité</th>
										<th class="text-center">Prix total</th>
									</tr>
								</thead>
								<tbody>
									{% for item in purchase.purchaseITems %}
										<tr>
											<td class="text-center">{{item.productName}}</td>
											<td class="text-center">{{item.productPrice| format_currency('EUR', locale='fr') }}</td>
											<td class="text-center">{{item.quantity}}</td>
											<td class="text-center">{{item.total| format_currency('EUR', locale='fr') }}</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3" class="text-right">Total :
										</td>
										<td class="text-center">{{purchase.total| format_currency('EUR', locale='fr') }}</td>
									</tr>
								</tfoot>
							</table>

						</div>
						<div class="row">
							<table class="table">
								<thead>
									<tr class="text-center">
										<th colspan="3">Liste de vos paiements</th>
									</tr>
									<tr>
										<th class="text-center">Type</th>
										<th class="text-center">Banque</th>
										<th class="text-center">Montant</th>

									</tr>
								</thead>
								<tbody>
									{% if purchase.paiementBoutiques | length>0 %}

										{% for item in purchase.paiementBoutiques %}
											<tr>
												<td class="text-center">{{item.typeDePaiement}}</td>
												<td class="text-center">{{item.banque.nom}}</td>
												<td class="text-center">{{item.montant| format_currency('EUR', locale='fr') }}</td>
											</tr>
										{% endfor %}
									{% else %}
										<tr>
											<td colspan="3" class="text-center">Pas encore de paiement</td>
										</tr>
									{% endif %}
								</tbody>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2" class="text-right">Total :
									</td>
									<td class="text-center">{{totalPaiement| format_currency('EUR', locale='fr') }}</td>
								</tr>
							</tfoot>
						</table>

					</div>
					<div class="row text-center">
						<h4>Solde :
							{{(purchase.total - totalPaiement)| format_currency('EUR', locale='fr')}}</h4>
					</div>
					<div class="row">
						{% if stripe %}

							{% if solded == false  %}
								<button id="checkout-button">
									<i class="bi bi-credit-card"></i>
									Paiement en CB</button>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	
{% endblock %}
