{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Section
{% endblock %}

{% block element %}
	<div class="row p-3 justify-content-evenly">
		<div class="col-md-3"></div>
		<div class="col-12 col-md-6 ">
			<div class="card">
				<div class="card-header">VOS REGLAGES</div>
				<div class="card-body">
					{{ form_start(form) }}

					{{ form_widget(form) }}

					<button type="submit" class="btn btn-lg btn-primary center">sauvegarder</button>
					{{ form_end(form) }}</div>
			</div>
		</div>
		<div class="col-sm-3"></div>

	</div>


{% endblock %}
