{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Réduction
{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Nouvel ajustement
			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div class="col">
				{{form_start(formReduction)}}
				<div class="row">
					<div class="col-12 col-md-6">{{form_row(formReduction.description)}}</div>
					<div class="col-12 col-md-6">{{form_row(formReduction.montant)}}</div>
				</div>
				<div class="text-center">
					<button class="btn btn-primary btn" type="submit">Enregistrer</button>
					<a href="{{path('gestion_dossier_edit', {'id': dossier.id,'ancre': 'reduction_none_none'})}}">
						<button class="btn btn-secondary" type="button">Annuler</button>
					</a>
				</div>
				{{form_end(formReduction)}}
			</div>
		</div>
	</div>


{% endblock %}