{% extends 'gestion/layoutGestion.html.twig' %}


{% block title %}Pratiquant
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Ajouter un Pratiquant
			</div>
		</div>
		<div class="paquet-contenu p-2">

			{{form_start(formPratiquant)}}
			<div class="row">
				<div class="col-12 col-md-4">{{form_row(formPratiquant.sexe)}}</div>
				<div class="col-12 col-md-4">{{form_row(formPratiquant.nom)}}</div>
				<div class="col-12 col-md-4">{{form_row(formPratiquant.prenom)}}</div>
			</div>
			{{form_row(formPratiquant.naissance)}}
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_dossier_edit', {'id': dossier.id,'ancre': 'pratiquant_'~ pratiquant.id ~'_none'}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>

			{{form_end(formPratiquant)}}</div>
	</div>

{% endblock %}