@import "~bootstrap-5/scss/bootstrap";
@import "~bootstrap-table/dist/bootstrap-table.min.css";

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://cdn.jsdelivr.net/gh/akottr/dragtable@master/dragtable.css");
@import '~bootstrap-table/dist/bootstrap-table.min.css';

@import "~datatables.net-bs5/css/dataTables.bootstrap5.min";
@import "~datatables.net-select-dt/css/select.dataTables.min.css";
@import "~datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";

@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

