@import "./custom.scss";
@import "~bootstrap-5/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.contenu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.row {
    margin: 0;
}
.col {
    margin: 0;
}
.tab-content {
    padding: 0;
}
.action-contenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.action {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.navBottom {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background-color: black;
}
.tag {
    z-index: 5;
    padding-left: 20px;
    position: absolute;
}
.paquet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.paquet-header {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-size-adjust: auto;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    background-color: rgb(153, 152, 152);
    border-bottom: 2px solid;
}

.paquet-contenu {
    padding: 5px;
    background-color: rgb(233, 233, 233);
    border-bottom-right-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
}

.carte {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(233, 233, 233);
}

.reduire {
    width: 95%;
    margin: auto;
}
.reduireL {
    width: 95%;
    margin: auto;
}
.filtre {
    position: absolute;
    z-index: 500;
}

.paquet-connexion {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.connexion {
    width: 450px;
    margin: auto;
}
.login-form {
    background-color: rgba(128, 128, 128, 0.556);
    width: 400px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form form {
    width: 350px;
}
.login-form a {
    color: white;
}
.new-register {
    margin-top: 25px;
    text-align: center;
}
.new-register button {
    margin: 10px;
}
@media (max-width: 768px) {
    #navTop {
        display: none;
    }
    
    .paquet {
        margin: 10px 10px 75px 10px;
    }

    .connexion {
        width: 100vw;
    }
    .login-form {
        width: 90vw;
    }
    .login-form form {
        width: 80vw;
    }
    .action {
        justify-content: center;
        margin: auto;
    }
}
@media (min-width: 768px) {
    #navBottom {
        display: none;
    }
    .reduire {
        width: 500px;
        margin: auto;
    }
    .paquet {
        margin-top: 35px;
        margin-bottom: 5px;
    }
    
    .reduireL {
        width: 750px;
        margin: auto;
    }
    .action {
        justify-content: space-between;
    }
}
