<div class="card">
	<div class="card-header"></div>
	<h2>
		ALERTES
	</h2>

	<table class="table table-bordered bg-white mb-0">
		<thead>
			<tr>
				<th class="text-center">Designation</th>
				<th class="text-center">Nombre</th>

			</tr>
		</thead>
		<tbody>
			
			{% for alerte,nombre in alertes %}
				<tr>
					<td class="text-center">
						{{ alerte }}</td>
					<td class="text-center">
						{{ nombre }}</td>
				</tr>
			{% else %}
				<tr>
					<td class="text-center" colspan="2">Aucune alerte (dossier complet)</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
</div>
