
			<a href="{{ path('utilisateur_pdf_bulletin', {'id_dossier': dossier.id}) }}" class="btn btn-primary">
				<i class="bi bi-upload"></i>
				Télécharger le bulletin d'inscription
			</a>

			<hr>
			{% if modificationDossier and dossier.dossierVerrouille==false %}

				<h5>Téléverser le bulletin après signature au format pdf :</h5>
				{{form_start(formBulletin)}}
				{{form_end(formBulletin)}}
				<hr>
			{% endif %}


			{% if dossier.bulletinAdhesion is not null  %}

				{% include "utilisateur/dossier/_modalBulletin.html.twig"%}
			{% endif %}
