<div class="card">
	<div class="card-header">
		<h2>
			Informations vous concernant
			<a href="{{ path( 'adherent_edit',{'id': adherent.id})}}" class="btn btn-primary">Modifier</a>
		</h2>
	</div>

	<table class="table table-bordered bg-white mb-0">
		<thead>
			<tr>
				<th class="text-center">Addresse</th>
				<th class="text-center">code postal</th>
				<th class="text-center">ville</th>
				<th class="text-center">Portable</th>

				<th class="text-center">Action</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center">{{ adherent.adresse }}</td>
				<td class="text-center">{{ adherent.codePostal }}</td>

				<td class="text-center">{{ adherent.ville  }}</td>
				<td class="text-center">{{ adherent.portable  }}</td>

				<td class="text-center"></td>
			</tr>
		</tbody>
	</tbody>
</table></div>
