<div class="text-center"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bulletinadhesion">
	Ouvrir le bulletin d'inscription
</button></div>


<div class="modal fade" id="bulletinadhesion" tabindex="-1" aria-labelledby="bulletinadhesionLabel" aria-hidden="true">


	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="bulletinadhesionLabel">
					Bulletin d'inscription
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<iframe src="{{asset('/assets/uploads/' ~ dossier.bulletinAdhesion)}}" width="100%" height="500px"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FERMER</button>
			</div>
		</div>
	</div>
</div>
