<p class="m-3">{{information.paiement|raw}}</p>
<div class="row">
	<table>
		<thead>
			<tr>
				<th>Désignation</th>
				<th class="text-right">Montant</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Total des activités
				</td>
				<td class="text-right">{{cotisation.totalActivite| format_currency('EUR', locale='fr') }}</td>
			</tr>
			{% for tarifs in cotisation.detailTarif %}
				{% for key, tarif in tarifs %}
					<tr>
						<td>{{key}}</td>
						<td class="text-right">{{tarif| format_currency('EUR', locale='fr') }}</td>
					</tr>
				{% endfor %}
			{% endfor %}

			<tr>
				<td>
					Ajustement tarifaire
				</td>
				<td class="text-right">{{cotisation.totalReduction| format_currency('EUR', locale='fr') }}</td>
			</tr>


			<tr>
				<td>
					<h5>Total à régler</h5>
				</td>
				<td class="text-right">{{cotisation.total| format_currency('EUR', locale='fr') }}</td>
			</tr>


			<tr>
				<td>
					<h5>Vos paiements</h5>
				</td>
				<td class="text-right"></td>

			</tr>
			<tr>
				<td>Non encaissé</td>
				<td class="text-right">{{paiement.nonencaisse| format_currency('EUR', locale='fr') }}</td>
			</tr>
			<tr>
				<td>Encaissé</td>
				<td class="text-right">{{paiement.encaisse| format_currency('EUR', locale='fr') }}</td>
			</tr>

			<tr>
				<td>
					<h5>Solde</h5>
				</td>
				<td class="text-right">{{solde| format_currency('EUR', locale='fr') }}</td>
			</tr>
		</tbody>
	</table>


	{% if stripe %}
		{% if solde > 1 %}

			<button id="checkout-button">
				<i class="bi bi-credit-card"></i>
				Paiement en CB
			</button>
			<p class="text-center alert alert-secondary">Pour le paiement en trois fois, cliquer au dessus et utiliser KLARNA </p>
		{% else %}

			{% if solde == null %}
				<a href="{{ path('utilisateur_pdf_facture', {'id_dossier': dossier.id}) }}" class="btn btn-primary">
					<i class="bi bi-upload"></i>
					Votre facture
				</a>
			{% endif %}
		{% endif %}
	{% endif %}
</div>