<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#document{{document.id}}">
	Ouvrir le document
</button>
<div class="modal fade" id="document{{document.id}}" tabindex="-1" aria-labelledby="document{{document.id}}Label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="document{{document.id}}Label">{{document.designation}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<iframe src="{{asset('/assets/uploads/' ~ document.nom)}}" width="100%" height="500px"></iframe>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FERMER</button>
			</div>
		</div>
	</div>
</div>
