<h3>
	Liste des activites
	{% if modificationDossier  and dossier.dossierVerrouille==false%}

		<a href="{{ path('utilisateur_inscription_new', {'id_dossier': dossier.id, 'id_pratiquant': pratiquant.id}) }}" class="btn btn-primary">Ajouter une inscription</a>
	{% endif %}


</h3>
<div class="row table-responsive">

	<table class="table">
		<thead>
			<tr>
				{% if modificationDossier  and dossier.dossierVerrouille==false %}

					<th class="text-center" colspan="2">Action</th>
				{% endif %}
				<th class="text-center">Activite</th>
				{% if information.coursVisible %}
					<th class="text-center">Cours</th>
				{% endif %}
				<th class="text-center">Certificat obligatoire</th>
				<th class="text-center">Document</th>
				
			</tr>
		</thead>
		<tbody>

			{% for inscription in inscriptions  %}


				{% if inscription.pratiquant == pratiquant %}
					<tr>
						{% if modificationDossier  and dossier.dossierVerrouille==false %}

							<td class="text-center">
								<a href="{{ path('utilisateur_inscription_edit', {'id': inscription.id, 'id_dossier': dossier.id}) }}">
									<button class="btn btn-primary">
										<i class="bi bi-pencil-square"></i>
									</button>
								</a>
							</td>
							<td>
								<form method="post" action="{{ path('utilisateur_inscription_delete', {'id': inscription.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette inscription?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription.id) }}">
									<button class="btn btn-danger">
										<i class="bi bi-trash"></i>
									</button>
								</form>
							</td>
						{% endif %}
						<td class="text-center">
							{{inscription.activite.nom}}
						</td>
						{% if information.coursVisible %}
							<td class="text-center">
								{% if inscription.cours.nom is defined %}
									{{inscription.cours.nom}}
								{% endif %}
							</td>
						{% endif %}
						<td class="text-center">
							{{inscription.CertificatObligatoire ? 'oui': 'non'}}
						</td>
						<td class="text-center">
							{% if inscription.CertificatObligatoire %}

								<select class="form-select doc" aria-label="document" data-id="{{inscription.id}}">
									<option {{inscription.cours ? '': 'selected'}}>Choisir un document</option>
									{% for document in  inscription.pratiquant.documents %}
										<option {% if inscription.document.id is defined %} {{inscription.document.id == document.id ? 'selected': ''}} {% endif %} value="{{document.id}}">{{document.designation}}
										</option>
									{% endfor %}
								</select>


							{% endif %}

						</td>

						

					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td class="text-center" colspan="7">Aucune inscription</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
</div>
