<h3>
	Liste des documents
	{% if modificationDossier and dossier.dossierVerrouille==false%}

		<a href="{{ path('utilisateur_document_new', {'id_dossier': dossier.id, 'id_pratiquant': pratiquant.id}) }}" class="btn btn-primary">Ajouter un document</a>
	{% endif %}


</h3>
<div class="row table-responsive">

	<table class="table table-bordered bg-white mb-0">
		<thead>
			<tr>
				{% if modificationDossier  and dossier.dossierVerrouille==false%}

					<th class="text-center" colspan="2">Action</th>
				{% endif %}


				<th class="text-center">Designation</th>
				<th class="text-center">Type</th>
				<th class="text-center">date du certificat</th>
				<th class="text-center">document</th>

			</tr>
		</thead>
		<tbody>
			{% for document in pratiquant.documents  %}
				<tr>
					{% if modificationDossier  and dossier.dossierVerrouille==false%}

						<td class="text-center">
							<a class="btn btn-primary" href="{{path("utilisateur_document_edit", {'id': document.id, 'id_dossier': dossier.id})}}">
								<i class="bi bi-pencil-square"></i>
							</a>
						</td>
						<td class="text-center">
							<form method="post" action="{{ path('utilisateur_document_delete', {'id': document.id, 'id_dossier': dossier.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce document?');">

								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>

							</form>
						</td>
					{% endif %}


					<td class="text-center">
						{{document.designation}}
					</td>
					<td class="text-center">
						{{document.type}}
					</td>
					<td class="text-center">
						{{document.dateCertificat| date("d/m/Y")}}
					</td>
					<td class="text-center">
						{% include "utilisateur/dossier/_pratiquantModalDocument.html.twig"%}
					</td>

				</tr>
			{% else %}
				<tr>
					<td class="text-center" colspan="6">Aucun document</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
