<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{inscription.pratiquant.nom|lower ~ loop.index}}">
	Ajout du certificat
</button>

<div class="modal fade" id="{{inscription.pratiquant.nom|lower ~ loop.index}}" tabindex="-1" aria-labelledby="{{inscription.pratiquant.nom|lower ~ loop.index}}Label" aria-hidden="true">


	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="{{inscription.pratiquant.nom|lower ~ loop.index}}Label">
					{% if inscription.document.designation is defined %}
						{{inscription.document.designation}}
					{% endif %}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<select class="form-select document" aria-label="document" data-id="{{inscription.id}}">
					<option {{inscription.cours ? '': 'selected'}}>Choisir un document</option>
					{% for document in  inscription.pratiquant.documents %}
						<option {% if inscription.document.id is defined %} {{inscription.document.id == document.id ? 'selected': ''}} {% endif %} value="{{document.id}}">{{document.designation}}

						</option>

					{% endfor %}
				</select>

			</div>
			<div class="modal-footer">
				
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FERMER</button>
			</div>
		</div>
	</div>
</div>
