<div class="row table-responsive">
	<table class="table">
		<thead>
			<tr>
				{% if modificationDossier  and dossier.dossierVerrouille==false %}

					<th class="text-center" colspan="2">Action</th>
				{% endif %}
				<th class="text-center">Sexe</th>
				<th class="text-center">Nom</th>
				<th class="text-center">Prenom</th>
				<th class="text-center">date de naissance</th>
				{% if information.mensurationPratiquant %}
					<th style="min-width: 125px;">Taille Haut</th>
					<th style="min-width: 125px;">Taille Bas</th>
				{% endif %}

			</tr>
		</thead>
		<tbody>
			<tr>
				{% if modificationDossier  and dossier.dossierVerrouille==false %}

					<td class="text-center">
						<a class="btn btn-primary" href="{{ path('utilisateur_pratiquant_edit', {'id': pratiquant.id}) }}">
							<i class="bi bi-pencil-square" alt="Modifier" title="Modifier"></i>

						</a>
					</td>
					<td class="text-center">
						<form method="post" action="{{ path('utilisateur_pratiquant_delete', {'id': pratiquant.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce pratiquant?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pratiquant.id) }}">
							<button class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</button>
						</form>
					</td>
				{% endif %}


				<td class="text-center">{{ pratiquant.sexe }}</td>
				<td class="text-center">{{ pratiquant.nom }}</td>
				<td class="text-center">{{ pratiquant.prenom }}</td>
				<td class="text-center">{{ pratiquant.naissance|date("d/m/Y")  }}</td>
				{% if information.mensurationPratiquant %}
					<td>
						<select class="form-select tailleHaut" aria-label="tailleHaut" data-id="{{pratiquant.id}}">
							<option {{pratiquant.tailleHaut ? '': 'selected'}}>Choisir une taille</option>
							{% for taille in  mensurationRepository.tailleOrdered %}
								<option {% if pratiquant.tailleHaut.id is defined %} {{pratiquant.tailleHaut.id == taille.id ? 'selected': ''}} {% endif %} value="{{taille.id}}">{{taille.taille}}
								</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select class="form-select tailleBas" aria-label="tailleBas" data-id="{{pratiquant.id}}">
							<option {{pratiquant.tailleBas ? '': 'selected'}}>Choisir une taille</option>
							{% for taille in  mensurationRepository.tailleOrdered %}
								<option {% if pratiquant.tailleBas.id is defined %} {{pratiquant.tailleBas.id == taille.id ? 'selected': ''}} {% endif %} value="{{taille.id}}">{{taille.taille}}
								</option>
							{% endfor %}
						</select>
					</td>
				{% endif %}
			</tr>
		</tbody>
	</table>
</div>