<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#document{{inscription.id}}">
	Ouvrir le document
</button>

<div class="modal fade" id="document{{inscription.id}}" tabindex="-1" aria-labelledby="document{{inscription.id}}Label" aria-hidden="true">


	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="document{{inscription.id}}Label">
					{% if inscription.document.designation is defined %}
						{{inscription.document.designation}}
					{% endif %}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% if inscription.document.nom is defined %}
					<iframe src="{{asset('/assets/uploads/' ~ inscription.document.nom)}}" width="100%" height="500px"></iframe>
				{% endif %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FERMER</button>
			</div>
		</div>
	</div>
</div>
