{% extends 'utilisateur/layoutUtilisateur.html.twig' %}
{% block stylesheets %}
	{{parent()}}

	{{ encore_entry_link_tags('editDossier') }}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	{# <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> #}

	<script src="https://js.stripe.com/v3/"></script>
	<script>
		const strikePublicCle = "{{ stripePublicCle }}";
	</script>

	{{ encore_entry_script_tags('editDossier') }}


{% endblock %}
{% block title %}Votre dossier
{% endblock %}
{% block contenu %}
	<div class="paquet reduireL">
		<div class="paquet-header">{{dossier.adherent.nom}}
			{{dossier.adherent.prenom}}
			: Dossier n°{{dossier.id}}</div>
		<div class="paquet-contenu p-2">
			<div class="progress-steps">
				<div class="step-number {% if ancre.pill_dossier == 'information' %}active{% endif %} ok" id="adherent-step">1</div>
				<div class="step-number {% if ancre.pill_dossier == 'pratiquant' %}active{% endif %} {% if alerts.nbInscription > 0 and alerts.nb_certificat == 0 %}ok{% else %}fail{% endif %}" id="pratiquant-step">2</div>
				<div class="step-number {% if ancre.pill_dossier == 'bulletin' %}active{% endif %} {% if alerts.nbInscription == 0 %}disabled{% endif %} {% if alerts.bulletin == 'Oui' %}ok{% else %}fail{% endif %}" id="bulletin-step">3</div>
				<div class="step-number {% if ancre.pill_dossier == 'paiement' %}active{% endif %} {% if alerts.nbInscription == 0 %}disabled{% endif %} {% if alerts.cotisation == 'Oui' %}ok{% else %}fail{% endif %}" id="paiement-step">4</div>
			</div>


			<nav class="items p-2">
				<div class="nav nav-tabs " id="nav-tab" role="tablist">
					<button class="nav-link {% if ancre.pill_dossier == 'information' %}active{% endif %} progress-button " id="adherent-tab" data-bs-toggle="tab" data-bs-target="#adherent" type="button" role="tab" aria-controls="adherent" aria-selected="true">Informations</button>
					<button class="nav-link {% if ancre.pill_dossier == 'pratiquant' %}active{% endif %} progress-button" id="pratiquant-tab" data-bs-toggle="tab" data-bs-target="#pratiquant" type="button" role="tab" aria-controls="pratiquant" aria-selected="false">Pratiquant(s)</button>
					<button class="nav-link {% if ancre.pill_dossier == 'bulletin' %}active{% endif %} {% if alerts.nbInscription == 0 %}disabled{% endif %} progress-button" id="bulletin-tab" data-bs-toggle="tab" data-bs-target="#bulletin" type="button" role="tab" aria-controls="bulletin" aria-selected="false">Bulletin d'inscription</button>
					<button class="nav-link {% if ancre.pill_dossier == 'paiement' %}active{% endif %} {% if alerts.nbInscription == 0 %}disabled{% endif %} progress-button" id="paiement-tab" data-bs-toggle="tab" data-bs-target="#paiement" type="button" role="tab" aria-controls="paiement" aria-selected="false">Paiement-Facture</button>
				</div>
			</nav>
			<div class="tab-content items" id="nav-tabContent">
				<div class="tab-pane fade {% if ancre.pill_dossier == 'information' %}show active{% endif %} tab-item" id="adherent" role="tabpanel" aria-labelledby="adherent-tab">
					{% if dossier.inscriptions|length>0 %}
						{% for key, alert in alerts %}

							{% if key=='bulletin' and alert == 'Non' %}
								<div class="alert alert-danger bulletin" role="alert">
									<i class="bi bi-exclamation-triangle"></i>
									Vous n'avez pas téléchargé votre bulletin d'inscription</div>
							{% endif %}
							{% if key =='nb_certificat' and alert > 0  %}
								<div class="alert alert-danger pratiquant" role="alert">
									<i class="bi bi-exclamation-triangle"></i>
									Il manque
									{{alert}}
									certificat(s) médical(s)</div>
							{% endif %}
							{% if key=='cotisation' and alert == 'Non' %}
								<div class="alert alert-danger paiement" role="alert">
									<i class="bi bi-exclamation-triangle"></i>
									Votre cotisation n'est pas à jour</div>
							{% endif %}
						{% endfor %}
					{% endif %}
					<h5 class="text-center">Informations concernant l'inscription</h5>
					<p>{{information.descriptionInscription|raw}}</p>
				</div>
				<div class="p-2 tab-pane fade {% if ancre.pill_dossier == 'pratiquant' %}show active {% endif %} tab-item" id="pratiquant" role="tabpanel" aria-labelledby="pratiquant-tab">
					{% include "utilisateur/dossier/_pratiquant.html.twig"%}
				</div>
				<div class="p-2 tab-pane fade {% if ancre.pill_dossier == 'bulletin' %}show active {% endif %} tab-item" id="bulletin" role="tabpanel" aria-labelledby="bulletin-tab">
					{% include "utilisateur/dossier/_bulletin.html.twig"%}
				</div>
				<div class="p-4 tab-pane fade {% if ancre.pill_dossier == 'paiement' %}show active {% endif %} tab-item" id="paiement" role="tabpanel" aria-labelledby="paiement-tab">
					{% include "utilisateur/dossier/_paiement.html.twig"%}
				</div>
			</div>
		</div>
	</div>
{% endblock %}