{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block title %}Connexion
{% endblock %}

{% block contenu %}
	<div class="paquet">
		<div class="paquet-contenu" style="text-align:center">
			<h1><img src="{{asset('logo.png')}}" alt="logo" class="rounded mx-auto d-block" style="height:200px"></h1>
			<p>Votre paiement en ligne n'a pas été effectué</p>
		</div>
	</div>
{% endblock %}
