{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block title %}SMS
{% endblock %}

{% block contenu %}

	<div class="paquet">
		<div class="paquet-header">Envoi de SMS</div>
		<div class="paquet-contenu">
			<div style="align-content: center; font-size: 25px">Les destinataires sont rangés par paquet de
				{{quota}}
				maximun</div>
			<div class="row p-2">
				{% set paquet = 1 %}
				{% set nb = 1 %}
				{% set groupe = '' %}
				{% for destinataire in destinataires %}
					{% set tel = destinataire %}
					{% if nb <= quota %}
						{% set groupe = groupe ~ tel ~ ',' %}
						{% set nb = nb + 1 %}
					{% else %}
						<div class="col text-center p-2">
							<a href="sms://{{groupe}}?body={{message}}">
								<button>
									paquet :
									{{paquet}}</button>
							</a>
						</div>
						{% set nb = 2 %}
						{% set groupe = tel ~ ',' %}
						{% set paquet = paquet + 1 %}
					{% endif %}
				{% endfor %}
				<div class="col text-center p-2">
					<a href="sms://{{groupe}}?body={{message}}">
						<button>
							paquet :
							{{paquet}}</button>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a href="{{ path('gestion') }}">
						<button class="btn btn-primary">Retour au tableau de bord</button>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
