{% extends 'utilisateur/layoutUtilisateur.html.twig' %}


{% block title %}Contact Pratiquant
{% endblock %}

{% block contenu %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Modifier un contact</div>
		</div>
		<div class="paquet-contenu p-2">
			{{ form_start(formContact) }}
			<div class="row">
				<div class="col-12 col-md-6">{{form_row(formContact.nom)}}</div>
				<div class="col-12 col-md-6">{{form_row(formContact.prenom)}}</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6">{{form_row(formContact.email)}}</div>
				<div class="col-12 col-md-6">{{form_row(formContact.portable)}}</div>
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('utilisateur_dossier_edit', {'ancre': 'pratiquant_none_none'}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{ form_end(formContact) }}
		</div>
	</div>
{% endblock %}