{% if vich_uploader_asset(evenement,'imageFile') %}
	<div style="display:none;">
		<img id="fond" src="{{asset(vich_uploader_asset(evenement,'imageFile'))}}" alt="">
	</div>
{% endif %}
<canvas id="canvas" width={{evenement.largeur}} height={{evenement.hauteur}} data-evenement="{{evenement.id}}"></canvas>