<div id="plan" data-id="{{evenement.id}}" data-width="{{evenement.largeur}}" data-height="{{evenement.hauteur}}" {% if vich_uploader_asset(evenement,'imageFile') %} style="background-image: url({{asset(vich_uploader_asset(evenement,'imageFile'))}});" {% endif %}>
	<div id="cont" class="col">
		{% for c in evenement.containers %}
			<div data-tooltip="{{c.nom}}" id="nom">
				<div id="{{c.id}}" class="rotated ball" data-id="{{c.id}}" data-nom="{{c.nom}}" style="left: {{c.x}}px; top: {{c.y}}px;transform: rotate({{c.angle}}deg); position: absolute;)">
					<table style="background-color: rgba(0,0,255,.1)">
						<tbody>
							<tr>
								{% for p in c.places %}
									<td class="text-center" style="width:{{c.largeur}}px; height:{{c.hauteur}}px; border: 1px solid #333;">{{p.nom}}</td>
								{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>
			{% endfor %}
		</div>
	</div>
</div>