<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Raccourcis 
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<div class="row">
					<div class="col-6">
						<div class="row">
							<div class="col-4"></div>
							<div class="col-4">
								<div class="row">
									<div class="col-6">
										<i class="bi bi-arrow-up"></i>
									</div>
									<div class="col-6">Z</div>
								</div>
							</div>
							<div class="col-4"></div>
						</div>
						<div class="row">
							<div class="col-4">
								<div class="row">
									<div class="col-6">
										<i class="bi bi-arrow-left"></i>
									</div>
									<div class="col-6">Q</div>
								</div>
							</div>
							<div class="col-4"></div>
							<div class="col-4">
								<div class="row">
									<div class="col-6">
										<i class="bi bi-arrow-right"></i>
									</div>
									<div class="col-6">D</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-4"></div>
							<div class="col-4">
								<div class="row">
									<div class="col-6">
										<i class="bi bi-arrow-down"></i>
									</div>
									<div class="col-6">X</div>
								</div>
							</div>
							<div class="col-4"></div>
						</div>
					</div>
					<div class="col-6">
						<div class="row">
							<div class="col-6">
								<div class="row">
									<div class="col">
										<i class="bi bi-arrow-counterclockwise"></i>
									</div>
									<div class="col">A</div>
								</div>
							</div>
							<div class="col-6">
								<div class="row">
									<div class="col">
										<i class="bi bi-arrow-clockwise"></i>
									</div>
									<div class="col">E</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="row">
									<div class="col">
										<i class="bi bi-arrows-expand"></i>
									</div>
									<div class="col">S</div>
								</div>

							</div>
							<div class="col-6">
								<div class="row">
									<div class="col">
										<i class="bi bi-arrows-collapse"></i>
									</div>
									<div class="col">F</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="row">
									<div class="col-6" style="transform: rotate(90deg)">
										<i class="bi bi-arrows-expand"></i>
									</div>
									<div class="col-6">W</div>
								</div>
							</div>
							<div class="col-6">
								<div class="row">
									<div class="col-6" style="transform: rotate(90deg)">
										<i class="bi bi-arrows-collapse"></i>
									</div>
									<div class="col-6">C</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>