{% extends 'gestion/layoutGestionEvenement.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('editPlan') }}

{% endblock %}
{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('editPlan') }}
{% endblock %}

{% block title %}Evenement
{% endblock %}

{% block sousElement %}
	<div id="container" class="container-fluid p-2">
		<div id="reglage" class="my-2 p-2 text-center">
			<h3 class="text-center">Plan de l'événément
				{{evenement.nom}}</h3>
			<div class="row p-2">
				{% include "gestion/evenement/plan/_raccourci.html.twig"%}
			</div>

			<div class="row p-2">
				<h3>Container(s) sélectioné(s):
					<span id="nom"></span>
				</h3>
			</div>
		</div>

		{% include "gestion/evenement/plan/_newPlan.html.twig"%}

	</div>
{% endblock %}