{# templates/utilisateur/video/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <style>
        .video-thumbnail {
            display: inline-block;
            margin: 10px;
            text-align: center;
        }
        .video-thumbnail img {
            width: 150px;
            height: auto;
        }
        .download-button {
            margin-top: 5px;
        }
        .fancybox-caption__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .fancybox-download {
            background-color: #4CAF50;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
        }
        .fancybox-download:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-fancybox="gallery"]').fancybox({
                buttons: [
                    "close"
                ],
                caption : function(instance, item) {
                    return $(this).find('img').attr('alt') + 
                           '<a href="' + $(this).attr('data-download') + '" class="fancybox-download" download>Télécharger</a>';
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="paquet reduireL mt-2">
        <div class="paquet-header">{{ video.designation }}</div>
        <div class="paquet-contenu">
            <div class="photos">
                {% for photo in photos %}
                    <div class="video-thumbnail">
                        <a href="{{ asset('video/gala/' ~ video.file ~ '/' ~ photo) }}" data-fancybox="gallery" data-download="{{ asset('video/gala/' ~ video.file ~ '/' ~ photo) }}" data-caption="{{ photo }}">
                            <img src="{{ asset('video/gala/' ~ video.file ~ '/' ~ photo) }}" alt="{{ photo }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
