{# templates/utilisateur/video/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css"/>
    <style>
        .info-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
        }
        .video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }
        .video-wrapper {
            width: 100%;
            max-width: 800px; /* Ajustez selon vos besoins */
            margin: 0 auto;
        }
        .plyr {
            width: 100%;
            height: auto;
        }
        .download-link {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        .btn-download {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const player = new Plyr('#player', {
                controls: [
                    'play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen'
                ],
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="paquet reduireL mt-2">
        <div class="paquet-header">{{video.designation}}</div>
        <div class="paquet-contenu">
            <div class="video-container">
                <div class="video-wrapper">
                    <video id="player" class="plyr" controls>
                        <source src="{{ asset(video_path) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="download-link">
                <a href="{{ asset(video_path) }}" download class="btn-download">
                    Télécharger la vidéo
                </a>
            </div>
            <div class="info-bar">
                <p>Nombre de vues : {{ video.view }}</p>
                <div class="back-button">
                    <a href="{{ path('utilisateur_evenement_liste') }}">
                        <button class="btn btn-secondary">
                            Retour à la liste
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}