{# templates/utilisateur/video/list.html.twig #}
{% extends 'utilisateur/layoutUtilisateur.html.twig' %}

{% block title %}Vidéo(s){% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block contenu %}
    <div class="paquet reduireL mt-2">
        <div class="paquet-header">Vidéo & Photos</div>
        <div class="paquet-contenu">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                        <tr>
                            <td>{{ video.designation }}</td>
                            <td>
                                {% if video.privated %}
                                    {% if user in video.utilisateurs %}
                                        <a href="{{ path('utilisateur_evenement_video_edit', {'videoName': video.file}) }}">
                                            <button class="btn btn-primary">
                                                Video <i class="fas fa-eye"></i> {{ video.view }}
                                            </button>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('utilisateur_evenement_video_edit', {'videoName': video.file}) }}">
                                        <button class="btn btn-primary">
                                            Vidéo <i class="fas fa-eye"></i> {{ video.view }}
                                        </button>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if video.photo %}
                                    <a href="{{ path('utilisateur_evenement_photo_edit', {'videoName': video.file}) }}">
                                        <button class="btn btn-primary">
                                            Photos
                                        </button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
