{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block contenu %}
	{{parent()}}
	<div class="col"></div>
	<div class="col">
		<div class="card o-hidden border-0 shadow-lg my-5 mw-50 justify-content-center">
			<div class="card-body p-0">
				<div class="row">
					<div class="col ">
						<div class="p-5">
							<div class="text-center">
								<a class="nav-link" href="{{path('security_login')}}">
									<img src="{{asset('logo.png')}}" alt="logo" class="rounded mx-auto d-block" style="height:200px">
								</a>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="col"></div>
{% endblock %}
