<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			{% block title %}Gestion
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('base') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('base') }}
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
			<nav class="navbar sticky-top navbar-expand-md bg-dark navbar-dark" id="navTop">
				{% include "element/_navbar.html.twig" %}
			</nav>
			<div class="navBottom" id="navBottom">
				{% include "element/_navbarbottom.html.twig" %}
			</div>
		{% endblock %}

		{% block body %}
			{% if is_granted('IS_IMPERSONATOR') %}
				<a href="{{ impersonation_exit_path(path('gestion') ) }}">Quitter l'usurpation d'identité</a>
			{% endif %}
			{% for rubrique, messages in app.flashes %}
				<div class="alert alert-{{rubrique}}" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					{% for message in messages %}
						<strong>{{message}}</strong>
					{% endfor %}
				</div>
			{% endfor %}
			<div id="alertJs"></div>
			<div class="contenu">
				{% block contenu %}{% endblock %}
			</div>
		{% endblock %}
	</body>
</html>