{% extends 'gestion/layoutGestionBoutique.html.twig' %}


{% block title %}Modification catégorie
{% endblock %}

{% block sousElement %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">
				Modification de la catégorie de produit
			</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formCategory)}}
			{{form_row(formCategory.name)}}
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_boutique_product_index', {'id_saison': saisonEnCours.id}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formCategory)}}
		</div>
	</div>
</div>{% endblock %}