{% extends 'gestion/layoutGestionBoutique.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Catégorie
{% endblock %}

{% block sousElement %}
	<div class="p-2">
		<a href="{{ path('gestion_boutique_category_new') }}">
			<button class="btn btn-primary">Ajouter une nouvelle catégorie</button>
		</a>
		<div id="toolbar" class="action-contenaire">
			<div class="action">
				<div class="p-1">
					<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
				</div>
			</div>
			<div class="action"></div>
			<div class="action">
				<div class="p-1" id="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-layout-three-columns"></i>
					</button>
					<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
				</div>
				<div class="p-1">
					<button id="CSV" class="btn btn-secondary">CSV</button>
				</div>
			</div>
		</div>
	</div>
<div class="table-responsive">
		<table class="table table-hover" id="category">
			<thead>
				<tr>
					<th class="colonne cache">id</th>
					<th class="colonne">Nom</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}

					<tr>

						<td class="cache">{{category.id}}</td>
						<td>
							{{ category.name}}
						</td>
						<td class="text-center">
							<a href="{{ path('gestion_boutique_category_edit', {'id': category.id}) }}">
								<button class="btn btn-primary">
									<i class="bi bi-pencil-square"></i>
								</button>
							</a>
						</td>
						<td>
							<form method="post" action="{{ path('gestion_boutique_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette catégorie?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>

					</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
{% endblock %}