:root {
    // --scale: 1;
    // --height-plan: auto;
    // --height-contenaire: auto;
    // --width-plan: auto;
    // --translate-plan: "0px";
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // height: var(--height-contenaire);
}
#reglage {
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    z-index: 100;
    // position: fixed;
    background-color: rgb(199, 199, 199);
}
// #plan {
//     width: var(--width-plan);
//     height: var(--height-plan);
//     position: relative;
//     border: 1px solid #333;
//     transform: translateY(var(--translate-plan)) scale(var(--scale));
// }
#pied {
    margin-top: 15px;
    width: 100%;
    // transform: translateY(var(--translate-plan));
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(201, 201, 201);
    padding: 15px;
}
@media (min-width: 1020px) {
    #pied {
        width: 75%;
    }
    #pied .cadre {
        max-width: 30%;
    }
}
#pied .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#pied .cadre {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.cadre h5 {
    text-align: center;
}
.buttonStripe {
    margin: 10px;
    text-align: center;
}
.legende {
    display: flex;
    justify-content: center;
}
.legende-item {
    padding: 5px;
}

.containers {
    width: 100%;
    // transform: translateY(var(--translate-plan)) scale(var(--scale));
}
.container-permanence {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 5px;
}

.place-permanence {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 1px solid #333;
    margin: 5px;
}

.place {
    border: 1px solid #333;
    text-align: center;
}
// /*--------------------------------------------------------------
// # go to info
// --------------------------------------------------------------*/
// .got-to-info {
//     position: fixed;
//     visibility: visible;
//     opacity: 1;
//     right: 15px;
//     bottom: 35px;
//     z-index: 996;
//     background: #47b2e4;
//     width: 100px;
//     height: 40px;
//     border-radius: 50px;
//     transition: all 0.4s;
// }
// // .got-to-info i {
// //   font-size: 24px;
// //   color: #fff;
// //   line-height: 0;
// // }
// .got-to-info:hover {
//     background: #6bc1e9;
//     color: #fff;
// }
// .got-to-info {
//     text-decoration: none;
// }
.notification {
    position: fixed;
    visibility: visible;    
    display: flex;
    justify-content: center;
    width: 100%;    
    z-index: 996;   
    animation: apparition 2s;
}

.ancre{
    position: fixed;
    visibility: visible;
    opacity: 1;
    right: 15px;
    bottom: 70px;
    z-index: 996;
    background: #47b2e4;
    width: 100px;   
    border-radius: 50px;
    text-align: center;
    
}
