{% extends 'gestion/layoutGestionEvenement.html.twig' %}


{% block title %}Option
{% endblock %}

{% block contenu %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Modifier l'option</div>
		</div>
		<div class="paquet-contenu p-2">
			{{ form_start(form) }}
			<div class="row">
				<div class="col">{{form_row(form.name)}}</div>
				<div class="col">{{form_row(form.price)}}</div>
			</div>

			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_evenement_edit', {'id': evenement.id,'ancre':'option'}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}