{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block element %}

	<div class="paquet">
		<div class="paquet-header">Information</div>
		<div class="paquet-contenu">
			{{form_start(formInformation)}}
			<div class="my-custom-class-for-errors">
				{{ form_errors(formInformation) }}
			</div>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="generale-tab" data-bs-toggle="tab" data-bs-target="#generale" type="button" role="tab" aria-controls="generale" aria-selected="true">Générale</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="dossier-tab" data-bs-toggle="tab" data-bs-target="#dossier" type="button" role="tab" aria-controls="dossier" aria-selected="false">Dossier d'inscription</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="boutique-tab" data-bs-toggle="tab" data-bs-target="#boutique" type="button" role="tab" aria-controls="boutique" aria-selected="false">Boutique</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="reservation-tab" data-bs-toggle="tab" data-bs-target="#reservation" type="button" role="tab" aria-controls="reservation" aria-selected="false">Réservation</button>
				</li>

				<li class="nav-item" role="presentation">
					<button class="nav-link" id="facture-tab" data-bs-toggle="tab" data-bs-target="#facture" type="button" role="tab" aria-controls="facture" aria-selected="false">Facture</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="site-tab" data-bs-toggle="tab" data-bs-target="#site" type="button" role="tab" aria-controls="site" aria-selected="false">Site vitrine</button>
				</li>
				<li class="nav-item" role="live">
					<button class="nav-link" id="live-tab" data-bs-toggle="tab" data-bs-target="#live" type="button" role="tab" aria-controls="live" aria-selected="false">Le Live</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="generale" role="tabpanel" aria-labelledby="generale-tab">
					<div class="row p-2">
						<div class="col">
							{{ form_row(formInformation.nomStructure) }}
						</div>
						<div class="col">
							{{ form_row(formInformation.signature) }}
						</div>

						{# <div class="col">
																																																													{{ form_row(formInformation.espace) }}
																																																												</div> #}
					</div>
					<div class="row p-2">
						<div class="col">
							{{ form_row(formInformation.adresse) }}
						</div>
						<div class="col">
							{{ form_row(formInformation.codePostal) }}
						</div>
						<div class="col">
							{{ form_row(formInformation.ville) }}
						</div>
					</div>

				</div>
				<div class="tab-pane fade" id="dossier" role="tabpanel" aria-labelledby="dossier-tab">

					<div class="accordion" id="accordionDossier">
						<div class="accordion-item">
							<h2 class="accordion-header" id="dossier">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Dossier
								</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionDossier">
								<div class="accordion-body">
									<div class="row">
										<div class="col">{{ form_row(formInformation.creationDossier) }}</div>
										<div class="col">{{ form_row(formInformation.modificationDossier) }}</div>
										<div class="col">{{ form_row(formInformation.mensurationPratiquant) }}</div>
										<div class="col">{{ form_row(formInformation.coursVisible) }}</div>
										<div class="col">{{ form_row(formInformation.ActivationRelance) }}</div>
										<div class="col">{{ form_row(formInformation.NbEssai) }}</div>
										<div class="col">{{ form_row(formInformation.stripe) }}</div>

									</div>
									<div class="row">{{ form_row(formInformation.infoInscription) }}</div>
									<div class="row">{{ form_row(formInformation.descriptionDossier) }}</div>
									<div class="row">{{ form_row(formInformation.descriptionInscription) }}</div>
									<div class="row">{{ form_row(formInformation.paiement) }}</div>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="bulletin">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Bulletin d'inscription
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionDossier">
								<div class="accordion-body">
									<div class="row">{{ form_row(formInformation.enteteBulletin) }}</div>
									<div class="row">{{ form_row(formInformation.conditionDeVente) }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="boutique" role="tabpanel" aria-labelledby="boutique-tab">
					<div class="row p-1">
						<div class="col">{{ form_row(formInformation.boutiqueActive) }}</div>
						<div class="col">{{ form_row(formInformation.boutiqueOuvert) }}</div>
						<div class="col">{{ form_row(formInformation.boutiqueStripe) }}</div>
					</div>
					<div class="row">{{ form_row(formInformation.boutiquePresentation) }}</div>
					<div class="row">{{ form_row(formInformation.boutiquePaiement) }}</div>
					<div class="row">{{ form_row(formInformation.boutiqueLivraison) }}</div>
				</div>
				<div class="tab-pane fade" id="reservation" role="tabpanel" aria-labelledby="reservation-tab">
					<div class="row p-1">
						<div class="col">
							<div class="col">{{ form_label(formInformation.reservationActive) }}</div>
							<div class="col">{{ form_widget(formInformation.reservationActive) }}</div>
						</div>
						<div class="col">{{ form_row(formInformation.reservationStripe) }}</div>
					</div>
					<div class="row">{{ form_row(formInformation.reservationPresentation) }}</div>
				</div>
				<div class="tab-pane fade" id="facture" role="tabpanel" aria-labelledby="facture-tab">
					<div>
						<h2 class="text-center">Informations concernant la facture</h2>
					</div>
					<div class="row">
						{{ form_row(formInformation.enteteFacture) }}
					</div>
					<div class="row">
						{{ form_row(formInformation.corpsFacture) }}
					</div>

					<div class="row">
						{{ form_row(formInformation.piedFacture) }}
					</div>

				</div>
				<div class="tab-pane fade" id="site" role="tabpanel" aria-labelledby="site-tab">
					<div>
						<h2 class="text-center">Informations concernant le site vitrine</h2>
					</div>
					<div class="row">
						{{ form_row(formInformation.site) }}
					</div>


					<div class="col">
						{{ form_row(formInformation.vitrine) }}
					</div>

				</div>
				<div class="tab-pane fade" id="live" role="tabpanel" aria-labelledby="live-tab">
					<div>
						<h2 class="text-center">Informations concernant le Live</h2>
					</div>

					<div class="row">
						<div class="col">
							{{ form_row(formInformation.lienLive) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_row(formInformation.live) }}
						</div>
					</div>
				</div>


			</div>
			{{form_end(formInformation)}}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}{#{{ encore_entry_link_tags('inscriptionGestion') }}#}<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="{{asset('assets/js/inscriptionGestionType.js')}}"></script>
{% endblock %}