<!DOCTYPE html>
<html lang="fr">

	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('assets/css/utilisateur/billet.css') }}">
	</head>
	<body>
		{% for reservation in reservations %}
			<div style="height:50px"></div>
			<div class="d-flex justify-content-center" style="display:flex">
				<div style="height:400px; width:1000px">
					{% if vich_uploader_asset(evenement,'imageBillet') %}
						<img src="{{absolute_url(vich_uploader_asset(evenement,'imageBillet'))}}" height="400" alt="billet">
					{% else %}
						<div class="d-flex flex-column justify-content-center border border-2 border-dark" style="height: 400px">
							<div class="text-center p-2">
								<h2>{{evenement.nom}}</h2>
								<p>{{evenement.descriptionBillet|raw}}</p>
							</div>
						</div>
					{% endif %}
				</div>
				<div class="border border-2 border-dark" style="transform: rotate(-90deg) translate(-145px, -145px); width:400px; height:110px">
					<div class="d-flex justify-content-around" style="display:flex">
						<div>
							<h4>Rangée</h4>
							<p>{{reservation.container.nom}}</p>
						</div>
						<div>
							<h4>Place</h4>
							<p>{{reservation.nom}}</p>
						</div>
					</div>
					<div class="text-center">
						<p>Réservé le :
							{{reservation.updatedAt|date("d/m/Y")}}</p>
					</div>
					<div></div>
				</div>
			</div>

		{% endfor %}
	</body>
</html>