<!DOCTYPE html>
<html lang="fr">

	<head></head>
	<body>
		{% set billet = 0 %}
		{% for reservation in reservations %}
			<table style="border-collapse: collapse;">
				<tbody>
					<tr>
						<td rowspan="2" style="border-top: 1px solid;border-left: 1px solid;border-bottom: 1px solid;padding:0;border-spacing:0;line-height:0;">
							{% if vich_uploader_asset(evenement,'imageBillet') %}
								<img src="{{absolute_url(vich_uploader_asset(evenement,'imageBillet'))}}" height="200" alt="billet">
							{% else %}
								<h2>{{evenement.nom}}</h2>
								<p>{{evenement.descriptionBillet|raw}}</p>
							{% endif %}
						</td>
						<td style="border-top: 1px solid;padding:0;border-spacing:0;">
							<div style="transform: rotate(-90deg);text-align: center; width:20px;white-space: nowrap;">
								<b>Place</b>
							</div>
						</td>
						<td style="text-align: center;border-top: 1px solid;padding:0;border-spacing:0;">
							<div style="transform: rotate(-90deg); width:20px;white-space: nowrap;">
								{{reservation.nom}}</div>
						</td>


						<td rowspan="2" style="border-top: 1px solid;border-right: 1px solid;border-bottom: 1px solid;padding:0;border-spacing:0;">
							<div style="transform: rotate(-90deg) translate(-50px); width:20px; white-space: nowrap;">
								<small>Réservé le :
									{{reservation.updatedAt|date("d/m/Y")}}</small>
							</div>
						</td>
					</tr>

					<tr>
						<td style="text-align: center; border-bottom: 1px solid;padding:0;border-spacing:0;">
							<div style="transform: rotate(-90deg); width:20px;white-space: nowrap;">
								<b>Rangée</b>
							</div>
						</td>
						<td style="text-align: center;border-bottom: 1px solid;padding:0;border-spacing:0;">
							<div style="transform: rotate(-90deg); width:20px;white-space: nowrap;">{{reservation.container.nom}}</div>
						</td>
					</tr>
				</tbody>
			</table>
			{% set billet = billet + 1 %}
			{% if billet == 4  %}
				<div style="height:100px"></div>
				
				{% set billet = 1 %}
			{% else %}
				<div style="height:20px"></div>
			{% endif %}
		{% endfor %}

	</body>
</html>