<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			Bulletin d'inscription
		</title>
	</head>
	<body>
		<div style="border-width:2px">
			<div>{{information.enteteBulletin|raw}}</div>

			<div id="adherent">
				<div style="background-color:#9d9494;line-height : 150%; text-align: center; font-size: 16px; border-width:2px; border-color:black; border-style:solid">
					<strong>L'adhérent</strong>
				</div>
			</div>

			<div style="vertical-align: middle; padding:5px">
				<p style="line-height : 100%; font-size: 12px">
					<strong>Nom de l'adhérent à l'assocation :
					</strong>
					{{dossier.adherent.nom}}
					{{dossier.adherent.prenom}}<strong>

						Téléphone :
					</strong>
					{{dossier.adherent.portable}}

					<strong>Email :
					</strong>
					{{dossier.adherent.email}}</p>

				<p style="line-height : 100%; font-size: 12px">
					<strong>Demeurant :
					</strong>
					{{dossier.adherent.adresse}}
					{{dossier.adherent.cp}}
					{{dossier.adherent.town}}</p>


				<p style="line-height : 100%; font-size: 12px">
					{% for tarifs in cotisation.detailTarif %}
						{% for key, tarif in tarifs %}
							<strong>{{key}}</strong>
							{{tarif| format_currency('EUR', locale='fr') }}
						{% endfor %}
					{% endfor %}
				</p>
				<p style="line-height : 100%; font-size: 12px">
					<strong>Total des activités :
					</strong>
					{{cotisation.totalActivite| format_currency('EUR', locale='fr') }}
					<strong>Autres réductions :
					</strong>
					{{cotisation.totalReduction| format_currency('EUR', locale='fr') }}
					<strong>Soit :</strong>
					{{cotisation.total| format_currency('EUR', locale='fr') }}</p>
			</div>
			<div style="background-color:#9d9494; line-height : 150%; text-align: center; font-size: 16px; border-width:2px; border-color:black; border-style:solid">
				<strong>Liste des pratiquants de l'adhérent</strong>
			</div>
			<div>
				{% for inscription in dossier.inscriptions %}
					{% if inscription.certificatObligatoire == true %}

						<strong>Nom :</strong>
						{{inscription.pratiquant.nom}}
						<strong>Prénom :</strong>
						{{inscription.pratiquant.prenom}}
						<strong>Sexe :</strong>
						{{inscription.pratiquant.sexe}}
						<strong>date de naissance :</strong>
						{{inscription.pratiquant.naissance|date("d/m/Y") }}
						<strong>activité :</strong>
						{{inscription.activite.nom }}
						<strong>Date du certificat médical :</strong>
						{% if inscription.document.dateCertificat is defined %}
							{{inscription.document.dateCertificat|date("d/m/Y")}}(Pour un renouvellement d'adhésion, le pratiquant atteste avoir répondu par la négative à l’ensemble des questions du formulaire santé (2) )
						{% else %}
							<small style="color:#FF0000">la date du certificat est manquante</small>

						{% endif %}

					{% else %}

						<strong>Nom :</strong>
						{{inscription.pratiquant.nom}}
						<strong>Prénom :</strong>
						{{inscription.pratiquant.prenom}}
						<strong>Sexe :</strong>
						{{inscription.pratiquant.sexe}}
						<strong>date de naissance :</strong>
						{{inscription.pratiquant.naissance|date("d/m/Y") }}
						<strong>activité :</strong>
						{{inscription.activite.nom }}


					{% endif %}
				{% endfor %}
			</div>
			<div>
				{{information.conditionDeVente|raw}}
			</div>
			<div style="padding-right: 100px; text-align: right">
				<p>Date et signature obligatoire</p>
			</div>


		</div>
	</body>
</html>
