<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			FACTURE
		</title>
	</head>
	<body>

		<div class="container">
			<div class="row justify-content-start">
				<div class="p-3">{{information.enteteFacture|raw}}</div>
			</div>
			<div class="row">

				<div class="col">
					<p>{{dossier.adherent.nom}}
						{{dossier.adherent.prenom}}</p>
					<p>{{dossier.adherent.adresse}}</p>
					<p>{{dossier.adherent.cp}}
						{{dossier.adherent.town}}</p>
				</div>
			</div>

			<div style="text-align:center">

				<h1>
					<strong>FACTURE DU DOSSIER n°{{dossier.id }}
					</strong>
				</h1>
				<div style="text-align:right">Etablie à
					{{information.ville|raw}}
					le
					{{ "now"|date("d/m/Y") }}</div>
			</div>
			<div style="padding:5px">
				{{information.corpsFacture|raw}}
			</div>
			<div style="text-align:center">
				<h2>Liste des activités</h2>
			</div>
			<table width="100%" border:5px solid #095484>
				<thead>
					<tr bgcolor="#D3D3D3">
						<td align="center">
							<p>Activité</p>
						</td>
						<td align="center">
							<p>Nom</p>
						</td>
						<td align="center">
							<p>Prénom</p>
						</td>
						<td align="center">
							<p>Date de naissance</p>
						</td>
					</tr>
				</thead>
				<tbody>
					{% for inscription in dossier.inscriptions %}
						<tr>
							<td align="center">{{inscription.activite.nom }}</td>
							<td align="center">{{inscription.pratiquant.nom}}</td>
							<td align="center">{{inscription.pratiquant.prenom}}</td>
							<td align="center">{{inscription.pratiquant.naissance|date("d/m/Y") }}</td>
						</tr>
					{% endfor %}


				</tbody>
			</table>
			<div style="height: 30px"></div>
			<table width="100%" border:5px solid #095484>
				<thead>
					<tr>
						<td colspan="3" align="right"></td>
						<td align="center">Montant</td>
					</tr>
				</thead>
				<tbody>
					{% for tarifs in cotisation.detailTarif %}
						{% for key, tarif in tarifs %}
							<tr>
								<td colspan="3" align="right">{{key}}</td>
								<td align="center">{{tarif| format_currency('EUR', locale='fr') }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
					<tr>
						<td colspan="3" align="right">Autres réductions
						</td>
						<td align="center">{{cotisation.totalReduction| format_currency('EUR', locale='fr') }}</td>
					</tr>
					<tr>
						<td colspan="3" align="right">Total des activités</td>
						<td align="center">{{cotisation.totalActivite| format_currency('EUR', locale='fr') }}</td>
					</tr>
					<tr>
						<td colspan="3" align="right">
							<h3>
								Soit :</h3>
						</td>
						<td align="center">
							<h3>{{cotisation.total| format_currency('EUR', locale='fr') }}</h3>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="height: 20px"></div>

			<div class="row">{{information.piedFacture|raw}}</div>
		</div>
	</body>
</html>
