<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			FACTURE
		</title>
	</head>
	<body>

		<div class="container">
			<div class="row justify-content-start">
				<div class="p-3">{{information.enteteFacture|raw}}</div>
			</div>
			<div class="row">

				<div class="col">
					<p>{{purchase.utilisateur.nom}}
						{{purchase.utilisateur.prenom}}</p>
					<p>{{purchase.utilisateur.adresse}}</p>
					<p>{{purchase.utilisateur.cp}}
						{{purchase.utilisateur.town}}</p>
				</div>
			</div>

			<div style="text-align:center">

				<h1>
					<strong>FACTURE DE LA COMMANDE n°{{purchase.id }}
					</strong>
				</h1>
				<div style="text-align:right">Etablie à
					{{information.ville|raw}}
					le
					{{ "now"|date("d/m/Y") }}</div>
			</div>
			<div style="padding:5px">
				{{information.corpsFacture|raw}}
			</div>
			<div style="text-align:center">
				<h2>Détail de la commande</h2>
			</div>
			<table width="100%" border:5px solid #095484>
				<thead>
					<tr bgcolor="#D3D3D3">
						<td align="center">
							<p>Produit</p>
						</td>
						<td align="center">
							<p>Prix unitaire</p>
						</td>

						<td align="center">
							<p>Quantité</p>
						</td>
						<td align="center">
							<p>Prix total</p>
						</td>
					</tr>
				</thead>
				<tbody>
					{% for item in purchase.purchaseItems %}
						<tr>

							<td align="center">{{item.productName}}</td>
							<td align="center">{{item.productPrice| format_currency('EUR', locale='fr') }}</td>
							<td align="center">{{item.quantity}}</td>
							<td align="center">{{(item.productPrice * item.quantity)| format_currency('EUR', locale='fr') }}</td>


						</tr>
					{% endfor %}


				</tbody>
			</table>
			<div style="height: 30px"></div>
			<table width="100%" border:5px solid #095484>
				
				<tbody>

					<tr>
						<td colspan="3" align="right">
							<h3>
								Soit :</h3>
						</td>
						<td align="center">
							<h3>{{purchase.total| format_currency('EUR', locale='fr') }}</h3>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="height: 20px"></div>

			<div class="row">{{information.piedFacture|raw}}</div>
		</div>
	</body>
</html>
