{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('accueil') }}
{% endblock %}

{% block title %}accueil
{% endblock %}
{% block element %}
	<div class="paquet">
		<div class="paquet-header">TABLEAU DE BORD</div>
		<div class="paquet-contenu">
			<div class="indicateur">
				<div class="row1">
					<div class="graph1">{{ render_chart(chartAFaire) }}</div>
					<div class="indicateurs">
						<div class="indiquateur-1">
							<h5>Nombre de dossier</h5>
							<div>{{Nb_dossier}}</div>
						</div>

						<div class="indiquateur-2">
							<h5>Nombre de pratiquants</h5>
							<div class="">{{pratiquants|length}}</div>
						</div>
						<div class="indiquateur-3">
							<h5>Nombre d'inscriptions</h5>
							<div class="">{{inscriptions|length}}</div>
						</div>

						<div class="indiquateur-4">
							<h5>Total des cotisations</h5>
							<div class="">
								{{totalCotisation| format_currency('EUR', locale='fr')}}
							</div>
						</div>
						<div class="indiquateur-5">
							<h5>Total des paiements</h5>
							<div class="">{{totalPaiement| format_currency('EUR', locale='fr')}}</div>
						</div>
					</div>
				</div>
				<div class="graph1">
					{{ render_chart(chartCours) }}
				</div>
			</div>

		</div>
	{% endblock %}