{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('boutiqueGestion') }}
{% endblock %}


{% block javascripts %}	
	{{parent()}}
{% endblock %}

{% block title %}Boutique
{% endblock %}


{% block element %}
	{{parent()}}
	
	<div class="paquet">
		<div class="paquet-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				Boutique
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto flex-nowrap">
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_boutique')}}">
								Boutique
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_boutique_purchase_index')}}">
								Commandes
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_boutique_purchase_items_index')}}">
								Détail des commandes
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_boutique_paiement_index')}}">
								Paiements
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_boutique_category_index')}}">
								Catégories
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_boutique_product_index')}}">
								Produits
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="paquet-contenu p-2">
			{% block sousElement %}{% endblock %}
		</div>
	</div>
{% endblock %}

