{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('gestion') }}
{% endblock %}

{% block javascripts %}

	{{parent()}}
	{{ encore_entry_script_tags('gestion') }}

{% endblock %}


{% block title %}accueil
{% endblock %}


{% block contenu %}
	{{parent()}}
	<div class="menu-lateral">
		<button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Ouvrir le menu latéral">
			<i class="bi bi-list fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
		</button>

		<button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" title="Ouvrir la TODOLIST">
			<i class="bi bi-stickies-fill  fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"></i>
		</button>
	</div>
	{% include "gestion/offcanvas.html.twig" %}
	{% include "gestion/offcanvasTodolist.html.twig" %}
	{% block element %}{% endblock %}


{% endblock %}