{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('boutiqueGestion') }}
{% endblock %}


{% block javascripts %}	
	{{parent()}}
{% endblock %}

{% block title %}Boutique
{% endblock %}


{% block element %}
	{{parent()}}
	
	<div class="paquet">
		<div class="paquet-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				Site vitrine
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto flex-nowrap">
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_site_article_index')}}">
								Articles
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_site_menu_index')}}">
								Menu
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_site_edit')}}">
								Site
							</a>
						</li>						
					</ul>
				</div>
			</nav>
		</div>
		<div class="paquet-contenu p-2">
			{% block sousElement %}{% endblock %}
		</div>
	</div>
{% endblock %}

