{% extends 'gestion/layoutGestion.html.twig' %}


{% block element %}
	{{parent()}}
	<div class="paquet">
		<div class="paquet-header">
			<nav class="navbar navbar-expand-lg navbar-light">
				Saison en cours
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto flex-nowrap">
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_dossier_index', {'id_saison': saisonEnCours.id is defined ? saisonEnCours.id : saisonEnCours })}}">
								Dossiers
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_inscription_index')}}">
								Inscriptions
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_paiement_index', {'id_saison': saisonEnCours.id is defined ? saisonEnCours.id : saisonEnCours})}}">
								Paiements
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_presence_index', {'id_saison': saisonEnCours.id is defined ? saisonEnCours.id : saisonEnCours })}}">
								Présences
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('gestion_chat_index', {'id_saison': saisonEnCours.id is defined ? saisonEnCours.id : saisonEnCours })}}">

								Chats
								{% if chatService.nbPostNonLuGestionnaire() >0 %}
									<span class="badge rounded-pill bg-danger">{{chatService.nbPostNonLuGestionnaire()}}</span>
								{% endif %}
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="paquet-contenu p-2">
			{% block sousElement %}{% endblock %}
		</div>
	</div>


{% endblock %}
