<div class="offcanvas offcanvas-end lateral" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 id="offcanvasRightLabel">Liste des choses à faire</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div id="liste" class="row">
			{% for tache in taches %}
				<div id="tache{{tache.id}}" class="alert alert-warning d-flex alert-dismissible fade show" role="alert">

					{{tache.tache}}
					<button data-id="{{tache.id}}" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<input type="text" class="form-control tache" placeholder="Ajouter une tâche et entrée">
		</div>
	</div>
</div>
