<div class="offcanvas offcanvas-start lateral" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">

	<div class="offcanvas-header">
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body ">
		{% block sidebar %}
			{% include "gestion/element/_sidebar.htlm.twig" %}
		{% endblock %}
	</div>
</div>


