{% extends 'gestion/layoutGestionBoutique.html.twig' %}


{% block title %}Détail commande
{% endblock %}

{% block sousElement %}


<div class="paquet reduire">
	<div class="paquet-header">
		<div class="card-header">Modification

		</div>
	</div>
	<div class="paquet-contenu p-2">
		{{form_start(form)}}
		{{form_row(form.productPrice)}}
		{{form_row(form.quantity)}}
		<div class="text-center">
			<button class="btn btn-primary btn" type="submit">Enregistrer</button>

			<a href="{{ path('gestion_boutique_purchase_item_index', {'id_purchase': purchase_item.purchase.id}) }}">
				<button class="btn btn-secondary" type="button">Annuler</button>
			</a>
		</div>
		{{form_end(form)}}
	</div>
</div>


< {% endblock %}