{% extends 'gestion/layoutGestionBoutique.html.twig' %}


{% block title %}Détail commande
{% endblock %}

{% block sousElement %}


	<h1>Détail de la commande n°
		{{purchase.id}}</h1>
	{#<a href="{{ path('gestion_boutique_purchase_item_new',{'id_purchase':purchase.id}) }}">
														<button class="btn btn-primary">Ajouter un nouveau produit</button>
													</a>#}

	<div class="table-responsive">
		<table class="table table-sm text-center" id="purchaseItems">

			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for purchase_item in purchase.purchaseItems %}
					<tr>
						<td>
							{% if purchase_item.livraison %}
								<i class="bi bi-check "></i>
							{% endif %}
							{{ purchase_item.productName }}</td>

						<td>{{ purchase_item.productPrice| format_currency('EUR', locale='fr') }}</td>

						<td>{{ purchase_item.quantity }}</td>
						<td>{{ purchase_item.total| format_currency('EUR', locale='fr') }}</td>
						<td>
							<a href="{{ path('gestion_boutique_purchase_item_livraison', {'id': purchase_item.id}) }}">

								<button class="btn btn-primary">
									<i class="bi bi-truck"></i>
								</button>
							</a>

						</td>

						<td>
							<a href="{{ path('gestion_boutique_purchase_item_edit', {'id': purchase_item.id}) }}">
								<button class="btn btn-primary">
									<i class="bi bi-pencil-square"></i>
								</button>
							</a>

						</td>
						<td>
							<form method="post" action="{{ path('gestion_boutique_purchase_item_delete', {'id': purchase_item.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette catégorie?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase_item.id) }}">
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
