{% extends 'gestion/layoutGestionBoutique.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}


{% block title %}Catégorie
{% endblock %}

{% block sousElement %}

	<h3>Vos commandes</h3>
	<div id="toolbar" class="action-contenaire">
		<div class="action">
			<div class="p-1">
				<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
					FILTRER
				</button>

				<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">
						{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row">{{form_row(form.livre)}}</div>
						<div class="row">{{form_row(form.paye)}}</div>
						<div class="row">{{form_row(form.nb)}}</div>
						<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						{{form_end(form)}}
					</div>
				</div>
			</div>
			<div class="p-1">
				<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1">
				<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
			</div>
			<div class="p-1">
				<button id="Livraison" class="btn btn-secondary">Livré</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1" id="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-layout-three-columns"></i>
				</button>
				<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
			</div>
			<div class="p-1">
				<button id="CSV" class="btn btn-secondary">CSV</button>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-hover" id="purchase">
			<thead>
				<tr>
					<th class="colonne cache notSelected">utilisateur</th>
					<th class="colonne">Réference</th>
					<th class="colonne">Date</th>
					<th class="colonne">Utilisateur</th>
					<th class="colonne">Produit</th>
					<th class="colonne">Livrée en totalité</th>
					<th class="colonne">Payée</th>
					<th class="colonne">Paiements</th>
					<th class="colonne">Détail</th>
					<th class="colonne"></th>
				</tr>
			</thead>
			<tbody>
				{% for p in purchases %}
					<tr>
						<td class="cache">{{p.utilisateur.id}}</td>
						<td class="">{{p.id}}</td>

						<td class="">{{p.purchaseAt|date("d/m/Y")}}</td>

						<td class="">{{p.utilisateur.nom}}
							{{p.utilisateur.prenom}}</td>
						<td>
							<ul>
								{% for i in p.purchaseItems %}
									<li>{{i.quantity}}
										x
										{{i.productName}}
										{{i.productPrice| format_currency('EUR', locale='fr')}}
										{% if i.livraison %}
											<i class="bi bi-check "></i>
										{% endif %}

									</li>
								{% endfor %}
							</ul>
						</td>

						<td class="livre">{{p.livre ? 'Oui':'Non'}}</td>


						<td class="">
							{{p.paye ? 'Oui':'Non'}}

						</td>
						<td class="">
							<a href="{{ path('gestion_boutique_paiement_purchase_index', {'id_purchase': p.id}) }}">
								<button class="btn btn-primary">
									<i class="bi bi-currency-euro"></i>
								</button>

							</a>
						</td>

						<td class="">

							<a href="{{ path('gestion_boutique_purchase_item_index', {'id_purchase': p.id}) }}">
								<button class="btn btn-success">
									<i class="bi bi-list-ul"></i>
								</button>
							</a>

						</td>
						<td class="">
							<form method="post" action="{{ path('gestion_boutique_purchase_delete', {'id': p.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette commande?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ p.id) }}">
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</tr>


				{% endfor %}
			</tbody>
		</tbody>
	</table>
	<div class="row">
		<div class="col">
			<div class="navigation">
				{{ knp_pagination_render(purchases) }}
			</div>
		</div>
		<div class="col">
			<div class="count">
				Nb d'enregistrement :
				{{ purchases.getTotalItemCount }}</td>
		</tr>
	</div>
</tbody></div></div>{#{{ encore_entry_script_tags('indexPurchase') }}#}{% endblock %}