{% extends 'gestion/layoutGestion.html.twig' %}


{% block title %}Document
{% endblock %}

{% block contenu %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Modifier le document</div>
		</div>
		<div class="paquet-contenu p-2">{{form_start(formDocument)}}
			{{form_row(formDocument.type)}}
			{{form_row(formDocument.designation)}}
			{{form_row(formDocument.dateCertificat)}}
			<h6>Téléverser le document</h6>
			{{form_row(formDocument.image)}}
			<div class="row align-items-end">
				<div class="col">{{form_row(formDocument.inscription)}}</div>
				<div class="col">{{form_row(formDocument.ajouter)}}</div>
			</div>
			<div class="row text-center">
				<div class="col">{{form_row(formDocument.envoyer)}}</div>
				<div class="col">
					<a href="{{ path('gestion_dossier_edit', {'id': dossier.id,'ancre': 'pratiquant_'~ pratiquant.id ~'_document'}) }}">
						<button class="btn btn-secondary" type="button">Annuler</button>
					</a>
				</div>
			</div>
			{{form_end(formDocument)}}</div>
	</div>


{% endblock %}