{% extends 'gestion/layoutGestionBoutique.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Taille
{% endblock %}

{% block sousElement %}

	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Taille du produit :
				{{product.name}}
				<a href="{{ path('gestion_boutique_taille_new',{'id':product.id}) }}">
					<button class="btn btn-primary">Ajouter une nouvelle Taille</button>
				</a>

			</div>
		</div>
		<div class="paquet-contenu">
			<div id="toolbar" class="action-contenaire">
				<div class="action">
					<div class="p-1">
						<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
					</div>
					<div class="p-1">
						<button id="CSV" class="btn btn-secondary">CSV</button>
					</div>
				</div>

			</div>
			<div class="table-responsive">
				
<table class="table table-bordered" width="100%" cellspacing="0" id="taille">
					<thead class="text-center"></thead>
					<tr>
						<th class="colonne cache">id</th>

						<th class="colonne">{{ knp_pagination_sortable(tailles, 'Nom', 'name') }}</th>
						<th class="colonne">{{ knp_pagination_sortable(tailles, 'Prix', 'price') }}</th>
						<th class="colonne"></th>
						<th class="colonne"></th>
					</tr>
				</thead>
				<tbody>
					{% for taille in tailles %}
						<tr>
							<td class="cache">{{taille.id}}</td>
							<td>
								{{ taille.name}}
							</td>
							<td>
								{{ taille.price| format_currency('EUR', locale='fr') }}
							</td>
							<td class="text-center">
								<a href="{{ path('gestion_boutique_taille_edit', {'id': taille.id}) }}">
									<button class="btn btn-primary">
										<i class="bi bi-pencil-square"></i>
									</button>
								</a>
							</td>
							<td>
								<form method="post" action="{{ path('gestion_boutique_taille_delete', {'id': taille.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette taille?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ taille.id) }}">
									<button class="btn btn-danger">
										<i class="bi bi-trash"></i>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="row">
				<div class="col">
					<div class="navigation">{{ knp_pagination_render(tailles) }}</div>
				</div>
				<div class="col">
					<div class="count">Nb d'enregistrement :{{ tailles.getTotalItemCount }}</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}