{% extends 'gestion/layoutGestionBoutique.html.twig' %}


{% block title %}Nouvelle taille
{% endblock %}

{% block sousElement %}

<div class="paquet reduire">
	<div class="paquet-header">
		<div class="card-header">Nouvelle taille du produit
			{{product.name}}</div>
	</div>
	<div class="paquet-contenu p-2">

		{{form_start(formTaille)}}
		{{form_row(formTaille.name)}}
		{{form_row(formTaille.price)}}
		<div class="text-center">
			<button class="btn btn-primary btn" type="submit">Enregistrer</button>
			<a href="{{ path('gestion_boutique_taille_index', {'id': product.id}) }}">
				<button class="btn btn-secondary" type="button">Annuler</button>
			</a>
		</div>
		{{form_end(formTaille)}}
	</div>
</div>
{% endblock %}
