{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}Contact Pratiquant
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Ajouter un contact</div>
		</div>
		<div class="paquet-contenu p-2">
			{{ form_start(formContact) }}
			<div class="row">
				<div class="col-12 col-md-6">{{form_row(formContact.nom)}}</div>
				<div class="col-12 col-md-6">{{form_row(formContact.prenom)}}</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6">{{form_row(formContact.email)}}</div>
				<div class="col-12 col-md-6">{{form_row(formContact.portable)}}</div>
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_dossier_edit', {'id': dossier.id,'ancre': 'pratiquant_'~ pratiquant.id ~'_contact'}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{ form_end(formContact) }}
		</div>
	</div>


{% endblock %}