:root {
    --scale: 1;
    --height-plan: auto;
    --height-contenaire: auto;
    --width-plan:auto;
    --translate-plan: "0px";
    
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start;
    height: var(--height-contenaire);
      
}
#reglage{
    border: 1px solid #333;
    
}

#plan {    
    width: var(--width-plan);
    height: var(--height-plan);
    position: relative; 
    border: 1px solid #333;        
    transform: translateY(var(--translate-plan)) scale(var(--scale)); 
   
}