{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('formUtilisateur') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('formUtilisateur') }}

{% endblock %}


{% block title %}Utilisateur
{% endblock %}

{% block element %}
	<div class="row p-3 justify-content-evenly">
		<div class="col-md-3"></div>

		<div class="col-12 col-md-6 ">

			<div class="card">
				<div class="card-header">
					Modifier un utilisateur
					<a href="{{ path('gestion_utilisateur_index')}}">
						<button class="btn btn-primary">Annuler</button>
					</a>
				</div>
				<div class="card-body">
					{{ form_start(formUtilisateur) }}
					<div class="my-custom-class-for-errors">
						{{ form_errors(formUtilisateur) }}
					</div>
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-6">
								{{ form_row(formUtilisateur.nom) }}
								{{ form_row(formUtilisateur.prenom) }}
								{{ form_row(formUtilisateur.email) }}
								{{ form_row(formUtilisateur.portable) }}
								{{ form_row(formUtilisateur.quotaSms) }}

							</div>
							<div class="col-12 col-md-6" id="some-custom-id">
								{{ form_row(formUtilisateur.adresse) }}
								{{ form_row(formUtilisateur.CP) }}
								{{ form_row(formUtilisateur.town) }}
								{{ form_row(formUtilisateur.roles) }}
							</div>
							<div class="row pt-3 text-center">
								{{ form_row(formUtilisateur.remarque) }}
								<button class="btn btn-primary btn" type="submit">

									Enregistrer</button>
							</div>

							{{ form_end(formUtilisateur) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>

{% endblock %}
