{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('tableauFree') }}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}

{% block title %}Utilisateurs
{% endblock %}

{% block element %}
	<div class="paquet">
		<div class="paquet-header">
			<h3>Liste de tous les utilisateurs
			</h3>
		</div>
		<div class="paquet-contenu">
			<div class="action-contenaire">
				<div class="action">
					<div class="p-1">
						<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
							FILTRER
						</button>
						<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">
							<div class="offcanvas-header">
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body p-2">
								{{form_start(form)}}
								<div class="row">{{form_row(form.q)}}</div>
								<div class="row">
									<div class="col">{{ form_label(form.nb,'Nombre de lignes affichées') }}</div>
									<div class="col">{{form_widget(form.nb)}}</div>
								</div>
								<div class="row p-2">
									<button type="submit" class="btn btn-primary w-100">FILTRER</button>
								</div>
								{{form_end(form)}}
							</div>
						</div>
					</div>
					<div class="p-1">
						<a href="{{ path('app_register') }}">
							<button class="btn btn-primary">Ajouter un nouvel utilisateur</button>
						</a>
					</div>
					<div class="p-1">
						<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
					</div>
				</div>
				<div class="action">
					<div class="p-1">
						<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
					</div>
					<div class="p-1">
						<button id="email" class="btn btn-secondary">Email</button>
					</div>
					<div class="p-1">
						<button id="compte" class="btn btn-secondary">Activer le(s) compte(s)</button>
					</div>
				</div>
				<div class="action">
					<div class="p-1" id="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-layout-three-columns"></i>
						</button>
						<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
					</div>
					<div class="p-1">
						<button id="CSV" class="btn btn-secondary">CSV</button>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="table-responsive">
					<table class="table table-hover" id="utilisateur">
						<thead>
							<th class="colonne cache notSelected">id</th>
							<th class="colonne"></th>
							<th class="colonne"></th>
							<th class="colonne sorted">{{ knp_pagination_sortable(utilisateurs, 'Nom', 'u.nom') }}</th>
							<th class="colonne sorted">{{ knp_pagination_sortable(utilisateurs, 'Prénom', 'u.prenom') }}</th>
							<th class="colonne">Portable</th>
							<th class="colonne">Email</th>
							<th class="colonne">Adresse</th>
							<th class="colonne">CodePostal</th>
							<th class="colonne sorted">{{ knp_pagination_sortable(utilisateurs, 'Ville', 't.nomMaj') }}</th>
							<th class="colonne cache">Remarque</th>
							<th class="colonne cache">{{ knp_pagination_sortable(utilisateurs, 'Derniere connexion', 'u.derniereConnexion') }}</th>
							<th class="colonne cache">{{ knp_pagination_sortable(utilisateurs, 'Compte activé', 'u.isVerified') }}</th>
							<th class="colonne cache">Dossier créé</th>
							<th class="colonne"></th>
							<th class="colonne"></th>
						</thead>
						<tbody>
							{% for utilisateur in utilisateurs %}
								{% set var = 0 %}
								{% set id_dossier = 0 %}
								{% for dossier in utilisateur.dossiers %}
									{% if dossier.saison.id == saisonEnCours %}
										{% set var = 1 %}
										{% set id_dossier = dossier.id %}
									{% endif %}
								{% endfor %}
								<tr>
									<td class="cache">{{utilisateur.id}}</td>
									<td class="text-center">
										<a href="{{ path('espace', {'_switch_user': utilisateur.email}) }}" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Usurpation d'identité">
											<i class="bi bi-person-bounding-box"></i>
										</a>
									</td>
									<td class="text-center">
										{% if var == 0 %}
											<a href="{{ path('gestion_dossier_new', {'id_utilisateur': utilisateur.id}) }}">
												<button class="btn btn-secondary">creer un dossier</button>
											</a>
										{% else %}
											<a href="{{ path('gestion_dossier_edit', {'id': id_dossier, 'ancre' :'detail_none_none'}) }}">
												<button class="btn btn-success">accéder au dossier</button>
											</a>
										{% endif %}
									</td>
									<td class="">{{ utilisateur.nom }}</td>
									<td class="">{{ utilisateur.prenom }}</td>
									<td class="">{{ utilisateur.portable }}</td>
									<td class="">{{ utilisateur.email }}</td>
									<td class="">{{ utilisateur.adresse }}</td>
									<td class="">{{ utilisateur.cp }}</td>
									<td class="">{{ utilisateur.town }}</td>
									<td class="cache">{{ utilisateur.remarque }}</td>
									<td class="cache">
										{% if utilisateur.derniereConnexion %}
											{{ utilisateur.derniereConnexion|date("Y/m/d à H : i", "Europe/Paris") }}
										{% endif %}

									</td>
									<td class="cache compte text-center">
										{{ utilisateur.isVerified ? 'oui' : 'non' }}
									</td>
									<td class="cache">{{ var ? 'oui' : 'non' }}</td>
									<td class="text-center">
										<a class="btn btn-primary" href="{{path("gestion_utilisateur_edit", {'id': utilisateur.id})}}">
											<i class="bi bi-pencil-square"></i>
										</a>
									</td>
									<td class="text-center">
										<form method="post" action="{{ path('gestion_utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette utilisateur?');">

											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>
											</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col">
						<div class="navigation">
							{{ knp_pagination_render(utilisateurs) }}
						</div>
					</div>
					<div class="col">
						<div class="count">
							Nb d'enregistrement :
							{{ utilisateurs.getTotalItemCount }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}