{% extends 'gestion/layoutGestion.html.twig' %}


{% block title %}Utilisateur
{% endblock %}

{% block element %}
	<div class="row pt-3">
		<div class="col">
			<div class="card">
				<div class="card-header">
					Ajouter un utilisateur
					<a href="{{ path('gestion_utilisateur_index')}}">
						<button class="btn btn-primary">Annuler</button>
					</a>
				</div>
				<div class="card-body">
					{{ form_start(formUtilisateur) }}
					<div class="my-custom-class-for-errors">
						{{ form_errors(formUtilisateur) }}
					</div>
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-6">
								{{ form_row(formUtilisateur.nom) }}
								{{ form_row(formUtilisateur.prenom) }}
								{{ form_row(formUtilisateur.email) }}
								{{ form_row(formUtilisateur.portable) }}
							</div>
							<div class="col-12 col-md-6" id="some-custom-id">
								{{ form_row(formUtilisateur.adresse) }}
								{{ form_row(formUtilisateur.codePostal) }}
								{{ form_row(formUtilisateur.ville) }}
								{{ form_row(formUtilisateur.roles) }}
							</div>
							<div class="row pt-3 text-center">{{ form_row(formUtilisateur.envoyer) }}</div>
							{{ form_end(formUtilisateur) }}
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


{% endblock %}
