<h3 class="text-center">Les containers</h3>
{% set idsEvenement = '' %}
<div class="tab-content " id="myTabContent">
	<div class="accordion " id="accordion">
		{% for container in evenement.containers %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="heading{{loop.index}}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{container.id}}" aria-expanded="true" aria-controls="collapse{{container.id}}">
						{{container.nom}}
					</button>
				</h2>
				<div id="collapse{{container.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
					<div class="accordion-body">
						<div class="row border border-dark m-1">
							<div class="row"></div>

							<div class="row text-center m-1">
								<div class="col">Nom</div>
								<div class="col"><input type="text" class="form-control nomcontainer" data-id="{{container.id}}" placeholder=" {{container.nom}}"></div>
								<div class="col">Position en X</div>
								<div class="col"><input type="text" class="form-control xcontainer" data-id="{{container.id}}" placeholder=" {{container.x}}"></div>
								<div class="col">Position en Y</div>
								<div class="col"><input type="text" class="form-control ycontainer" data-id="{{container.id}}" placeholder=" {{container.y}}"></div>
								{% if evenement.payant==true %}
									<div class="col">Prix</div>
									<div class="col"><input type="text" class="form-control price" data-id="{{container.id}}" placeholder="{{container.pricePlace}}"></div>
								{% endif %}
							</div>
							<div class="row container">
								{% set idsContainer='' %}
								{% for place in container.places %}
									{% if place.verrouiller == true or place.utilisateur  %}
										{% set bold = "bg-secondary" %}
									{% else %}

										{% set bold = "" %}
									{% endif %}
									{% if place.utilisateur %}
										{% if idsContainer=='' %}
											{% set idsContainer = idsContainer ~ place.utilisateur.id %}
										{% else %}
											{% set idsContainer = idsContainer ~ ',' ~ place.utilisateur.id %}
										{% endif %}
										{% if idsEvenement=='' %}
											{% set idsEvenement = idsEvenement ~ place.utilisateur.id %}
										{% else %}
											{% set idsEvenement = idsEvenement ~ ',' ~ place.utilisateur.id %}
										{% endif %}
									{% endif %}
									{% include "gestion/evenement/_placeContainer.html.twig"%}
								{% endfor %}
							</div>
							<div class="row">
								<div class="col text-center m-1">
									<a href="{{ path('gestion_evenement_container_dupliquer', {'id_container': container.id}) }}">
										<button class="btn btn-primary">Dupliquer ce container</button>
									</a>
								</div>
								<div class="col text-center m-1">
									<a href="{{ path('gestion_evenement_container_ajout_place', {'id_container': container.id}) }}">
										<button class="btn btn-primary">Ajouter une place</button>
									</a>
								</div>
								<div class="col text-center m-1">
									<form method="post" action="{{ path('gestion_evenement_container_delete', {'id': container.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce container?');">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ container.id) }}">
										<button class="btn btn-danger">
											<i class="bi bi-trash"></i>
										</button>
									</form>
								</div>
							</div>
							<div class="row">
								<div class="col text-center m-1">
									{% if not idsContainer=='' %}
										<a href="{{ path('gestion_correspondance_message', {'ids': idsContainer}) }}">
											<button class="btn btn-primary">Envoyer un message aux utilisateurs inscrits à ce container</button>
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col text-center m-1">
		{% if not idsEvenement=='' %}
			<a href="{{ path('gestion_correspondance_message', {'ids': idsEvenement}) }}">
				<button class="btn btn-primary">Envoyer un message aux utilisateurs inscrits à l'evenement</button>
			</a>
		{% endif %}
	</div>
	<div class="col text-center m-1">
		<a href="{{ path('gestion_evenement_container_new', {'id_evenement': evenement.id}) }}">
			<button class="btn btn-primary">Ajouter un nouveau container</button>
		</a>
	</div>
</div>