{{form_start(formEvenement)}}
{{ form_row(formEvenement.nom) }}
{{ form_row(formEvenement.section) }}
{{ form_row(formEvenement.localisation) }}
{{ form_row(formEvenement.description) }}
{{ form_row(formEvenement.quota) }}
{{ form_row(formEvenement.reduction) }}
{{ form_row(formEvenement.actif) }}
{{ form_row(formEvenement.payant) }}
{{ form_row(formEvenement.plan) }}
{{ form_row(formEvenement.imageFile) }}
{{ form_row(formEvenement.largeur) }}
{{ form_row(formEvenement.hauteur) }}
{{form_end(formEvenement)}}