<a href="{{ path('gestion_evenement_option_new', {'id_evenement': evenement.id}) }}">
	<button class="btn btn-primary">Ajouter une nouvelle option</button>
</a>

<div class="table-responsive">
	<table class="table table-bordered" id="OptionEvenementTable" width="100%" cellspacing="0">
		<thead class="text-center">
			<tr>
				<th>Nom</th>
				<th>Prix</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody class="text-center">
			{% for option in options %}
				<tr>
					<td>{{ option.name }}</td>

					<td>{{option.price| format_currency('EUR', locale='fr')}}</td>

					<td>
						<a href="{{ path('gestion_evenement_option_edit', {'id': option.id}) }}">
							<button class="btn btn-primary">
								<i class="bi bi-pencil-square"></i>
							</button>
						</a>
					</td>
					<td>
						<form method="post" action="{{ path('gestion_evenement_option_delete', {'id': option.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette option?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
							<button class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</button>
						</form>
					</td>
				</tr>


			{% else %}
				<tr>
					<td colspan="4">Pas d'option enregistrée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>