	<div class="{{bold}} place">

		<div class="">
			<input type="text" class="form-control nom" data-id="{{place.id}}" placeholder=" {{place.nom }} ">
		</div>
		<div class="">
			<select class="form-select utilisateur" aria-label="utilisateur" data-id="{{place.id}}">
				<option {{place.utilisateur ? '': 'selected'}}>Choisir un utilisateur</option>
				{% for utilisateur in utilisateurs %}
					<option {% if place.utilisateur.id is defined %} {{place.utilisateur.id == utilisateur.id ? 'selected': ''}} {% endif %} value="{{utilisateur.id}}">{{utilisateur.nom ~ ' ' ~ utilisateur.prenom}}</option>
				{% endfor %}
			</select>
		</div>
		{% if place.utilisateur %}
			<div class="">
				<a href="{{ path('gestion_evenement_container_annuler', {'id_place': place.id}) }}" class="btn btn-danger">ANNULER</a>
			</div>
		{% endif %}
		<div class="row">
			<div class="col m-1">Verrouiller</div>
			<div class="col m-1">
				<label class="form-switch mt-2">
					<input class="form-check-input verrouiller" type="checkbox" {{ place.verrouiller ? ' checked' : ' ' }} data-id="{{ place.id }}">
					<span class="slider"></span>
				</label>
			</div>
			<div class="col m-1">
				<form method="post" action="{{ path('gestion_evenement_container_place_delete', {'id_place': place.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette place?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
					<button class="btn btn-danger">
						<i class="bi bi-trash"></i>
					</button>
				</form>
			</div>

		</div>
	</div>