{% extends 'gestion/layoutGestionEvenement.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('editEvenementGestion') }}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('editEvenementGestion') }}
	{# {{ encore_entry_script_tags('formEvenement') }} #}
{% endblock %}
{% block title %}Evenement
{% endblock %}

{% block sousElement %}

	<div class=" p-2">
		<nav>
			<div class="nav nav-pills nav-justified border" id="nav-tab" role="tablist">
				<button class="nav-link {% if ancre == 'info' %}active{% endif %}" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Informations</button>
				<button class="nav-link {% if ancre == 'billet' %}active{% endif %}" id="billet-tab" data-bs-toggle="tab" data-bs-target="#billet" type="button" role="tab" aria-controls="billet" aria-selected="false">Billet</button>
				<button class="nav-link {% if ancre == 'container' %}active{% endif %}" id="container-tab" data-bs-toggle="tab" data-bs-target="#container" type="button" role="tab" aria-controls="container" aria-selected="false">Containers</button>
				<button class="nav-link {% if ancre == 'option' %}active{% endif %}" id="option-tab" data-bs-toggle="tab" data-bs-target="#option" type="button" role="tab" aria-controls="option" aria-selected="false">Options</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade {% if ancre == 'info' %}show active{% endif %}" id="info" role="tabpanel" aria-labelledby="info-tab">

				<div class="row">{% include "gestion/evenement/_infoEvenement.html.twig"%}</div>
			</div>
			<div class="tab-pane fade {% if ancre == 'billet' %}show active{% endif %}" id="billet" role="tabpanel" aria-labelledby="billet-tab">

				<div class="row">{% include "gestion/evenement/_billet.html.twig"%}</div>
			</div>
			<div class="tab-pane fade {% if ancre == 'container' %}show active{% endif %}" id="container" role="tabpanel" aria-labelledby="container-tab">

				<div class="row">{% include "gestion/evenement/_containerEvenement.html.twig"%}</div>
			</div>
			<div class="tab-pane fade {% if ancre == 'option' %}show active{% endif %}" id="option" role="tabpanel" aria-labelledby="option-tab">

				<div class="row">{% include "gestion/evenement/_optionEvenement.html.twig"%}</div>
			</div>
		</div>
	</div>

{% endblock %}