{% extends 'gestion/layoutGestionEvenement.html.twig' %}
{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('indexEvenement') }}

{% endblock %}

{% block title %}Evenement
{% endblock %}

{% block sousElement %}

	<a href="{{ path('gestion_evenement_new') }}">
		<button class="btn btn-primary">Ajouter un nouveau évenement</button>
	</a>

	<div class="table-responsive">
		<table class="table table-bordered" id="paiementEvenementTable" width="100%" cellspacing="0">
			<thead class="text-center">
				<tr>
					<th>Nom</th>
					<th>Ouvert à</th>
					<th>Nb de réservation max</th>
					<th>Nb de places</th>
					<th>Nb de places libres</th>
					<th>Ouvert</th>
					<th>Editer</th>
					<th>Plan</th>
					<th>Réservations</th>
					<th>Les paiements</th>
					<th>Options commandées</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody class="text-center">
				{% for evenement in evenements %}
					<tr>
						<td>{{ evenement.nom }}</td>
						{% if evenement.section %}
							<td>
								{{evenement.section.nom}}
								<a href="{{ path('gestion_evenement_relance', {'id': evenement.id}) }}" title="Message aux utilisateurs qui n'ont pas encore de réservation">
									<button class="btn btn-primary">
										<i class="bi bi-envelope"></i>
									</button>
								</a>
							</td>
						{% else %}
							<td>Tous les utilisateurs</td>
						{% endif %}
						<td>{{evenement.quota}}</td>
						<td>
							{{ evenementService.placesEvenement(evenement)['Nb place'] }}
						</td>
						<td>{{ evenementService.placesEvenement(evenement) ['Nb place libre']}}</td>
						<td>{{evenement.actif? 'Oui':'Non'}}</td>
						<td>
							<a href="{{ path('gestion_evenement_edit', {'id': evenement.id,'ancre':'info'}) }}">
								<button class="btn btn-primary">
									<i class="bi bi-pencil-square"></i>
								</button>
							</a>
						</td>

						<td class="text-center">
							{% if evenement.plan %}
								<a href="{{ path('gestion_evenement_plan', {'id': evenement.id}) }}">
									<button class="btn btn-primary">
										<i class="bi bi-map"></i>
									</button>
								</a>
							{% endif %}
						</td>
						<td>

							<a href="{{ path('gestion_evenement_liste', {'id': evenement.id}) }}">
								<button class="btn btn-primary">
									<i class="bi bi-list-task"></i>
								</button>
							</a>

						</td>
						<td>
							{% if evenement.payant %}
								<a href="{{ path('gestion_evenement_paiement_evenement_index', {'id_evenement': evenement.id}) }}">
									<button class="btn btn-primary">
										<i class="bi bi-currency-euro"></i>
									</button>
								</a>
							{% endif %}
						</td>
						<td>
							{% if evenement.options|length > 0 %}
								<a href="{{ path('gestion_evenement_option_purchase_index', {'id_evenement': evenement.id}) }}">
									<button class="btn btn-primary">
										<i class="bi bi-gift"></i>
									</button>
								</a>
							{% endif %}
						</td>
						<td>
							<a href="{{ path('gestion_evenement_dupliquer', {'id': evenement.id}) }}">
								<button class="btn btn-primary">Dupliquer cet événement</button>
							</a>
						</td>
						<td>
							<form method="post" action="{{ path('gestion_evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet évenement?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</tr>


				{% else %}
					<tr>
						<td colspan="5">Pas d'évenement enregistré</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}