{% extends 'gestion/layoutGestionEvenement.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('tableauFree') }}
	{{parent()}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('tableauFree') }}
{% endblock %}


{% block title %}Reservation
{% endblock %}

{% block sousElement %}

	<h3>Liste des reservations :
		{{evenement.nom}}
	</h3>
	<div id="toolbar" class="action-contenaire">
		<div class="action">
			<div class="p-1">
				<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtre" role="button" data-bs-toggle=" tooltip" data-bs-placement=" top" title="Filtrer">
					FILTRER
				</button>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="filtre" data-bs-keyboard="false" data-bs-backdrop="false">

					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body p-2">{{form_start(form)}}
						<div class="row">{{form_row(form.q)}}</div>
						<div class="row">{{form_row(form.reglementAJour)}}</div>
						<div class="row">{{form_row(form.nb)}}</div>
						<button type="submit" class="btn btn-primary w-100">FILTRER</button>
						{{form_end(form)}}
					</div>
				</div>
			</div>
			<div class="p-1">
				<button id="selection" class="btn btn-secondary">Tout sélectionner</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1">
				<button id="messageUtilisateur" class="btn btn-secondary">Message</button>
			</div>
		</div>
		<div class="action">
			<div class="p-1" id="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="colonnes" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-layout-three-columns"></i>
				</button>
				<ul id="itemBox" class="dropdown-menu p-2" aria-labelledby="colonnes"></ul>
			</div>
			<div class="p-1">
				<button id="CSV" class="btn btn-secondary">CSV</button>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover" id="listeEvenement">
			<thead>
				<tr>
					<th class="colonne cache notSelected"></th>
					<th class="colonne cache notSelected">id</th>
					<th class="colonne sorted">
						{{ knp_pagination_sortable(reservations, 'Nom', 'utilisateur.nom') }}
					</th>
					<th class="colonne sorted">
						{{ knp_pagination_sortable(reservations, 'Prénom', 'utilisateur.prenom') }}
					</th>
					<th class="colonne cache">Mail</th>
					<th class="colonne cache">Portable</th>
					<th class="colonne">
						Réservations
					</th>
					<th class="colonne">Montant des réservations</th>
					<th class="colonne">Montant des options</th>
					<th class="colonne">Montant Payé</th>
					<th class="colonne sorted">{{ knp_pagination_sortable(reservations, 'Réglement à jour', 'solde') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for reservation in reservations %}

					<tr>
						<td class="cache">{{reservation.utilisateur.id}}</td>
						<td class="cache">{{reservation.id}}</td>
						<td class="">
							{{ reservation.utilisateur.nom}}
						</td>
						<td class="">{{ reservation.utilisateur.prenom }}</td>
						<td class="cache">{{reservation.utilisateur.email}}</td>
						<td class="cache">{{reservation.utilisateur.portable}}</td>
						<td class="">
							{% for place in evenementService.reservation(reservation.utilisateur, evenement) %}
								<li>{{place.nom}}
									-
									{{place.container.nom}}</li>
							{% endfor %}
						</td>

						<td class="">{{evenementService.montantTotalReservation(reservation.utilisateur, evenement)['totalReservation']| format_currency('EUR', locale='fr')}}</td>
						<td class="">{{evenementService.montantOptions(reservation.utilisateur, evenement)| format_currency('EUR', locale='fr')}}</td>
						<td class="">{{evenementService.montantTotalPaiement(reservation.utilisateur, evenement)| format_currency('EUR', locale='fr')}}</td>
						<td class="">{{reservation.solde}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col">
			<div class="navigation">{{ knp_pagination_render(reservations) }}</div>
		</div>
		<div class="col">
			<div class="count">Nb d'enregistrement :{{ reservations.getTotalItemCount }}</div>
		</div>
	</div>


{% endblock %}
