{% extends 'gestion/layoutGestionEvenement.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('formEvenement') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('formEvenement') }}
{% endblock %}
{% block title %}Nouveau
{% endblock %}
{% block sousElement %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Nouvel évenement
			</div>
		</div>
		<div class="paquet-contenu p-2">
			{{form_start(formEvenement)}}
			{{ form_row(formEvenement.nom) }}
			{{ form_row(formEvenement.section) }}
			{{ form_row(formEvenement.localisation) }}
			{{ form_row(formEvenement.description) }}
			{{ form_row(formEvenement.quota) }}
			{{ form_row(formEvenement.actif) }}
			{{ form_row(formEvenement.payant) }}
			{{ form_row(formEvenement.plan) }}
			{{ form_row(formEvenement.imageFile) }}
			{{ form_row(formEvenement.largeur) }}
			{{ form_row(formEvenement.hauteur) }}
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_evenement_index', {'id_saison': saisonEnCours.id}) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formEvenement)}}
		</div>
	</div>
</div>
<div class="col-md-3"></div></div>{% endblock %}