{% extends 'intervenant/layoutIntervenant.html.twig' %}

{% block title %}messagerie
{% endblock %}


{% block element %}
<div class="container">
<div class="row justify-content-center">

		<div class="col">
			<div class="card">
				<div class="card-header">
					Messagerie
				</div>
				<div class="card-body">
					<div class="row">
						{% include "intervenant/message/_navbarMessage.html.twig" %}</div>
					<div class="row">
						{% block tableau %}{% endblock %}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
