{% extends 'intervenant/message/layoutMessage.html.twig' %}

{% block title %}Messagerie : message

{% endblock %}

{% block tableau %}

	<div class="section">
		<div class="row">
			<div class="col-12">

				<h2>{{message.titre}}</h2>
				<p>Message de :
					{{message.expediteur.nom ~ ' ' ~ message.expediteur.prenom}}</p>
				<p>{{message.createdat|date("d/m/Y à H : i", "Europe/Paris")}}</p>
				<div>{{message.message|raw}}</div>
				<a href="{{ path('intervenant_message_repondre', {'id_destinaire': message.expediteur.id, 'titre': message.titre}) }}" class="btn btn-primary">Repondre</a>

			</div>

		</div>
	</div>


{% endblock %}
