.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.produit {
    background-color: rgb(201, 195, 195);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;    
    border-radius: 1em;
    box-shadow: 0 5px 10px rgb(100, 93, 93);
}

.produit>* {
    padding: 5px;
}

.produit img {
    border-radius: 1em;
    margin: auto;
}

.produits {
    background-color: rgb(201, 195, 195);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    // width: 300px;
    // margin: auto;
    // height: auto;
    margin: 10px;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgb(100, 93, 93);
}

.info {
    margin: 10px;
    padding: 5px;
    border-radius: 1em;
    background-color: rgb(223, 217, 217);
    max-width: 768px;
}

.produits a {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.produits img {
    border-radius: 1em;
    height: 250px;
    margin: auto;
}

.produits>* {
    padding: 10px;
}