body {
  background-color: rgb(222, 245, 252);
}

.tag {
  z-index: 5;
  padding-left: 20px;
  position: absolute;
}

/* page utilisateur */


.picto {

  align-self: center;
  margin-left: 10px;
  font-size: 4rem;
}

.lien {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.info {

  align-self: flex-start;
  padding: 5px 5px 0 0;
  font-size: 1rem;
}

.info>a {
  color: red;
}