{% extends 'gestion/layoutGestion.html.twig' %}

{% block title %}RegleTarifaire
{% endblock %}

{% block element %}
	<div class="paquet">
		<div class="paquet-header">
			<div class="card-header">Toutes les régles tarifaires de la saison :
				{{saison.saison}}
				{% if saison.id==saisonEnCours.id %}
					<a href="{{path('gestion_regle_new') }}">
						<button class="btn btn-primary">Ajouter une nouvelle régle</button>
					</a>
				{% endif %}
			</div>
		</div>
		<div class="paquet-contenu">
			<div class="table-responsive">
				<table class="table table-bordered" id="regleTarifaireTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>nom</th>
							<th>niveau</th>
							<th>operateur</th>
							<th>parametre</th>
							<th>Villes</th>
							<th>montant</th>
							<th></th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{% for regle in regleTarifaires %}
							<tr>
								<td>{{regle.nom}}</td>
								<td>{{regle.niveau.nom}}</td>
								<td>{{regle.operateur.nom}}</td>
								<td>{{regle.parametre}}</td>
								<td>
									{% for ville in regle.villes %}
										{{ville}}
										<br>
									{% endfor %}
								</td>
								<td>{{regle.montant| format_currency('EUR', locale='fr')}}</td>

								{% if saison.id==saisonEnCours.id %}
									<td>
										<a href="{{ path('gestion_regle_edit', {'id': regle.id}) }}">
											<button class="btn btn-primary">
												<i class="bi bi-pencil-square"></i>
											</button>
										</a>
									</td>
									<td>
										<form method="post" action="{{ path('gestion_regle_delete', {'id': regle.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet regle?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ regle.id) }}">
											<button class="btn btn-danger">
												<i class="bi bi-trash"></i>
											</button>
										</form>
									</td>


								{% else %}
									<td></td>
									<td></td>
								{% endif %}

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}