{% extends 'gestion/layoutGestion.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('formRegleTarifaire') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('formRegleTarifaire') }}
{% endblock %}

{% block title %}Regle Tarifaire
{% endblock %}

{% block element %}
	<div class="paquet reduire">
		<div class="paquet-header">
			<div class="card-header">Nouvelle Régle Tarifaire

			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div>
				{{form_start(formRegle)}}
				{{form_row(formRegle.nom)}}
				{{form_row(formRegle.niveau)}}
				{{form_row(formRegle.operateur)}}
				{{form_row(formRegle.parametre)}}
				{{form_row(formRegle.villes)}}
				{{form_row(formRegle.montant)}}
			</div>
			<div class="text-center">
				<button class="btn btn-primary btn" type="submit">Enregistrer</button>
				<a href="{{ path('gestion_regle_index', {'id_saison': saisonEnCours.id }) }}">
					<button class="btn btn-secondary" type="button">Annuler</button>
				</a>
			</div>
			{{form_end(formRegle)}}
		</div>
	</div>
{% endblock %}