{% extends 'gestion/layoutGestionBoutique.html.twig' %}


{% block title %}Modification du paiement
{% endblock %}

{% block sousElement %}

	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Modifier le paiement

			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div class="row">

				<div class="col">
					{{form_start(formPaiement)}}
<div class="row">
	<div class="col-12 col-md-4">{{form_row(formPaiement.montant)}}</div>
	<div class="col-12 col-md-4">{{form_row(formPaiement.encaissement)}}</div>

	<div class="col-12 col-md-4">{{form_row(formPaiement.encaisse)}}</div>
</div>
<div class="row">
	<div class="col-12 col-md-4">{{form_row(formPaiement.typeDePaiement)}}</div>
	<div class="col-12 col-md-4">{{form_row(formPaiement.banque)}}</div>
	<div class="col-12 col-md-4">{{form_row(formPaiement.reference)}}</div>
</div>
					{{form_row(formPaiement.remarque)}}
					<div class="text-center">
						<button class="btn btn-primary btn" type="submit">Enregistrer</button>
						<a href="{{ path('gestion_boutique_paiement_purchase_index', {'id_purchase': paiement.purchase.id}) }}">
							<button class="btn btn-secondary" type="button">Annuler</button>
						</a>
					</div>

					{{form_end(formPaiement)}}


				</div>

			</div>
		</div>


	{% endblock %}