{% extends 'gestion/layoutGestionBoutique.html.twig' %}
{% block javascripts %}
	{{parent()}}
{{ encore_entry_script_tags('indexPurchasePaiement') }}


{% endblock %}


{% block title %}Paiement Commande
{% endblock %}

{% block sousElement %}

	<div class="row p-3">
		<div class="col">
			<div class="card">
				<div class="card-header">Liste des paiements de la commande : n°{{purchase.id}}
					de
					{{purchase.utilisateur.nom}}
					{{purchase.utilisateur.nom}}

					<a href="{{ path('gestion_boutique_paiement_purchase_new', {'id_purchase': purchase.id}) }}" class="btn btn-primary">Ajouter un paiement</a>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="paiementDossierTable" width="100%" cellspacing="0">

							<thead>
								<tr>
									<th class="text-center">Type</th>
									<th class="text-center">Encaissement</th>
									<th class="text-center">Montant</th>
									<th class="text-center">Banque</th>
									<th class="text-center">Réference</th>
									<th class="text-center">encaissé</th>
									<th class="text-center">Remarque</th>
									<th class="text-center" colspan="2">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for paiement in purchase.paiementBoutiques %}
									<tr>
										<td class="text-center">
											{{paiement.typeDePaiement}}
										</td>
										<td class="text-center">
											{{paiement.encaissement}}
										</td>
										<td class="text-center">
											{{paiement.montant| format_currency('EUR', locale='fr') }}

										</td>
										<td class="text-center">
											{{paiement.banque}}
										</td>
										<td class="text-center">
											{{paiement.reference}}
										</td>
										<td class="text-center">
											<label class="form-switch mt-2">
												<input class="form-check-input encaisser" type="checkbox" {{ paiement.encaisse ? ' checked' : ' ' }} data-id="{{paiement.id}}">
												<span class="slider"></span>
											</label>

										</td>
										<td class="text-center">
											{{paiement.remarque}}
										</td>
										<td class="text-center">

											<a href="{{ path('gestion_boutique_paiement_purchase_edit', {'id': paiement.id}) }}">
												<button class="btn btn-primary">
													<i class="bi bi-pencil-square"></i>

												</button>
											</a>
										</td>
										<td class="text-center">
											<form method="post" action="{{ path('gestion_boutique_paiement_purchase_delete', {'id': paiement.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce paiement?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paiement.id) }}">
												<button class="btn btn-danger">
													<i class="bi bi-trash"></i>
												</button>
											</form>

										</td>
									</tr>
								{% else %}
									<tr>
										<td class="text-center" colspan="8">Aucun paiement</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>


				</div>
			</div>
		</div>


	</div>
{% endblock %}
