{% extends 'gestion/layoutGestionDossier.html.twig' %}

{% block title %}Paiement
{% endblock %}

{% block element %}
	<div class="paquet reduireL">
		<div class="paquet-header">
			<div class="card-header">Ajouter un paiement

			</div>
		</div>
		<div class="paquet-contenu p-2">
			<div class="row">

				<div class="col">
					{{form_start(formPaiement)}}
					<div class="row">
						<div class="col-12 col-md-4">{{form_row(formPaiement.montant)}}</div>
						<div class="col-12 col-md-4">{{form_row(formPaiement.encaissement)}}</div>

						<div class="col-12 col-md-4">{{form_row(formPaiement.encaisse)}}</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-4">{{form_row(formPaiement.typeDePaiement)}}</div>
						<div class="col-12 col-md-4">{{form_row(formPaiement.banque)}}</div>
						<div class="col-12 col-md-4">{{form_row(formPaiement.reference)}}</div>
					</div>
					{{form_row(formPaiement.remarque)}}
					<div class="text-center">
						<button class="btn btn-primary btn" type="submit">Enregistrer</button>
						<a href="{{ path('gestion_dossier_edit', {'id': dossier,'ancre': 'paiement_none_none'}) }}">
							<button class="btn btn-secondary" type="button">Annuler</button>
						</a>
					</div>

					{{form_end(formPaiement)}}


				</div>

			</div>
		</div>


	{% endblock %}