<div id="plan" data-id="{{evenement.id}}" data-width="{{evenement.largeur}}" data-height="{{evenement.hauteur}}" {% if vich_uploader_asset(evenement,'imageFile') %} style="background-image: url({{asset(vich_uploader_asset(evenement,'imageFile'))}});" {% endif %}>
	<div id="cont" class="col">
		{% for c in evenement.containers %}
			<div id="{{c.id}}" class="w-auto ball" data-nom="{{c.nom}}" style="left: {{c.x}}px; top: {{c.y}}px;transform: rotate({{c.angle}}deg); position: absolute;)">
				<table style="border: 1px solid #333;background-color: rgba(0,0,255,.1">
					<tbody>
						<tr>
							{% for p in c.places %}
								{% if not p.utilisateur and p.verrouiller == false %}
									<td class="place bg-success" style="width:{{c.largeur}}px; height:{{c.hauteur}}px;">
										<a class="link-light" href="{{ path('utilisateur_place_reserver', {'id_place': p.id}) }}">{{p.nom}}</a>

									</td>
								{% else %}
									{% if p.utilisateur == app.user %}
										<td class="place bg-danger" style="width:{{c.largeur}}px; height:{{c.hauteur}}px">

											<a class="link-light" href="{{ path('utilisateur_place_annuler', {'id_place': p.id}) }}">{{p.nom}}</a>

										</td>
									{% else %}
										<td class="place bg-secondary" style="width:{{c.largeur}}px; height:{{c.hauteur}}px"></td>

									{% endif %}
								{% endif %}
							{% endfor %}
						</tr>
					</tbody>
				</tr>
			</tbody>
		</table>
	</div>
{% endfor %}</div></div>