{% extends 'base.html.twig' %}

{% block title %}Evenement
{% endblock %}


{% block contenu %}
	<div class="container p-2">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 ">
				<div class="my-5">
					<div class="row">
						{% block element %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
