{% set total = 0 %}
<div>
	<div class="row info">
		<div id="reservation" class="cadre">
			<div class="row">
				<h5>Liste de vos réservations</h5>
			</div>

			<div class="row">
				<div class="col-8">Emplacement</div>
				<div class="col-4">Prix</div>
			</div>

			{% for container in evenement.containers %}
				{% for place in container.places %}
					{% if place.utilisateur == app.user %}
						<div class="row placeReserved" data-idplacereserved={{place.id}} data-price={{place.container.pricePlace}}>
							<div class="col-8">{{container.nom}}-{{place.nom}}</div>
							{% if evenement.payant==true %}
								<div class="col-4">{{container.pricePlace| format_currency('EUR', locale='fr') }}
									{% set total = total+container.pricePlace %}</div>
							{% else %}
								<div class="col">Gratuit</div>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
			{% if reductionAmount > 0 %}
				<div id='reduction-applied' class="row">
					<div class="col-8">Réduction:</div>
					<div class="col-4">{{ reductionAmount| format_currency('EUR', locale='fr') }}</div>
				</div>
			{% endif %}
			<div id='total-reservation' class="row">
				{% if evenement.payant==true %}
					<div class="col-8">Total :</div>
					<div id="montant-total" class="col-4">{{ totalReservation| format_currency('EUR', locale='fr') }}</div>
				{% endif %}
			</div>


		</div>

		{% if evenement.options|length > 0 %}
			<div id='option' class="cadre" {{ reservation ? "style='display:block'":"style='display:none'" }}>
				<div class="row">
					<h5>Option(s)</h5>
				</div>
				<div class="row">
					<div class="col-6">Désignation</div>
					<div class="col-6"></div>
				</div>

				{% for option in evenement.options %}
					<div class="row">
						<div class="col-6">{{option.name}}
							(prix unitaire:
							{{option.price| format_currency('EUR', locale='fr')}})</div>
						<div class="col-6">
							<div class="row text-center">
								<div class="col-4">
									<a href="{{path("utilisateur_evenement_option_purchase_delete", {'id':option.id})}}" class="btn btn-sm btn-primary">
										<i class="bi bi-dash-circle"></i>
									</a>
								</div>
								<div class="col-4 qtyOption">
									{% if options %}
										{% for op in options %}
											{% if op.name == option.name %}
												{{op.qty}}
												{# {% else %}
												                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                0 #}
											{% endif %}
										{% endfor %}
									{% else %}
										0
									{% endif %}
								</div>
								<div class="col-4">
									<a href="{{path("utilisateur_evenement_option_purchase_add", {'id':option.id})}}" class="btn btn-sm btn-primary">
										<i class="bi bi-plus-circle"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="row text-center">
					<div class="col-6">Total :</div>
					<div id="paiementOption" class="col-6">{{totalOptions| format_currency('EUR', locale='fr') }}</div>
				</div>
			</div>
		{% endif %}

		{% if evenement.payant==true %}
			<div id="paiement" class="cadre">
				<div class="row">
					<h5>Liste de vos paiements</h5>
				</div>
				<div class="row">
					<div class="col-8">Type</div>
					<div class="col-4">Montant</div>
				</div>

				{% if paiementEvenements | length>0 %}
					{% for item in paiementEvenements %}
						<div class="row">
							<div class="col-8">{{item.typeDePaiement}}</div>
							<div class="col-4">{{item.montant| format_currency('EUR', locale='fr') }}</div>
						</div>
					{% endfor %}
				{% endif %}
				<div class="row">
					<div class="col-8">Total :</div>
					<div id="totalPaiement" class="col-4">{{totalPaiement| format_currency('EUR', locale='fr') }}</div>
				</div>
			</div>
		{% endif %}
		{# {% if solded == false  %} #}
		<div id="stripeDiv" class="row text-center" {{ solded == false ? "style='display:block'":"style='display:none'" }}>
			{% if reservationStripe %}
				<button id="checkout-button">
					<i class="bi bi-credit-card"></i>
					Paiement en CB</button>
			{% endif %}
		</div>

		<div id="billetDiv" class="row text-center" {% if (solded and reservation ) %} style='display:block' {% else %} style='display:none' {% endif %}>
			<a href="{{ path('utilisateur_pdf_billet', {'id_evenement': evenement.id}) }}">
				<button class="btn btn-secondary" type="button">
					<i class="bi bi-ticket"></i>
					Télécharger vos billets</button>
			</a>
		</div>
		{# {% endif %} #}
	</div>
</div>
