<div class="containers">
	<div class="tab-content " id="myTabContent">
		<div class="accordion " id="accordion">
			{% for container in evenement.containers %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading{{loop.index}}" >
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{container.id}}" aria-expanded="true" aria-controls="collapse{{container.id}}">
							{{container.nom}}
						</button>
					</h2>
					<div id="collapse{{container.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
						<div class="accordion-body">
							<div class="container-permanence">

								{% for place in container.places %}
									{% if not place.utilisateur and place.verrouiller == false %}
										<div class="place-permanence bd-success ">
											<div class="text-center m-1">
												{{place.nom}}
											</div>
											<div class='text-center'>Libre</div>
											<div class="row m-1">
												<a href="{{ path('utilisateur_place_reserver', {'id_place': place.id, 'id_utilisateur':app.user.id}) }}" class="btn btn-primary">RESERVER</a>
											</div>
										</div>
									{% else %}
										{% if place.utilisateur == app.user %}
											<div class="place-permanence  bg-danger">
												<div class="text-center m-1">
													{{place.nom}}
												</div>
												<div class='text-center'>Notre réservation</div>
												<div class="row m-1">
													<a href="{{ path('utilisateur_place_annuler', {'id_place': place.id}) }}" class="btn btn-danger">ANNULER</a>
												</div>
											</div>
										{% else %}
											<div class="place-permanence bg-secondary">
												<p>Reservé</p>
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>