{% extends 'utilisateur/layoutUtilisateur.html.twig' %}
{% block title %}Evenement
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	<style type="text/css">
		#localisation {
			/* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
			height: 400px;
		}
		
	</style>
	{{ encore_entry_link_tags('editEvenement') }}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
	<script>
		let lat = {{ latitude }};
let lon = {{ longitude }};
	</script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		const strikePublicCle = "{{ stripePublicCle }}";
	</script>

	{{ encore_entry_script_tags('editEvenement') }}

{% endblock %}
{% block contenu %}

	<div class="paquet">
		<div id="evenement" class="paquet-header" data-id="{{evenement.id}}">{{evenement.nom}}
			(nombre de places disponibles :
			<span id="libre">{{places['Nb place libre']}}</span>
			sur les
			{{places['Nb place']}}
			)
		</div>
		<div class="paquet-contenu">
			<div id="container" class="container-fluid p-2">
				<div id="reglage" class="my-2 p-2 text-center">
					<div class="row p-2">
						<p>{{evenement.description|raw}}</p>
					</div>
					<div class="legende">
						<div class="legende-item bg-success">Places Libres</div>
						<div class="legende-item bg-danger">Vos places</div>
						<div class="legende-item bg-secondary">Places occupées</div>
					</div>
					<div id="utilisateur" data-utilisateur={{app.user.id}}></div>
				</div>
				<div id="notification" class="notification"></div>
				<div id="ancre" class="ancre">
					{% if (solded and reservation ) %}
						<a href="#billetDiv">Vos billet(s)</a>
					{% else %}
						{% if stripe and reservation %}
							<a href="#stripeDiv">Paiement</a>
						{% endif %}
					{% endif %}
				</div>
				<div id="interface-reservation">

					{% if evenement.plan %}
						{% include "utilisateur/evenement/_plan.html.twig"%}
					{% else %}
						{% include "utilisateur/evenement/_permanence.html.twig"%}
					{% endif %}
				</div>
				<div id="pied">
					{% include "utilisateur/evenement/_paiement.html.twig"%}
					<div class="row m-4" id="localisation"></div>
				</div>

			</div>
		</div>

	{% endblock %}
