{% extends 'utilisateur/layoutUtilisateur.html.twig' %}
{% block title %}Evènement(s)
{% endblock %}

{% block contenu %}
	<div class="paquet reduireL mt-2">
		<div class="paquet-header">Evénement(s)
		</div>
		<div class="paquet-contenu">
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for evenement in evenements %}
						{% if evenement.actif %}
							{% if evenementService.autorisationEvenement(app.user, evenement.section) %}
								<tr>
									<td>{{ evenement.nom }}</td>
									<td>
										<a href="{{ path('utilisateur_evenement_edit', {'id': evenement.id}) }}">
											<button class="btn btn-primary">
												Réserver
											</button>
										</a>
									</td>
								</tr>
							{% endif %}
						{% endif %}
					{% else %}
						<tr>
							<td colspan="2">Pas d'évenement enregistré</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>{% endblock %}