<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
	<h1 style="color: #333; border-bottom: 2px solid #0066cc; padding-bottom: 10px;">Rappel : Votre dossier pour la nouvelle saison</h1>

	<p>Bonjour
		{% if contenu.utilisateur.prenom %}
			{{ contenu.utilisateur.prenom }}
		{% else %}
			{{ contenu.utilisateur.email }}
		{% endif %},</p>

	<p>Nous avons remarqué que vous n'avez pas encore créé votre dossier pour la nouvelle saison.</p>

	<p>Un certain nombre de cours sont déja complets!!</p>
	<p style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
		N'attendez pas trop, si vous souhaitez poursuivre votre activité
	</p>


	<p>Connectez-vous à votre compte sur notre site web.</p>


	<p style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
		Si vous avez des questions ou besoin d'aide, n'hésitez pas à nous contacter. Nous sommes là pour vous aider !
	</p>

	<p>Nous avons hâte de vous retrouver pour cette nouvelle saison !</p>

	<p style="margin-top: 20px;">Cordialement,</p>
	<p>{{ nomStructure }}</p>

	<div style="margin-top: 30px; font-size: 12px; color: #666; border-top: 1px solid #ddd; padding-top: 10px;">
		{{ signatureMail | raw }}
	</div>
</div>
