<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Votre dossier nécessite votre attention - {{ nomStructure }}</title>
    </head>
    <body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;">
        <header style="background-color: #f0f0f0; padding: 20px; text-align: center; border-radius: 5px 5px 0 0;">
            <h1 style="color: #4a4a4a; margin: 0;">{{ nomStructure }}</h1>
        </header>

        <main style="padding: 20px;">
            <p style="font-size: 16px;">Bonjour {{ destinataire.prenom }},</p>
            
            <div style="background-color: #f9f9f9; border-left: 4px solid #007bff; padding: 15px; margin: 20px 0;">
                {{ contenu|nl2br }}
            </div>

            <p style="font-size: 16px;">N'hésitez pas à nous contacter si vous avez des questions ou besoin de plus d'informations.</p>

            <p style="font-size: 16px;">Cordialement,</p>

            <p style="font-size: 16px; font-weight: bold;">{{ signatureMail }}</p>
        </main>

        <footer style="background-color: #f0f0f0; padding: 20px; text-align: center; font-size: 12px; border-radius: 0 0 5px 5px;">
            <p style="margin: 0;">Ce message a été envoyé automatiquement. Merci de ne pas répondre directement à cet e-mail.</p>
            <p style="margin: 5px 0 0;">Pour nous contacter, veuillez utiliser les coordonnées fournies sur notre site web.</p>
        </footer>
    </body>
</html>