<p>Bonjour {{ destinataire.prenom }},</p>

<p>{{nomStructure}} vous informe de :</p>


<p>{{contenu|raw}}</p>


<p>Cordialement,</p>

<p>{{signatureMail}}</p>
<br>
<small>Ce courriel vous a été envoyé par un système automatique d'émission de messages.
L'adresse d'émission n'est pas une adresse de courriel classique.
Si vous écrivez à cette adresse, votre message ne sera pas pris en compte.
</small>



