<p>Bonjour {{ destinataire.prenom }},</p>

<p>
	Nous vous informons que nous avons mis à votre disposition un message dans votre boîte de réception
	{{nomStructure}}.
</p>
<p><b>Sujet : {{contenu}}</b></p>
<p>
	Nous vous invitons à vous identifier sur votre espace personnel du site
	{{nomStructure}}
	pour en prendre connaissance.
</p>
<p>
<a href="{{urlEspace}}utilisateur/message/reception">Accéder à votre boite sur votre espace personnel</a>
</p>

<p>Cordialement,</p>

<p>{{signatureMail}}</p>
<br>
<small>
	Ce courriel vous a été envoyé par un système automatique d'émission de messages.
		L'adresse d'émission n'est pas une adresse de courriel classique.
		Si vous écrivez à cette adresse, votre message ne sera pas pris en compte.
</small>
