<p>
<a href="{{urlEspace}}gestion/message/reception">Accéder à votre boite sur votre espace personnel</a>
</p>


<br>
<small>
	Ce courriel vous a été envoyé par un système automatique d'émission de messages.
					L'adresse d'émission n'est pas une adresse de courriel classique.
					Si vous écrivez à cette adresse, votre message ne sera pas pris en compte.
</small>
