<p>Bonjour {{ destinataire.prenom }},</p>

<p>
	Nous vous informons qu'un message a été posté dans un chat auquel vous etez abonné.
</p>
<p>
	Nous vous invitons à vous identifier sur votre espace personnel du site
	{{nomStructure}}
	pour en prendre connaissance.
</p>
<p>
<a href="{{urlEspace}}utilisateur/dossier/show">Accéder à votre espace personnel</a>
</p>

<p>Cordialement,</p>

<p>{{signatureMail}}</p>
<br>
<small>
	Ce courriel vous a été envoyé par un système automatique d'émission de messages.
		L'adresse d'émission n'est pas une adresse de courriel classique.
		Si vous écrivez à cette adresse, votre message ne sera pas pris en compte.
</small>
