<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouveau message dans le chat</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }
        .container { width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; }
        .header { background-color: #4CAF50; color: white; padding: 10px; text-align: center; }
        .content { background-color: #f4f4f4; padding: 20px; }
        .button { display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Nouveau message dans le chat</h1>
        </div>
        <div class="content">
            <p>Bonjour {{ destinataire.prenom }},</p>
            {% if contenu is defined and contenu.courseName is defined %}
                <p>Un nouveau message a été posté dans le chat du cours <strong>{{ contenu.courseName }}</strong>.</p>
            {% else %}
                <p>Un nouveau message a été posté dans un chat.</p>
            {% endif %}
            
            {% if contenu is defined and contenu.sender is defined %}
                <p><strong>{{ contenu.sender }}</strong> a écrit :</p>
            {% else %}
                <p>Un utilisateur a écrit :</p>
            {% endif %}
            
            {% if contenu is defined and contenu.messagePreview is defined %}
                <blockquote>{{ contenu.messagePreview }}</blockquote>
            {% else %}
                <blockquote>Contenu du message non disponible</blockquote>
            {% endif %}
            
            <p>Pour voir les messages de ce chat et répondre, cliquez sur le bouton ci-dessous :</p>
            
            {% if contenu is defined and contenu.courseId is defined %}
                <p><a href="{{ url('utilisateur_chat_show', {'id_cours': contenu.courseId}) }}" class="button">Voir le chat</a></p>
            {% else %}
                <p>Lien vers le chat non disponible</p>
            {% endif %}
            
            <p>Cordialement,<br>{{signatureMail}}</p>
        </div>
    </div>
</body>
</html>