<p>Bonjour {{ destinataire.prenom }},</p>

<p>Le paiement de votre reservation s'est parfaitement déroulé.</p>

<p>Vos billets sont disponibles :</p>

<ul>
	<li>Connectez-vous à votre espace personnel à l'aide de vos identifiants
	</li>
	<li>Cliquez sur "Les événements", puis sur l'évenement en question
	</li>
</ul>

<p>Cordialement,</p>

<p>{{signatureMail}}</p>

<small>
	Ce courriel vous a été envoyé par un système automatique d'émission de messages.
		L'adresse d'émission n'est pas une adresse de courriel classique.
		Si vous écrivez à cette adresse, votre message ne sera pas pris en compte.
</small>

