<p>Bonjour {{ destinataire.prenom }},</p>

<p>Le paiement de votre commande s'est parfaitement déroulé.</p>

<p>Votre facture est disponible :</p>

<ul>
	<li>Connectez-vous à votre espace personnel à l'aide de vos identifiants
	</li>
	<li>Cliquez "Accéder à la boutique, puis vos commandes
	</li>
</ul>

<p>Cordialement,</p>

<p>{{signatureMail}}</p>

<small>
	Ce courriel vous a été envoyé par un système automatique d'émission de messages.
		L'adresse d'émission n'est pas une adresse de courriel classique.
		Si vous écrivez à cette adresse, votre message ne sera pas pris en compte.
</small>

