{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	<link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
	<style>

		.azuremediaplayer {
			max-width: 100%;
			height: auto;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>
{% endblock %}
{% block title %}Le direct
{% endblock %}

{% block body %}


	<div class="paquet reduireL mt-2">
		<div class="paquet-header">Le direct
		</div>
		<div class="paquet-contenu">
			<div style="position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;">
				<video id="vid1" class="azuremediaplayer amp-default-skin" autoplay controls poster="poster.jpg" data-setup='{"nativeControlsForTouch": false}' style="position:absolute; width:100%; height:100%; top:0; left:0;">
					<source src="{{information.lienLive}}" type="application/vnd.ms-sstr+xml"/>
					<p class="amp-no-js">
						To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
					</p>
				</video>
			</div>
		</div>
	</div>


{% endblock %}