@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import "~bootstrap-table/dist/bootstrap-table.min.css";
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://cdn.jsdelivr.net/gh/akottr/dragtable@master/dragtable.css");